@{
    ViewData["Title"] = "статья - ";
    Layout = "~/Views/Shared/_LayoutRu.cshtml";
}

<style>
    .article-header {
        font-size: 21px;
        margin: 10px 0;
        line-height: 1.1;
        text-transform: uppercase;
    }

    .article-content-header {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1;
        color: #111111;
        text-decoration: none !important;
    }

    .article-content p {
        color: #111111;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.65;
        margin: 0 0 10px;
        text-align: justify;
    }

    .article-content a {
        color: #093a33;
    }
    /* Custom Styles */
    .ekip {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        /*         transition: transform 0.3s ease;
             */ border: 1px solid #ccc;
        margin-bottom: 20px;
    }

        .ekip img {
            object-fit: cover;
            position: relative;
            width: 100%;
            min-height: 220px;
            max-height: 220px;
        }


        .ekip .card-body {
            position: relative;
            margin-top: 0;
            padding: 1rem;
            flex: 1;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.05), 0 1px 3px 0 rgba(0,0,0,.1);
            background: #ffffff;
            display: flex;
            flex-direction: column;
        }

            .ekip .card-body a {
                text-decoration: none;
            }

        /* .ekip:hover {
                        transform: scale(1.05);
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                    } */

        .ekip .card-title {
            width: 100%;
            margin-top: 0 !important;
            color: #000;
            margin: 0px 0px 30px;
            padding: 0px 0px 4px;
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        .ekip .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff !important;
            text-transform: none !important;
            font-size: 1em !important;
            font-weight: 600 !important;
            margin-top: 0 !important;
            padding: 10px 0 0 0 !important;
            letter-spacing: .5px;
            border-top: 2px solid #ccc !important;
        }

        .ekip .read-more-btn {
            color: #000;
            text-decoration: underline;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative; /* Önemli: position değeri ekleyin */
            font-size: 12px;
            text-align: left;
        }


            .ekip .read-more-btn i {
                margin-left: 5px; /* Ok ikonu ile metin arasında boşluk bırakmak için */
            }

            .ekip .read-more-btn:hover {
                color: #093a33;
            }

        .ekip .social-icons {
            display: flex;
            gap: 10px; /* İkonlar arasında boşluk bırakmak için */
        }

        .ekip .social-icon {
            color: #093a33;
            font-size: 20px;
        }
</style>

<body>
    <section class="ftco-section">
        <div class="container p-lg-0">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/banner1000.png" />
                <span>Статьи</span>
            </div>
        </div>
        <div class="container p-0" style="margin-top:100px">
            <ol class="breadcrumb border-1 border-bottom" style="border-color:#093a33 !important;">
                <li class="breadcrumb-item"><a href="/ru/HomePageRu">Главная</a></li>
                <li class="breadcrumb-item"><a href="/ru/ArticlesRu">Статьи</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Личная и юридическая перспектива на растущую чувствительность к животным
                </li>
            </ol>
        </div>
    </section>


    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="card ekip">
                    <img src="~/assets/img/avukat-yunus-emre-oz.jpg" class="card-img-top img-fluid" alt="Фото лица 2">
                    <div class="card-body">
                        <div>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal2">
                                <h3 class="card-title ms-1 mb-5">юр. Yunus Emre Öz</h3>
                            </a>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <div class="social-icons d-flex">
                                <a href="mailto:yunusemreoz@ozpartnershukuk.com" class="social-icon">
                                    <i class="fas fa-envelope" style="font-size:20px;"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/yunusemre%C3%B6z" target="_blank" class="social-icon">
                                    <i class="fab fa-linkedin" style="font-size:20px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-9 article">
                <h1 class="article-header" style="color: #093a33; font-weight: bold;">Растущая чувствительность к животным: личная и правовая перспектива</h1>
                <hr />
                <p class="article-date" style="color: black; font-size: 13px;">Дата: 01/12/2022</p>
                <div class="article-content">
                    <ol class="article-content-header" style="list-style-type: upper-alpha;">
                        <li><strong>Введение</strong></li>
                    </ol>
                    <p>
                        Тяжелое ранение 4-летней Асие Атеш в результате нападения 2 питбулей возродило долгожданное беспокойство по отношению к бродячим животным. Этот инцидент дал мне возможность сделать субъективные и личные оценки с точки зрения других социальных наук, помимо юридических перспектив. Темы, такие как заметное увеличение общественной любви к животным в последние годы и новации, внесенные в права животных с принятием закона в июле 2021 года, долгое время занимали мое внимание.
                    </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="2">
                        <li><strong>Историческая социоэкономика</strong></li>
                    </ol>
                    <p>
                        Не вполне поддерживая в целом знаменитую точку зрения философа и экономиста Карла Маркса, невозможно не заметить: <strong>"Основа определяет надстройку".</strong> Другими словами, ценности, такие как верования, образ жизни, культура, политика и право, называемые надстройкой, являются результатом экономических отношений, составляющих основу. Однако сельское хозяйство, определенное как экономическая деятельность концентрации растений и животных в определенных областях для получения экономической ценности различными методами, не всегда было таким. Оно стало общепринятой практикой примерно 10-12 тысяч лет назад с так называемой "сельскохозяйственной революцией", которая положила конец образу жизни охотника-собирателя.
                        Это историческое развитие превратило растения и животных в экономические ресурсы и средства производства для людей. Особенно фокусируясь на животных, их систематически разводили для увеличения их численности, их молоко и мясо умножали с использованием определенных методов, и они стали источником энергии для привода мельниц или использовались в качестве средств транспорта и транспорта, а также были сельскохозяйственным элементом. Другими словами, отношение между людьми и животными стало вопросом использования этих существ в качестве экономической товарной массы для выживания.
                        До недавнего времени мы жили в аграрных обществах. Появление изобретений, таких как паровая машина в XVII и XVIII веках, создало новую экономическую модель за пределами сельского хозяйства, введя "промышленную революцию". Эта революция принесла быструю урбанизацию. Соотношение между сельским / городским населением, которое долгое время было в пользу сельских районов, начало радикально меняться в пользу городского населения. С течением времени профессии диверсифицировались, и в то время как большинство обществ было в основном занято сельским хозяйством, это равновесие изменилось в пользу тех, кто работает в сфере обслуживания.
                        С точки зрения животных изменения в их жизни были такими же революционными, как и для людей. В этом новом порядке люди больше не должны были терпеть трудности и трудности по уходу за мелкими и крупными скотами, лошадьми или охраной стад собак; вместо этого они полагались на фабрики, машины, грузовики, компьютеры и алгоритмы. Экономическая роль животных для людей значительно ослабла, но не исчезла; она преобразовалась и приобрела силу совершенно другим способом. Мы до сих пор живем в промышленном обществе, которое сформировало свою собственную семью и тип человека. Сельская среда, с большими семьями, многократными семьями, дальними и близкими родственниками, и всеми, знающими друг друга в деревне, уступила место индивидуумам, перемещающимся из сельских районов для учебы в больших городах, так же как муравьи, собравшиеся вокруг капли меда, чтобы прокормить себя. В этом новом обществе люди жили в одиночестве, вдали от своих семей, либо в студенческих домах в качестве студентов, либо холостяки, которые еще не думали о детях, несмотря на достижение возраста брака, или люди, уже покинувшие детский гнездо и устроившие независимую жизнь. (Вы поймете, остановившись и подумав на мгновение, что такие примеры присутствуют вокруг вас и в вашей жизни.)
                        ;Для преодоления одиночества внутри этого промышленного общества, особенно в последние годы, домашние животные, особенно кошки, собаки и птицы, стали компаньонами, жизненными партнерами, близкими друзьями, родственниками или даже членами семьи для многих людей.
                    </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="3">
                        <li><strong>Пересечение с законом</strong></li>
                    </ol>
                    <p>
                        Наука права, предметом которой являются люди, а цель и метод - регулирование общества через правила, не может быть мыслима и рассматриваться, не исключая социологию, уместно называемую "социологией", и экономику.<a href="#_ftn3" name="_ftnref3" title="">[3]</a>
                        По мере того как индивидуальные и общественные опыты, ценности и важные вещи изменяются и развиваются, также меняются значение, область применения и последствия, придаваемые им правом.
                        Поскольку восприятие общества о животных смещалось от экономической ценности для выживания к пониманию их как спутников, жизненных партнеров, близких друзей, родственников или членов семьи, право должно было соответствовать этому. В противном случае оно бы повредило совесть общества.<a href="#_ftn4" name="_ftnref4" title="">[4]</a>
                        По этим причинам права животных постепенно достигли уровня ценности, защищенной правовыми нормами во всем мире. В нашей стране Закон о защите животных № 5199 в 2004 году и, более недавно, изменения, внесенные в закон № 7332, стали конкретными шагами в этом направлении.
                        ;
                    </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="4">
                        <li><strong>Последствия нового закона</strong></li>
                    </ol>
                    <p>
                        Расширение области прав животных и увеличение наказаний до более сдерживающих уровней, которые были громко заявлены общественностью и гражданским обществом многие годы, наконец, были рассмотрены. Однако из-за статуса Турции как государства безблагосостояния (и ухода от этого стандарта с каждым днем) и серьезной нестабильности, которую она пережила в последние годы, голоса часто игнорировались правящими властями, так как всегда были более насущные и критические вопросы. Наконец, 14 июля 2021 года вступил в силу поправочный закон № 7332, который внес значительные изменения в Закон о защите прав животных № 5199. К этим изменениям относятся:
                        <strong>D.1.</strong> Как чрезвычайно значимое достижение впервые введены сроки заключения за "пытки или жестокое и бесчеловечное обращение с животными" и за "сексуальное насилие или изнасилование" животных. До поправок эти деяния рассматривались не как преступления, а как административные правонарушения, и нарушителям угрожали простыми административными штрафами без явки перед судьей. С поправками лица теперь будут судиться и осуждаться к тюремному заключению до трех лет без условий собственности, материального/телесного вреда. В случаях сексуального насилия или изнасилования к лишению свободы добавляется штраф.
                        ;
                        <strong>D.2.</strong> Деяние оставления домашнего питомца, ситуация, часто встречаемая ветеринарами, где животное дарят или покупают и оставляют на лечение бывшие владельцы, но не забирают его обратно, теперь наказуемо, но не считается преступлением. Поэтому за это предусмотрен административный штраф, а не тюремное заключение.
                        <strong>D.3. </strong>После вступления закона в силу нельзя открывать новые цирки и дельфинарии. Тем не менее в соответствии с правовой безопасностью, требованием правового государства, предоставляется дополнительное 10-летнее разрешение на эксплуатацию существующим циркам и дельфинариям для защиты приобретенных прав операторов. Несмотря на это право, в течение 10 лет до их закрытия запрещено заменять уменьшающихся животных новыми.
                        <strong>D.4.</strong> Область действия существующего положения о том, что долг хозяина домашнего питомца не может быть арестован из-за долга домашнего питомца, была расширена для увеличения ее применения.
                        ;
                    </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="5">
                        <li><strong>Заключение и оценка</strong></li>
                    </ol>
                    <p>
                        В сущности, законодательство, оставленное изменениями, перечисленными в предыдущем подзаголовке, было ясным проявлением в правовой сфере того, как животных рассматривали как коммерческий продукт в аграрных обществах, тесно связанный с идеями, изложенными на протяжении всей статьи. Новые нормативы, с другой стороны, отказались от понимания, что видит животных как объекты и обращается с ними соответственно. Он приблизил животных к статусу, где они рассматриваются как спутники, жизненные партнеры и члены семьи. Другими словами, экономические балансы сначала изменились в образе жизни, а затем правовые правила. Иными словами, основа определила новую надстройку.
                    </p>
                </div>

                <hr />
                <p class="article-author">юр. Yunus Emre Öz</p>
                <p class="article-date">01/12/2022</p>
            </div>
        </div>
    </div>
</body>
