@{
    ViewData["Title"] = "корпоративный - ";
    Layout = "~/Views/Shared/_LayoutRu.cshtml";
}
<style>
    .logo-container {
        display: flex;
        justify-content: flex-end;
        width: 100%; /* Div'in genişliğini 100% olarak ayarlayın */
    }

        .logo-container img {
            max-height: 50px;
            object-fit: contain;
        }

    .info {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    .border-bottom1 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .firm-name {
        color: #093a33; /* Koyu yeşil renk */
        margin: 0;
        font-size: 1.5em; /* Font boyutunu biraz büyüttüm, istediğiniz gibi ayarlayabilirsiniz */
        font-weight: bold;
        text-align: center; /* Metni ortala */
        padding: 10px 0; /* Kenar boşluğu ekledim */
    }

    .social-icons {
        display: flex;
        gap: 10px;
    }

    .social-icon {
        color: #093a33;
        font-size: 20px;
    }

    .phone-number {
        color: #000;
        margin: 0;
        font-size: 1em;
        font-weight: 600;
    }

    .contact-btn {
        background-color: #093a33;
        color: #fff;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
    }

        .contact-btn:hover {
            background-color: #10665a;
            color: #fff;
        }

    .corporateCard {
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-radius: 0px;
    }
</style>
<body>
    <section class="ftco-section">
        <div class="container p-lg-0">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/banner1000.png" />
                <span class="shadow-lg">Корпоративный</span>
            </div>
        </div>
        <div class="container p-0" style="margin-top:100px">
            <ol class="breadcrumb border-1 border-bottom">
                <li class="breadcrumb-item"><a href="/ru/HomePageRu">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Корпоративный</li>
            </ol>
        </div>
    </section>
    <div class="container-fluid">
        <div class="container">
            <div class="row shadow">
                <div class="col-lg-3">
                    <div class="">
                        <div class="info">
                            <div class="d-flex justify-content-center border-bottom1">
                                <!-- Firma İsmi -->
                                <h3 class="firm-name">
                                    Öz <span class="caviar-dreams-font">&</span> Partners Юридическая консультация
                                </h3>
                            </div>
                            <div class="">
                                <!-- LinkedIn ve Email ikonları -->
                                <div class="social-icons justify-content-center">
                                    <a href="mailto:info@ozpartnershukuk.com" class="social-icon">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/company/oz-partners/" target="_blank" class="social-icon">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-9 article">
                    <div class="card corporateCard">
                        <div class="card-body">
                            <p class="card-text" style="text-align:justify;">
                                Основанный в 1974 году адвокатом Эмином Эзом, юридический офис работает почти 50 лет, представляя разнообразный портфель клиентов, включая выдающихся личностей и организации в Мерсине.
                            </p>
                            <p class="card-text" style="text-align:justify;">
                                В 2018 году к команде присоединился адвокат Yunus Emre Öz, а в 2019 году - адвокат Kaan Karataş, унаследовав знания и опыт, накопленные за полвека. Таким образом, Юридическое бюро "Эз и Партнеры", одно из самых долго существующих, известных и уважаемых юридических фирм в регионе, еще больше укрепило свою позицию.
                            </p>
                            <p class="card-text" style="text-align:justify;">
                                Юридическое бюро "Эз и Партнеры" сосредотачивается на прозрачности перед клиентами, на крепких связях с публичными органами, дисциплинированной и научной работе для достижения эффективных результатов в кратчайшие сроки по юридическим вопросам своих клиентов.
                            </p>
                            <p class="card-text" style="text-align:justify;">
                                Расположенное в Мерсине, <b><i>Юридическое бюро "Эз и Партнеры"</i></b> предоставляет профессиональные услуги по разрешению юридических вопросов в различных областях права своим клиентам во многих частях Турции.
                            </p>
                            <div class="logo-container">
                                <img src="~/assets/img/Logo/MainLogo.png" alt="Firma Logosu">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Vanilla JavaScript ile yapılan değişiklikler buraya eklenecek
    </script>
</body>