@{
    ViewData["Title"] = "Наши Сферы - ";
    Layout = "~/Views/Shared/_LayoutRu.cshtml";
}
<style>
    .c_icon {
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }

        .c_icon:hover {
            transform: scale(1.05);
        }
</style>

<body>
    <!-- Раздел Практических Областей -->
    <section class="ftco-section">
        <div class="container p-lg-0">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/banner1000.png" />
                <span>Наши Сферы</span>
            </div>
        </div>
        <div class="container p-0" style="margin-top:100px">
            <ol class="breadcrumb border-1 border-bottom">
                <li class="breadcrumb-item"><a href="/ru/HomePageRu">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Наши Сферы</li>
            </ol>
        </div>
    </section>
    <div class="container-fluid">
        <div class="container calisma">
            <div class="row justify-content-center">
                <!-- Закон о возмещении ущерба -->
                <div class="col-lg-6 col-md-12">
                    <div class="col-md-12">
                        <div class="c_icon shadow" onclick="toggleText('compensation')">
                            <div class="c_icon_img">
                                <img src="~/assets/img/CalismaAlanlarimiz/profit.png" alt="Закон о возмещении ущерба" class="">
                            </div>
                            <h4>Закон о возмещении ущерба</h4>
                        </div>
                        <div class="c_icon_text" style="text-align:justify; display:none;" id="compensationText">
                            <p>
                                Закон о возмещении ущерба является одной из основных и наиболее часто используемых отраслей существующего законодательства, а также одной из наиболее подверженных судебным разбирательствам областей права. Он включает в себя компенсации, связанные в основном с медицинскими ошибками, дорожными происшествиями, ущербом, вызванным недостатками административной деятельности, и компенсациями, возникающими из преступных действий. Закон о возмещении ущерба регулирует юридические процессы по возмещению ущерба, причиненного физическим или моральным вредом частным лицам или организациям. Запросы на возмещение ущерба обычно подаются с целью компенсации материального или морального ущерба.
                            </p>
                        </div>
                    </div>
                    <!-- Торговое и корпоративное право -->
                    <div class="col-md-12">
                        <div class="c_icon shadow" onclick="toggleText('commercial')">
                            <div class="c_icon_img">
                                <img src="~/assets/img/CalismaAlanlarimiz/briefcase.png" alt="Торговое и корпоративное право">
                            </div>
                            <h4>Торговое и корпоративное право</h4>
                        </div>
                        <div class="c_icon_text" style="text-align:justify; display:none;" id="commercialText">
                            <p>
                                Мерсин выделяется как торговый город из-за своего стратегического расположения как портового города и важной точки для наземных перевозок, что приводит к разнообразным торговым спорам. Торговое и корпоративное право является одной из основных областей экспертизы юридического бюро "Оз и Партнеры". Бюро обладает всей необходимой юридической поддержкой для торговой компании с учетом личного коммерческого опыта основателя адвоката Эмина Оза.
                            </p>
                        </div>
                    </div>
                    <!-- Уголовное право -->
                    <div class="col-md-12">
                        <div class="c_icon shadow" onclick="toggleText('criminal')">
                            <div class="c_icon_img">
                                <img src="~/assets/img/CalismaAlanlarimiz/handcuffs.png" alt="Уголовное право">
                            </div>
                            <h4>Уголовное право</h4>
                        </div>
                        <div class="c_icon_text" style="text-align:justify; display:none;" id="criminalText">
                            <p>
                                Уголовное право - одна из основных отраслей права, требующая тщательного изучения, так как она включает в себя ограничение свободы личности. Также представляет собой аспект уголовного делопроизводства, известного как представление истца. Важно отметить, что некоторые преступления, определенные законами, могут быть разрешены мирным путем перед подачей иска. Важно также, чтобы представитель обеих сторон имел преимущество на стадии урегулирования.
                            </p>
                            <p>
                                Кроме того, во многих случаях гражданские иски о возмещении ущерба сопровождают уголовные дела.
                            </p>
                        </div>
                    </div>

                    <!-- Административное, налоговое и таможенное право -->
                    <div class="col-md-12">
                        <div class="c_icon shadow" onclick="toggleText('tax')">
                            <div class="c_icon_img">
                                <img src="~/assets/img/CalismaAlanlarimiz/tax (1).png" alt="Административное, налоговое и таможенное право">
                            </div>
                            <h4>Административное, налоговое и таможенное право</h4>
                        </div>
                        <div class="c_icon_text" style="text-align:justify; display:none;" id="taxText">
                            <p>
                                В области отношений гражданина с государством, где противостоящей стороной является государство, крайне важно, чтобы клиент получил эффективную юридическую поддержку для предотвращения ущерба от действий мощных государственных органов. Эти области требуют специальных знаний, отличных от других областей права, и могут быть успешно освоены только опытными практикующими.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- Семейное и разводное право -->
                    <div class="col-md-12">
                        <div class="c_icon shadow" onclick="toggleText('family')">
                            <div class="c_icon_img">
                                <img src="~/assets/img/CalismaAlanlarimiz/broken.png" alt="Семейное и разводное право">
                            </div>
                            <h4>Семейное и разводное право</h4>
                        </div>
                        <div class="c_icon_text" style="text-align:justify; display:none;" id="familyText">
                            <p>
                                В этой области права процессы, касающиеся личной и частной жизни клиентов, должны проводиться с соблюдением конфиденциальности и высокой степени сотрудничества. Разводное право, являющееся подотраслью семейного права, составляет наиболее значимую часть этой широкой области. Разводные дела могут быть оспариваемыми или проводиться по соглашению сторон. Попечительство, алименты, имущественный режим брака, материальная компенсация и компенсация за моральный вред, также известная как компенсация за страдания, являются другими основными предметами разногласий.
                            </p>
                            <p>
                                В рамках Закона о защите семьи и предотвращении насилия в отношении женщин № 6284 особенно важно обращаться за юридической поддержкой в случаях, связанных с насилием, с целью подачи заявления о предупредительных и защитных мерах через адвоката и обеспечения юридического представительства в процессе, что дает преимущество в предотвращении насилия или недобросовестных и несоразмерных мер в отношении другой стороны.
                            </p>
                        </div>
                    </div>
                    <!-- Трудовое право -->
                    <div class="col-md-12">
                        <div class="c_icon shadow" onclick="toggleText('employment')">
                            <div class="c_icon_img">
                                <img src="~/assets/img/CalismaAlanlarimiz/handshake.png" alt="Трудовое право">
                            </div>
                            <h4>Трудовое право</h4>
                        </div>
                        <div class="c_icon_text" style="text-align:justify; display:none;" id="employmentText">
                            <p>
                                Вознаграждения, такие как компенсация за трудовой стаж, компенсация за увольнение и оплата сверхурочных часов, которые являются заслуженными наградами труда работников, часто становятся предметом многих споров в судах. Сбор этих компенсаций крайне важен для работника, в то время как с точки зрения работодателя обеспечение того, чтобы платежи, вызванные трудовыми обязательствами, не были чрезмерными, становится ключевой юридической услугой.
                            </p>
                            <p>
                                В отношении трудовых требований важно помнить, что этап обязательного медиации, определенный законом, должен быть завершен перед судебным этапом, и следует обратить внимание не только на судебный этап, но и на весь процесс, включая этап медиации, с помощью адвоката, что приносит значительные преимущества.
                            </p>
                            <p>Также следует отметить, что иски о компенсации, связанные с трудовыми несчастными случаями и профессиональными заболеваниями, составляют еще один важный аспект трудового права.</p>
                        </div>
                    </div>
                    <!-- Исполнительное право -->
                    <div class="col-md-12">
                        <div class="c_icon shadow" onclick="toggleText('execution')">
                            <div class="c_icon_img">
                                <img src="~/assets/img/CalismaAlanlarimiz/regulations.png" alt="Исполнительное право">
                            </div>
                            <h4>Исполнительное право</h4>
                        </div>
                        <div class="c_icon_text" style="text-align:justify; display:none;" id="executionText">
                            <p>
                                Исполнительное право играет ключевую роль в осуществлении решений суда в пользу стороны и предотвращении неправомерных и необоснованных угроз преследования и обеспечения. Наше юридическое бюро, обладая многолетним опытом в области взыскания долгов и исполнительного производства, предоставляет клиентам качественное обслуживание с учетом возражений и защиты должника.
                            </p>
                        </div>
                    </div>
                    <!-- Право наследования -->
                    <div class="col-md-12">
                        <div class="c_icon shadow" onclick="toggleText('inheritance')">
                            <div class="c_icon_img">
                                <img src="~/assets/img/CalismaAlanlarimiz/MirasHukuku.png" alt="Право наследования">
                            </div>
                            <h4>Право наследования</h4>
                        </div>
                        <div class="c_icon_text" style="text-align:justify; display:none;" id="inheritanceText">
                            <p>
                                Неминуемый конец человеческой жизни, смерть, порождает различные юридические последствия для близких умершего. Для регулирования этих юридических последствий используется Закон о наследовании, представляющий собой отдельную главу Турецкого Гражданского кодекса. Наше бюро предоставляет клиентам услуги по вопросам завещательных распоряжений, их отмены, получения свидетельства о праве на наследство, ведения наследственной книги, отказа от наследства и других вопросов в этой области.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function toggleText(id) {
            var textElement = document.getElementById(id + 'Text');
            textElement.style.display = (textElement.style.display === 'none' || textElement.style.display === '') ? 'block' : 'none';
        }
    </script>
</body>

