@{
    ViewData["Title"] = "CalismaAlanlari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <!-- Practice Areas Section -->
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/CalismaAlanlari/banner900.png" />
                <span>Çalışma Alanlarımız</span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container calisma">
                <div class="row justify-content-center">
                    <!-- Tazminat Hukuku -->
                    <div class="col-md-6 bosluk">
                        <a href="#">
                            <div class="c_icon shadow">
                                <div class="c_icon_img">
                                    <img src="~/assets/img/CalismaAlanlari/MirasHukuku.png" alt="Tazminat Hukuku" class="">
                                </div>
                                <h4>Tazminat Hukuku</h4>
                            </div>
                        </a>
                    </div>
                    <!-- Ticaret ve Şirketler Hukuku -->
                    <div class="col-md-6">
                        <a href="#">
                            <div class="c_icon shadow">
                                <div class="c_icon_img">
                                    <img src="~/assets/img/CalismaAlanlari/briefcase.png" alt="Ticaret ve Şirketler Hukuku">
                                </div>
                                <h4>Ticaret ve Şirketler Hukuku</h4>
                            </div>
                        </a>
                    </div>
                    <!-- Ceza Hukuku -->
                    <div class="col-md-6">
                        <a href="#">
                            <div class="c_icon shadow">
                                <div class="c_icon_img">
                                    <img src="~/assets/img/CalismaAlanlari/handcuffs.png" alt="Ceza Hukuku">
                                </div>
                                <h4>Ceza Hukuku</h4>
                            </div>
                        </a>
                    </div>
                    <!-- İdare, Vergi ve Gümrük Hukuku -->
                    <div class="col-md-6">
                        <a href="#">
                            <div class="c_icon shadow">
                                <div class="c_icon_img">
                                    <img src="~/assets/img/CalismaAlanlari/tax (1).png" alt="İdare, Vergi ve Gümrük Hukuku">
                                </div>
                                <h4>İdare, Vergi ve Gümrük Hukuku</h4>
                            </div>
                        </a>
                    </div>
                    <!-- Aile ve Boşanma Hukuku -->
                    <div class="col-md-6">
                        <a href="#">
                            <div class="c_icon shadow">
                                <div class="c_icon_img">
                                    <img src="~/assets/img/CalismaAlanlari/broken.png" alt="Aile ve Boşanma Hukuku">
                                </div>
                                <h4>Aile ve Boşanma Hukuku</h4>
                            </div>
                        </a>
                    </div>
                    <!-- İş Hukuku -->
                    <div class="col-md-6">
                        <a href="#">
                            <div class="c_icon shadow">
                                <div class="c_icon_img">
                                    <img src="~/assets/img/CalismaAlanlari/handshake.png" alt="İş Hukuku">
                                </div>
                                <h4>İş Hukuku</h4>
                            </div>
                        </a>
                    </div>
                    <!-- İcra Hukuku -->
                    <div class="col-md-6">
                        <a href="#">
                            <div class="c_icon shadow">
                                <div class="c_icon_img">
                                    <img src="~/assets/img/CalismaAlanlari/regulations.png" alt="İcra Hukuku">
                                </div>
                                <h4>İcra Hukuku</h4>
                            </div>
                        </a>
                    </div>
                    <!-- Miras Hukuku -->
                    <div class="col-md-6">
                        <a href="#">
                            <div class="c_icon shadow">
                                <div class="c_icon_img">
                                    <img src="~/assets/img/CalismaAlanlari/MirasHukuku.png" alt="Miras Hukuku">
                                </div>
                                <h4>Miras Hukuku</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>