@{
    ViewData["Title"] = "CalismaAlanlari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="container-fluid">
    <!-- Üstteki Kart -->
        <section class="container hero-wrap hero-wrap-2 custom-img" style="background-image: url('https://placehold.co/900x110');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-3 bread">Practice Areas</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Practice Areas <i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row no-gutters d-flex justify-content-center">
                <div class="col-md-3 text-center">
                    <div class="practice-area border-b no-border-l ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/assets/img/CalismaAlanlari/MirasHukuku.png">
                        </div>
                        <h3>Tazminat Hukuku</h3>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="practice-area border-b no-border-l ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/assets/img/CalismaAlanlari/briefcase.png">
                        </div>
                        <h3>Ticaret ve Şirketler Hukuku</h3>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="practice-area border-b no-border-l ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/assets/img/CalismaAlanlari/handcuffs.png">
                        </div>
                        <h3>Ceza Hukuku</h3>

                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="practice-area border-b no-border-l ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/assets/img/CalismaAlanlari/tax (1).png">
                        </div>
                        <h3>İdare, Vergi ve Gümrük Hukuku</h3>

                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="practice-area border-b no-border-l ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/assets/img/CalismaAlanlari/broken.png">
                        </div>
                        <h3>Aile ve Boşanma Hukuku</h3>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="practice-area border-b no-border-l ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/assets/img/CalismaAlanlari/handshake.png">
                        </div>
                        <h3>İş Hukuku</h3>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="practice-area border-b no-border-l ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/assets/img/CalismaAlanlari/regulations.png">
                        </div>
                        <h3>İcra Hukuku</h3>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="practice-area border-b no-border-l ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/assets/img/CalismaAlanlari/MirasHukuku.png">
                        </div>
                        <h3>Miras Hukuku</h3>
                    </div>
                </div>
                @* <div class="col-md-3 text-center">
                <div class="practice-area no-border-l ftco-animate">
                <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-medicine"></span>
                </div>
                <h3><a href="practice-single.html">Drug Offenses</a></h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
                </div>
                <div class="col-md-3 text-center">
                <div class="practice-area ftco-animate">
                <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-handcuffs"></span>
                </div>
                <h3><a href="practice-single.html">Sexual Offenses</a></h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
                </div> *@
            </div>
        </div>
    </section>
    @* <section class="about-us-section bg-image" style="background-image: url('path-to-your-banner-image.jpg');">
    <div class="container">
    <div class="row">
    <!-- Üstteki Kart Column -->
    <!-- Start Hero Section -->
    <div class="hero">
    <div class="container">
    <div class="row justify-content-between">
    <div class="col-lg-5">
    <div class="intro-excerpt">
    <h1>Faaliyet Alanlarımız</h1>
    <p class="mb-4">Mersin merkezli olan Öz & Partners Avukatlık Ofisi; Türkiye’nin pek çok yerindeki müvekkiline, hukukun pek çok alanındaki sorunlarının çözümünde profesyonel hizmet sağlamaktadır.</p>
    </div>
    </div>
    <div class="col-lg-7">
    <div class="hero-img-wrap">
    <img src="images/couch.png" class="img-fluid">
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- End Hero Section -->
    </div>
    </div>
    </section>


    <!-- Hukuk Alanları Kartları -->
    <section class="mt-4">
    <div class="container">
    <div class="row" id="workAreas">
    <!-- Çalışma Alanı Kartı 1 -->
    <div class="col-md-4 mb-4">
    <div class="card-work border d-flex flex-column align-items-center text-center">
    <div class="card-body-work">
    <h5 class="card-title-work">
    <img src="~/assets/img/CalismaAlanlari/Compensation1.png" class="card-img-top mb-2" alt="Tazminat Hukuku Icon">
    Tazminat Hukuku
    </h5>
    </div>
    </div>
    </div>

    <!-- Çalışma Alanı Kartı 2 -->
    <div class="col-md-4 mb-4">
    <div class="card-work border d-flex flex-column align-items-center text-center">
    <div class="card-body-work">
    <h5 class="card-title-work">
    <img src="~/assets/img/CalismaAlanlari/Corporate1.png" class="card-img-top mb-2" alt="Tazminat Hukuku Icon">
    Ticaret ve Şirketler Hukuku
    </h5>
    </div>
    </div>
    </div>
    <!-- Çalışma Alanı Kartı 3 -->
    <div class="col-md-4 mb-4">
    <div class="card-work border d-flex flex-column align-items-center text-center">
    <div class="card-body-work">
    <h5 class="card-title-work">
    <img src="~/assets/img/CalismaAlanlari/Criminal1.png" class="card-img-top mb-2" alt="Tazminat Hukuku Icon">
    Ceza Hukuku
    </h5>
    </div>
    </div>
    </div>
    <div class="col-md-4 mb-4">
    <div class="card-work border d-flex flex-column align-items-center text-center">
    <div class="card-body-work">
    <h5 class="card-title-work">
    <img src="~/assets/img/CalismaAlanlari/Tax1.png" class="card-img-top mb-2" alt="Tazminat Hukuku Icon">
    İdare, Vergi ve Gümrük Hukuku
    </h5>
    </div>
    </div>
    </div>
    <div class="col-md-4 mb-4">
    <div class="card-work border d-flex flex-column align-items-center text-center">
    <div class="card-body-work">
    <h5 class="card-title-work">
    <img src="~/assets/img/CalismaAlanlari/Divorce1.png" class="card-img-top mb-2" alt="Tazminat Hukuku Icon">
    Aile ve Boşanma Hukuku
    </h5>
    </div>
    </div>
    </div>
    <div class="col-md-4 mb-4">
    <div class="card-work border d-flex flex-column align-items-center text-center">
    <div class="card-body-work">
    <h5 class="card-title-work">
    <img src="~/assets/img/CalismaAlanlari/Employment1.png" class="card-img-top mb-2" alt="Tazminat Hukuku Icon">
    İş Hukuku
    </h5>
    </div>
    </div>
    </div>
    <div class="col-md-4 mb-4">
    <div class="card-work border d-flex flex-column align-items-center text-center">
    <div class="card-body-work">
    <h5 class="card-title-work">
    <img src="~/assets/img/CalismaAlanlari/Execution1.png" class="card-img-top mb-2" alt="Tazminat Hukuku Icon">
    İcra Hukuku
    </h5>
    </div>
    </div>
    </div>
    <div class="col-md-4 mb-4">
    <div class="card-work border d-flex flex-column align-items-center text-center">
    <div class="card-body-work">
    <h5 class="card-title-work">
    <img src="~/assets/img/CalismaAlanlari/Inheritance1.png" class="card-img-top mb-2" alt="Tazminat Hukuku Icon">
    Miras Hukuku
    </h5>
    </div>
    </div>
    </div>
    <!-- Daha Fazla Kart Ekleyebilirsiniz -->
    </div>
    </div>
    </section> *@

    <script>
        // // Kartları dinamik olarak yönetmek için Vanilla JavaScript kullanımı
        // document.addEventListener('DOMContentLoaded', function () {
        //     // Kartları ekleyebilir veya kaldırabilirsiniz
        //     var workAreasContainer = document.getElementById('workAreas');

        //     // Örnek olarak bir kart ekleyelim
        //     var newWorkAreaCard = document.createElement('div');
        //     newWorkAreaCard.className = 'col-md-4';
        //     newWorkAreaCard.innerHTML = '<div class="card"><div class="card-body"><h5 class="card-title text-center">Yeni Çalışma Alanı</h5><p class="card-text">Açıklama buraya.</p></div></div>';

        //     // Kartı konteynıra ekleyelim
        //     workAreasContainer.appendChild(newWorkAreaCard);
        // });
    </script>
</body>
