@{
    ViewData["Title"] = "Çalışma Alanları - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .c_icon {
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }

        .c_icon:hover {
            transform: scale(1.05);
        }
</style>
<body>
    <!-- Practice Areas Section -->
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/bannerNew.png" />
                <span>Çalışma Alanlarımız</span>
            </div>
        </div>
        <div class="container" style="margin-top:100px">
            <ol class="breadcrumb border-1 border-bottom">
                <li class="breadcrumb-item"><a href="Index">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Çalışma Alanlarımız</li>
            </ol>
        </div>
    </section>
    <div class="container-fluid">
        <div class="container calisma">
            <div class="row justify-content-center">
                <!-- Tazminat Hukuku -->
                <div class="col-lg-6 col-md-12">
                    <div class="col-md-12">
                        <div class="c_icon shadow" onclick="toggleText('tazminat')">
                            <div class="c_icon_img">
                                <img src="~/assets/img/CalismaAlanlari/profit.png" alt="Tazminat Hukuku" class="">
                            </div>
                            <h4>Tazminat Hukuku</h4>
                        </div>
                        <div class="c_icon_text" style="text-align:justify; display:none;" id="tazminatText">
                            <p>
                                Güncel hukuk düzeninin en temel ve en sık başvurulan branşlarından olan tazminat hukuku, aynı zamanda en fazla dava açılan hukuk dallarındandır.
                            </p>
                            <p>
                                Tıbbî uygulama hataları (malpraktis), trafik kazaları, idarenin kusuruyla verdiği zararlar, aynı zamanda suç teşkil eden fiilerden kaynaklı tazminatlar ve diğer birçok durum tazminat hukukunu içine alır. Tazminat hukuku, bireylerin veya kuruluşların bir başkasına uğradıkları zararın tazmin edilmesiyle ilgili hukuki süreçleri düzenler. Tazminat talepleri genellikle maddi veya manevi zararların telafisi amacıyla yapılır.
                            </p>
                        </div>
                    </div>
                    <!-- Ticaret ve Şirketler Hukuku -->
                    <div class="col-md-12">
                        <div class="c_icon shadow" onclick="toggleText('ticaret')">
                            <div class="c_icon_img">
                                <img src="~/assets/img/CalismaAlanlari/briefcase.png" alt="Ticaret ve Şirketler Hukuku">
                            </div>
                            <h4>Ticaret ve Şirketler Hukuku</h4>
                        </div>
                        <div class="c_icon_text" style="text-align:justify; display:none;" id="ticaretText">
                            <p>
                                Gerek bir liman şehri olması, gerek kara taşıma için önemli bir lokasyon olarak Mersin;  ticaret şehri vasfıyla ön plana çıkmaktadır ve çok çeşitli ticari uyuşmazlıklara ev sahipliği yapmaktadır.
                            </p><p>
                                Ticaret ve şirketler hukuku; Öz & Partners Avukatlık Ofisi’nin başlıca iştigal alanlarından birini oluşturmaktadır ve ofis, özellikle kurucu Av. Emin Öz’ün hukukçu kimliğinin yanı sıra şahsi ticari faaliyetlerinden edindiği birikimle bir ticari şirketin ihtiyaç duyabileceği her hukuki desteği verme kapasitesine sahiptir.
                            </p>
                        </div>
                    </div>
                    <!-- Ceza Hukuku -->
                    <div class="col-md-12">
                        <div class="c_icon shadow" onclick="toggleText('ceza')">
                            <div class="c_icon_img">
                                <img src="~/assets/img/CalismaAlanlari/handcuffs.png" alt="Ceza Hukuku">
                            </div>
                            <h4>Ceza Hukuku</h4>
                        </div>
                        <div class="c_icon_text" style="text-align:justify; display:none;" id="cezaText">
                            <p>
                                Hukukun başlıca branşlarından olan ceza hukuku; sonucunda kişilerin özgürlüklerinin kısıtlanmasının söz konusu olduğu, dolayısıyla oldukça titiz bir çalışmayı gerektiren özel bir alandır. Öte yandan mağdur, diğer adıyla müşteki vekilliği de ceza yargılamasının bir diğer ayağını oluşturmaktadır.
                            </p>
                            <p>
                                Altını çizmek gerekir ki; kanunda tanımlanan bazı suçlar, hakkında dava açılmadan önce uzlaştırmaya tabi olmaktadır. Uzlaştırma aşamasının da vekille takip edilmesi her iki taraf için de avantaj sağlamaktadır.
                            </p>
                            <p>
                                Ayrıca belirtmek gerekir ki; pek çok durumda, aynı olaya ilişkin tazminat davaları da ceza davalarına eşlik etmektedir.
                            </p>
                        </div>
                    </div>

                    <!-- İdare, Vergi ve Gümrük Hukuku -->
                    <div class="col-md-12">
                        <div class="c_icon shadow" onclick="toggleText('vergi')">
                            <div class="c_icon_img">
                                <img src="~/assets/img/CalismaAlanlari/tax (1).png" alt="İdare, Vergi ve Gümrük Hukuku">
                            </div>
                            <h4>İdare, Vergi ve Gümrük Hukuku</h4>
                        </div>
                        <div class="c_icon_text" style="text-align:justify; display:none;" id="vergiText">
                            <p>
                                Vatandaşların devletle olan münasebetinden kaynaklanan dolayısıyla karşı tarafın devlet olduğu bu alanlarda müvekkilin güçlü kamu otoritesine karşı hak kaybına uğramaması için etkin bir hukuki destek alması gerekmektedir. Söz konusu branşlar; hukukun diğer alanlarından ayrılan, özel bilgi gerektiren ve ancak ehil uygulayıcıların başarılı sonuç alabileceği alanlar olma özelliğini göstermektedir.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- Aile ve Boşanma Hukuku -->
                    <div class="col-md-12">
                        <div class="c_icon shadow" onclick="toggleText('aile')">
                            <div class="c_icon_img">
                                <img src="~/assets/img/CalismaAlanlari/broken.png" alt="Aile ve Boşanma Hukuku">
                            </div>
                            <h4>Aile ve Boşanma Hukuku</h4>
                        </div>
                        <div class="c_icon_text" style="text-align:justify; display:none;" id="aileText">
                            <p>
                                Müvekkillerin kişisel ve özel hayatlarını ele alan hukukun bu alanında süreç gizlilik ve karşılıklı yüksek bir işbirliği içerisinde sürdürülmelidir. Hassas dengeleri olan boşanma hukuku geniş bir alan olan aile hukukunun bir alt dalı olup en önemli kısmını oluşturmaktadır. Boşanma davaları çekişmeli olabileceği gibi anlaşmalı boşanma davası şeklinde de gerçekleşmektedir. Velayet, nafaka, mal rejimi, maddi tazminat ve yıpranma payı olarak da bilinen manevi tazminat gibi konular uyuşmazlığın diğer ana başlıklarıdır.
                            </p>
                            <p>
                                Kamuoyunda özellikle aile içi şiddet vakalarında “uzaklaştırma kararı” olarak bilinen 6284 sayılı “Ailenin Korunması ve Kadına Karşı Şiddetin Önlenmesine Dair Kanun” kapsamındaki önleyici ve koruyucu tedbirler için başvuruların avukat aracılığıyla yapılması ve sürecin vekille takip edilmesi şiddetin önlemesi ya da uyuşmazlığın diğer tarafı için haksız ve orantısız tedbirlerin uygulanmasının önüne geçilmesi noktasında taraflara avantaj sağlamaktadır.
                            </p>
                        </div>
                    </div>
                    <!-- İş Hukuku -->
                    <div class="col-md-12">
                        <div class="c_icon shadow" onclick="toggleText('is')">
                            <div class="c_icon_img">
                                <img src="~/assets/img/CalismaAlanlari/handshake.png" alt="İş Hukuku">
                            </div>
                            <h4>İş Hukuku</h4>
                        </div>
                        <div class="c_icon_text" style="text-align:justify; display:none;" id="isText">
                            <p>
                                İşçilerin alın terlerinin karşılığı olan başta kıdem tazminatı, ihbar tazminatı, fazla çalışma alacağı gibi tazminat kalemleri mahkemeler önündeki çok sayıda uyuşmazlığa hayat vermektedir. İşçi için bu tazminatların tahsili hayati önem taşımaktayken işveren yönünden ise doğru hukuki destekle hak edilenden fazla işçilik alacağı ödemenin önüne geçilmesi oldukça kritik bir avukatlık hizmetidir.
                            </p>
                            <p>
                                Önemle belirtmek gerekir ki işçi alacaklarında dava aşamasından önce kanunen zorunlu arabuluculuk aşaması tamamlanmalıdır ve sadece dava aşaması değil, arabuluculuk aşaması dahil baştan itibaren sürecin avukatla takip edilmesi taraflara büyük avantaj sağlamaktadır.
                            </p>
                            <p>İş kazası ve meslek hastalığından kaynaklanan tazminat davaları da iş hukukunun çok önemli bir diğer konusudur.</p>
                        </div>
                    </div>
                    <!-- İcra Hukuku -->
                    <div class="col-md-12">
                        <div class="c_icon shadow" onclick="toggleText('icra')">
                            <div class="c_icon_img">
                                <img src="~/assets/img/CalismaAlanlari/regulations.png" alt="İcra Hukuku">
                            </div>
                            <h4>İcra Hukuku</h4>
                        </div>
                        <div class="c_icon_text" style="text-align:justify; display:none;" id="icraText">
                            <p>
                                Alacaklının alacağına kavuşması, borçlunun da haksız ve mesnetsiz takip ile haciz tehditlerinden kurtulması için büyük öneme sahip olan icra hukuku, tüm hukuk dalları için ortak ve vazgeçilmez bir kesişim kümesini temsil etmektedir. Mahkemelerde lehe sonuçlanan kararların, gerçek dünyada yerine getirilmesi ve haklının hakkına kavuşması için muhakkak ki icra hukuku devreye girecektir. Avukatlık ofisimiz yıllar yılı süregelen iş tecrübesi ile alacak takibi ve tahsili ile borçlu itiraz ve savunmaları konusunda uzmanlaşmış, müvekkil portföyüne donanımlı bir hizmet sunmaktadır.
                            </p>
                        </div>
                    </div>
                    <!-- Miras Hukuku -->
                    <div class="col-md-12">
                        <div class="c_icon shadow" onclick="toggleText('miras')">
                            <div class="c_icon_img">
                                <img src="~/assets/img/CalismaAlanlari/MirasHukuku.png" alt="Miras Hukuku">
                            </div>
                            <h4>Miras Hukuku</h4>
                        </div>
                        <div class="c_icon_text" style="text-align:justify; display:none;" id="mirasText">
                            <p>
                                İnsanın kaçınılmaz sonu olan ölüm, ölenin yakınları açısından çeşitli hukukî sonuçlar doğurmaktadır. Bu hukukî sonuçların düzenlenmesinde Türk Medeni Kanunu’nun ayrı bir kitabı olan miras hukuku esas alınmaktadır. Ofisimiz ölüme bağlı tasarrufların düzenlenmesi, iptali, mirasçılık belgesinin alınması, tereke defterinin tutulması, mirastan feragat, mirastan çıkarma konularında müvekkillerine hizmet sunmaktadır.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function toggleText(id) {
            var textElement = document.getElementById(id + 'Text');
            textElement.style.display = (textElement.style.display === 'none' || textElement.style.display === '') ? 'block' : 'none';
        }
    </script>
</body>