@{
    ViewData["Title"] = "CalismaAlanlari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="container-fluid">
    <!-- Practice Areas Section -->
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img mb-5">
                <img class="custom-img mb-4" src="~/assets/img/CalismaAlanlari/banner900.png" />
                <span>Çalışma Alanlarımız</span>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center mt-3">
                <!-- Tazminat Hukuku -->
                <div class="col-md-4 text-center mb-4">
                    <div class="practice-area border-b ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/assets/img/CalismaAlanlari/MirasHukuku.png" alt="Tazminat Hukuku">
                        </div>
                        <h3>Tazminat Hukuku</h3>
                    </div>
                </div>

                <!-- Ticaret ve Şirketler Hukuku -->
                <div class="col-md-4 text-center mb-4">
                    <div class="practice-area border-b ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/assets/img/CalismaAlanlari/briefcase.png" alt="Ticaret ve Şirketler Hukuku">
                        </div>
                        <h3>Ticaret ve Şirketler Hukuku</h3>
                    </div>
                </div>

                <!-- Ceza Hukuku -->
                <div class="col-md-4 text-center mb-4">
                    <div class="practice-area border-b ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/assets/img/CalismaAlanlari/handcuffs.png" alt="Ceza Hukuku">
                        </div>
                        <h3>Ceza Hukuku</h3>
                    </div>
                </div>

                <!-- İdare, Vergi ve Gümrük Hukuku -->
                <div class="col-md-4 text-center mb-4">
                    <div class="practice-area border-b ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/assets/img/CalismaAlanlari/tax (1).png" alt="İdare, Vergi ve Gümrük Hukuku">
                        </div>
                        <h3>İdare, Vergi ve Gümrük Hukuku</h3>
                    </div>
                </div>

                <!-- Aile ve Boşanma Hukuku -->
                <div class="col-md-4 text-center mb-4">
                    <div class="practice-area border-b ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/assets/img/CalismaAlanlari/broken.png" alt="Aile ve Boşanma Hukuku">
                        </div>
                        <h3>Aile ve Boşanma Hukuku</h3>
                    </div>
                </div>

                <!-- İş Hukuku -->
                <div class="col-md-4 text-center mb-4">
                    <div class="practice-area border-b ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/assets/img/CalismaAlanlari/handshake.png" alt="İş Hukuku">
                        </div>
                        <h3>İş Hukuku</h3>
                    </div>
                </div>

                <!-- İcra Hukuku -->
                <div class="col-md-4 text-center mb-4">
                    <div class="practice-area border-b ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/assets/img/CalismaAlanlari/regulations.png" alt="İcra Hukuku">
                        </div>
                        <h3>İcra Hukuku</h3>
                    </div>
                </div>

                <!-- Miras Hukuku -->
                <div class="col-md-4 text-center mb-4">
                    <div class="practice-area border-b ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <img src="~/assets/img/CalismaAlanlari/MirasHukuku.png" alt="Miras Hukuku">
                        </div>
                        <h3>Miras Hukuku</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>