
@{
    ViewData["Title"] = "Ekibimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="container-fluid">
    <!-- Üstteki Kart -->
    <section class="about-us-section mt-5">
        <div class="container">
            <div class="row align-items-center">
                <!-- Üstteki Kart Column -->
                <div class="col-lg-12">
                    <div class="card bg-white shadow">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-4">Üstteki Kart Başlık</h2>
                            <p class="card-text">
                                Buraya üstteki kart için açıklamalar gelecek.Buraya üstteki kart için açıklamalar gelecek.Buraya üstteki kart için açıklamalar gelecek.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Altta Üç Kişisel Bilgi Kartı -->
    <section class="mt-5">
        <div class="container">
            <div class="row">
                <!-- Kişisel Kart 1 -->
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/assets/img/avukat-emin-oz.jpg" class="card-img-top" alt="Kişi 1 Fotoğrafı">
                        <div class="card-body">
                            <h5 class="card-title text-center">Emin Öz</h5>
                        </div>
                    </div>
                </div>

                <!-- Kişisel Kart 2 -->
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/assets/img/avukat-yunus-emre-oz.jpg" class="card-img-top" alt="Kişi 2 Fotoğrafı">
                        <div class="card-body">
                            <h5 class="card-title text-center">Yunus Emre Öz</h5>
                        </div>
                    </div>
                </div>

                <!-- Kişisel Kart 3 -->
                <div class="col-md-4">
                    <div class="card">
                        <img src="~/assets/img/avukat-kaan-karatas.jpg" class="card-img-top" alt="Kişi 3 Fotoğrafı">
                        <div class="card-body">
                            <h5 class="card-title text-center">Kaan Karataş</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>