@{
    ViewData["Title"] = "Ekibimiz - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Custom Styles */
    .ekip {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s ease;
        border: 1px solid #ccc;
        margin-bottom: 20px;
    }

        .ekip img {
            object-fit: cover;
            position: relative;
            width: 100%;
            min-height: 220px;
            max-height: 220px;
        }


        .ekip .card-body {
            position: relative;
            margin-top: 0;
            padding: 1rem;
            flex: 1;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.05), 0 1px 3px 0 rgba(0,0,0,.1);
            background: #ffffff;
            display: flex;
            flex-direction: column;
        }

            .ekip .card-body a {
                text-decoration: none;
            }

        .ekip:hover {
            transform: scale(1.05);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .ekip .card-title {
            height: 38px;
            display: block;
            color: #000;
            font-size: 18px;
            line-height: 28px;
            margin: 0;
            font-weight: 700;
        }

        .ekip .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff !important;
            text-transform: none !important;
            font-size: 1em !important;
            font-weight: 600 !important;
            margin-top: 0 !important;
            padding: 0 !important;
            letter-spacing: .5px;
            border-top: 2px solid #ccc !important;
        }

        .ekip .read-more-btn {
            color: #000;
            text-decoration: underline;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative; /* Önemli: position değeri ekleyin */
            font-size: 12px;
            text-align: left;
        }


            .ekip .read-more-btn i {
                margin-left: 5px; /* Ok ikonu ile metin arasında boşluk bırakmak için */
            }

            .ekip .read-more-btn:hover {
                color: #093a33;
            }

        .ekip .social-icons {
            display: flex;
            gap: 10px; /* İkonlar arasında boşluk bırakmak için */
        }
    /* Social Icons */
    .social-icon {
        color: #093a33; /* İstenen renk */
        font-size: 20px;
    }

        .social-icon:hover {
            color: #093a33; /* İstenen renk */
        }


    /* Modal Header */
    .modal-header {
        background-color: #093a33;
        color: #fff;
        border-bottom: 1px solid #ccc;
    }

    .modal-title {
        font-size: 2.5rem;
        text-transform: uppercase; /* Tüm harfleri büyük harfe çevir */
        letter-spacing: 1px; /* Harfler arasındaki boşluğu artır */
        font-family: 'Caviar Dreams Italic' , sans-serif;
    }

    /* Modal Body */
    .modal-body {
        font-size: 1rem;
        line-height: 1.6;
        color: #555;
    }

    /* Modal Footer */
    .modal-footer {
        border-top: 1px solid #ccc;
    }

    /* Close Button */
    .btn-close {
        color: #ffffff !important;
        background-color: #ffffff;
    }

    /* Bio İçeriği için Stil */
    .modal-bio-img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 15px;
    }

    .modal-bio-name {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .modal-bio-mail {
        color: #093a33;
        text-decoration: underline;
        cursor: pointer;
        margin-top: 10px;
    }

    .bio-content {
        text-align: justify;
        margin-bottom: 15px; /* Paragraflar arası alt boşluk ekleniyor */
        margin-top: 0.75em; /* Paragraflar arası üst boşluk ekleniyor */
    }

    .card-subtitle {
        font-size: 13px; /* Daha küçük font boyutu */
        color: #666; /* Soft bir gri renk */
    }

    .ekip img {
        filter: grayscale(100%);
        transition: filter 0.3s ease;
    }

    .ekip:hover img {
        filter: grayscale(0%);
    }
    </style>

<body>
    <section class="ftco-section">
        <div class="container p-lg-0">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/banner1000.png" />
                <span>Ekibimiz</span>
            </div>
        </div>
        <div class="container p-0" style="margin-top:100px">
            <ol class="breadcrumb border-1 border-bottom">
                <li class="breadcrumb-item"><a href="Index">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Ekibimiz</li>
            </ol>
        </div>
    </section>
    <div class="container-fluid mt-2">
        <section class="card-section mb-5">
            <div class="container">
                <!-- Kişisel Kartlar -->
                <div class="row">
                    <!-- Kart 1 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="card ekip shadow-lg">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal1">

                                <img src="~/assets/img/avukat-emin-oz.jpg" class="card-img-top img-fluid" alt="Kişi 1 Fotoğrafı">
                            </a>
                            <div class="card-body">
                                <div>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal1">
                                        <h3 class="card-title ms-1">Av. Emin Öz</h3>
                                        <p class="card-subtitle mb-5">Kurucu Ortak</p>

                                    </a>
                                </div>
                                <div class="card-footer d-flex justify-content-end border-4">
                                    <div class="social-icons d-flex">
                                        <a href="https://www.facebook.com/aveminoz/" target="_blank" class="social-icon">
                                            <i class="fab fa-facebook" style="font-size:20px;"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Kart 1 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="card ekip shadow-lg">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal2">

                                <img src="~/assets/img/avukat-yunus-emre-oz.jpg" class="card-img-top img-fluid" alt="Kişi 2 Fotoğrafı">
                            </a>
                            <div class="card-body">
                                <div>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal2">
                                        <h3 class="card-title ms-1">Av. Yunus Emre Öz</h3>
                                        <p class="card-subtitle mb-5">Partner Avukat</p>

                                    </a>
                                </div>
                                <div class="card-footer d-flex justify-content-end">
                                    <div class="social-icons d-flex">
                                        <a href="mailto:yunusemreoz@ozpartnershukuk.com" class="social-icon">
                                            <i class="fas fa-envelope" style="font-size:20px;"></i>
                                        </a>
                                        <a href="https://www.linkedin.com/in/yunusemre%C3%B6z" target="_blank" class="social-icon">
                                            <i class="fab fa-linkedin" style="font-size:20px;"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Kart 1 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="card ekip shadow-lg">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal3">

                                <img src="~/assets/img/avukat-kaan-karatas.jpg" class="card-img-top img-fluid" alt="Kişi 3 Fotoğrafı">
                            </a>
                            <div class="card-body">
                                <div>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal3">
                                        <h3 class="card-title ms-1">Av. Kaan Karataş</h3>
                                        <p class="card-subtitle mb-5">Partner Avukat</p>

                                    </a>
                                </div>
                                <div class="card-footer d-flex justify-content-end">
                                    <div class="social-icons d-flex">
                                        <a href="mailto:kaankaratas@ozpartnershukuk.com" class="social-icon">
                                            <i class="fas fa-envelope" style="font-size:20px;"></i>
                                        </a>
                                        <a href="https://www.linkedin.com/in/kaankarata%C5%9F" target="_blank" class="social-icon">
                                            <i class="fab fa-linkedin" style="font-size:20px;"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Kart 4, 5, ... -->
                </div>
            </div>
        </section>
    </div>
    <!-- Modal 1 -->
    <div class="modal fade" id="bioModal1" tabindex="-1" aria-labelledby="bioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bioModal1Label">Av. Emin Öz</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="~/assets/img/avukat-emin-oz.jpg" class="modal-bio-img img-fluid" alt="Kişi 1 Fotoğrafı">
                    <p class="bio-content">
                        Öz & Partners’ın kurucusu olan duayen avukat Emin Öz, 1950 yılında Mersin’in Silifke ilçesinde doğmuştur. 1973 yılında İstanbul Üniversitesi Hukuk Fakültesi’nden mezun olup 1974 yılında Mersin’de kendi ofisini kurarak avukatlığa başlamıştır.
                        12 Eylül 1980 askeri ihtilali öncesi ve sonrası sayısız siyasi davada vekillik görevi üstlenen Emin Öz, ihtilal sonrası Alparslan Türkeş’in savunmasını yapan avukatlardan biridir.
                    </p>
                    <p>
                        1989 yılında Mersin İl Genel Meclisi üyeliğine seçilmiştir. Bu görev devam ederken 1993 yılında Anavatan Partisi Mersin İl Başkanı seçilmiştir ve 1999 yılına kadar 3 dönem görevini sürdürmüştür. Mersin’den bağımsız milletvekili adayı olarak girdiği 1999 genel seçimlerinde ise yüksek bir oy alarak şehirdeki politik etkinliğini göstermiştir.
                    </p>
                    <p>
                        Takip eden yıllarda, 2 dönem Anavatan Partisi MKYK’sında (Merkez Karar Yönetim Kurulu) görev almıştır. Profesyonel çalışma yaşamının ilk yıllarından itibaren ekonomi ve ticaret dünyasının içinde yer alan Av. Emin Öz, şahsi ticari faaliyetlerinin dışında; başta MESBAŞ (Mersin Serbest Bölgesi’ni işleten şirket) ve MERTAŞ (MTSO, MESİAD ve Mersin Deniz Ticaret Odası gibi meslek odası ve STK’ların ortaklaşa kurdukları şirket) gibi Mersin’in ekonomik ve ticari hayatına yön veren etkili şirketler olmak üzere, birçok ticari şirketin yönetim kurulu başkanlığını yapmıştır. MESİAD (Mersin Sanayici İş Adamları Derneği) istişare kurulu başkan yardımcılığı görevinde bulunmuştur. Mersin Barosu yönetim kurulunda yer almıştır.
                    </p>
                    <p>
                        Ayrıca bir dönem Mersin Deniz ve Ticaret Meslek Yüksekokulu’nda hukuk dersleri vermiştir. Meslek hayatının 50. yılına yaklaşan Av. Emin Öz, İngilizce ve Fransızca bilmektedir.
                    </p>
                    <div class="d-flex justify-content-center">
                        <a href="https://www.facebook.com/aveminoz/" target="_blank" class="social-icon">
                            <i class="fab fa-facebook" style="font-size:20px;"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal 2 -->
    <div class="modal fade" id="bioModal2" tabindex="-1" aria-labelledby="bioModal2Label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bioModal2Label">Av. Yunus Emre Öz</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="~/assets/img/avukat-yunus-emre-oz.jpg" class="modal-bio-img img-fluid" alt="Kişi 2 Fotoğrafı">
                    <p class="bio-content">

                        1994 yılında Mersin’de doğmuştur. 2009 yılında Gelişim Koleji’nden, 2013 yılında İçel Anadolu Lisesi’nden (İAL) mezun olan Av. Yunus Emre Öz; lisans eğitimini Çağ Üniversitesi Hukuk Fakültesi’nde onur derecesiyle bitirmiştir. 2018 yılında avukatlık stajını tamamlayarak Öz & Partners’ın ortak avukatlarından olmuştur.

                    </p>
                    <p>
                        2020 yılında ise Dünya’nın önde gelen üniversitelerinden olan King’s College London’dan yüksek lisans kabulü almıştır. T.C. Adalet Bakanlığı Arabulucular Sicili’ne 38270 sicil numarasıyla kayıtlı Arabulucu olmasının yanında 2022 yılından bu yana Türk Kızılayı’na sözlü ve yazılı olarak hukuki danışmanlık vermektedir. Bir dönem bir siyasi partinin Mersin İl Gençlik Kolları Başkanlığı görevini yürüten Öz, ileri seviye İngilizce bilmektedir.
                    </p>
                    <div class="d-flex justify-content-center">
                        <a href="mailto:yunusemreoz@ozpartnershukuk.com" target="_blank" class="me-3 social-icon">
                            <i class="fas fa-envelope" style="font-size: 20px;"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/yunusemre%C3%B6z" target="_blank" class="social-icon">
                            <i class="fab fa-linkedin" style="font-size: 20px;"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal 3 -->
    <div class="modal fade" id="bioModal3" tabindex="-1" aria-labelledby="bioModal3Label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bioModal3Label">Av. Kaan Karataş</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="~/assets/img/avukat-kaan-karatas.jpg" class="modal-bio-img img-fluid" alt="Kişi 3 Fotoğrafı">
                    <p class="bio-content">
                        1991 yılında Adana’da doğan Av. Kaan Karataş 2009 yılında Adana Anadolu Lisesi’ni (ALA) bitirmiştir. 2009 yılında yapılan ÖSS’de, Türkiye genelinde ilk 1000 öğrenci arasına giren Karataş 2014 yılında Yeditepe Üniversitesi Hukuk Fakültesi’ni onur derecesiyle bitirmiş ve memleketi olan Mersin’de avukatlık hayatına başlamıştır.
                    </p>
                    <p>
                        İleri seviyede İngilizce ve orta seviyede Almanca bilmektedir. 2019 yılında Öz & Partners’ın ortak avukatlarından olmuştur.
                    </p>
                    <div class="d-flex justify-content-center">
                        <a href="mailto:kaankaratas@ozpartnershukuk.com" target="_blank" class="me-3 social-icon">
                            <i class="fas fa-envelope" style="font-size: 20px;"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/kaankarata%C5%9F" target="_blank" class="social-icon">
                            <i class="fab fa-linkedin" style="font-size: 20px;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script></script>
</body>

