@{
    ViewData["Title"] = "Ekibimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Custom Styles */
    .ekip {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s ease;
        border: 1px solid #ccc;
        display: flex;
        flex-direction: row;
    }

        .ekip:hover {
            transform: scale(1.05);
        }

        .ekip img {
            object-fit: cover;
            height: 300px; /* Resmin yüksekliği */
            width: 200px; /* Resmin genişliği */
        }

        .ekip .card-body {
            padding: 20px;
            flex: 1; /* Kartın içindeki içerik (açıklama, mail) tüm genişliği kaplasın */
            display: flex;
            flex-direction: column;
        }

        .ekip .card-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
        }

        .ekip .card-bio {
            color: #555;
            margin-bottom: 15px;
            overflow: hidden;
            text-overflow: ellipsis; /* Metni kırp ve üç nokta ekle */
            display: -webkit-box;
            -webkit-line-clamp: 3; /* Gösterilecek satır sayısı */
            -webkit-box-orient: vertical;
        }

        .ekip .card-bio-full {
            color: #555;
            display: none; /* Tam metni başlangıçta gizle */
        }

        .ekip .read-more-btn {
            cursor: pointer;
            color: #007bff;
            text-decoration: underline;
        }

        .ekip .card-mail {
            color: #555;
            text-decoration: underline;
            cursor: pointer;
        }
    /* End Custom Styles */
</style>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img mb-5">
                <img class="custom-img mb-4" src="~/assets/img/CalismaAlanlari/banner900.png" />
                <span>Ekibimiz</span>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <section class="card-section mb-5">
            <div class="container">
                <!-- Kişisel Kart 1 -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ekip">
                            <img src="~/assets/img/avukat-emin-oz.jpg" class="card-img-top" alt="Kişi 1 Fotoğrafı">
                            <a href="#" class="card-title-link">
                                <div class="card-body">
                                    <h5 class="card-title">Avukat Emin Öz</h5>
                                    <p class="card-bio" data-person="emin">
                                        Öz & Partners’ın kurucusu olan duayen avukat Emin Öz, 1950 yılında Mersin’in Silifke ilçesinde doğmuştur. 1973 yılında İstanbul Üniversitesi Hukuk Fakültesi’nden mezun olup 1974 yılında Mersin’de kendi ofisini kurarak avukatlığa başlamıştır.
                                        12 Eylül 1980 askeri ihtilali öncesi ve sonrası sayısız siyasi davada vekillik görevi üstlenen Emin Öz, ihtilal sonrası Alparslan Türkeş’in savunmasını yapan avukatlardan biridir.
                                    </p>
                                    <p class="card-bio-full" data-person="emin">
                                        1989 yılında Mersin İl Genel Meclisi üyeliğine seçilmiştir. Bu görev devam ederken 1993 yılında Anavatan Partisi Mersin İl Başkanı seçilmiştir ve 1999 yılına kadar 3 dönem görevini sürdürmüştür. Mersin’den bağımsız milletvekili adayı olarak girdiği 1999 genel seçimlerinde ise yüksek bir oy alarak şehirdeki politik etkinliğini göstermiştir.
                                        Takip eden yıllarda, 2 dönem Anavatan Partisi MKYK’sında  (Merkez Karar Yönetim Kurulu) görev almıştır. Profesyonel çalışma yaşamının ilk yıllarından itibaren ekonomi ve ticaret dünyasının içinde yer alan Av. Emin Öz, şahsi ticari faaliyetlerinin dışında; başta MESBAŞ (Mersin Serbest Bölgesi’ni işleten şirket) ve MERTAŞ (MTSO, MESİAD ve Mersin Deniz Ticaret Odası gibi meslek odası ve STK’ların ortaklaşa kurdukları şirket) gibi Mersin’in ekonomik ve ticari hayatına yön veren etkili şirketler olmak üzere, birçok ticari şirketin yönetim kurulu başkanlığını yapmıştır. MESİAD (Mersin Sanayici İş Adamları Derneği) istişare kurulu başkan yardımcılığı görevinde bulunmuştur. Mersin Barosu yönetim kurulunda yer almıştır.
                                        Ayrıca bir dönem Mersin Deniz ve Ticaret Meslek Yüksekokulu’nda hukuk dersleri vermiştir. Meslek hayatının 50. yılına yaklaşan Av. Emin Öz, İngilizce ve Fransızca bilmektedir.
                                    </p>
                                    <p class="read-more-btn" onclick="toggleBio('emin'); return false;">Devamını Oku</p>
                                    <p class="card-mail" onclick="location.href='mailto:eminoz@ozpartnershukuk.com';">
                                        <i class="fas fa-envelope" style="color: #013a33;"></i> eminoz@ozpartnershukuk.com
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Kişisel Kart 2 -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ekip">
                            <img src="~/assets/img/avukat-yunus-emre-oz.jpg" class="card-img-top" alt="Kişi 1 Fotoğrafı">
                            <a href="#" class="card-title-link">
                                <div class="card-body">
                                    <h5 class="card-title">Avukat Yunus Emre Öz</h5>
                                    <p class="card-bio" data-person="emre">
                                        1994 yılında Mersin’de doğmuştur. 2009 yılında Gelişim Koleji’nden, 2013 yılında İçel Anadolu Lisesi’nden (İAL) mezun olan Av. Yunus Emre Öz; lisans eğitimini Çağ Üniversitesi Hukuk Fakültesi’nde onur derecesiyle tamamlamıştır. 2018 yılında avukatlık stajını tamamlayarak Öz & Partners’ın ortak avukatlarından olmuştur.
                                    </p>
                                    <p class="card-bio-full" data-person="emre">
                                        2020 yılında ise Dünya’nın önde gelen üniversitelerinden olan King’s College London’dan yüksek lisans kabulü almıştır. Bir dönem bir siyasi partinin Mersin İl Gençlik Kolları Başkanlığı görevini yürüten Öz ileri seviye İngilizce bilmektedir.
                                    </p>
                                    <p class="read-more-btn" onclick="toggleBio('emre'); return false;">Devamını Oku</p>
                                    <p class="card-mail" onclick="location.href='mailto:yunusemreoz@ozpartnershukuk.com';">
                                        <i class="fas fa-envelope" style="color: #013a33;"></i> yunusemreoz@ozpartnershukuk.com
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ... Diğer kartlar ... -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ekip">
                            <img src="~/assets/img/avukat-kaan-karatas.jpg" class="card-img-top" alt="Kişi 1 Fotoğrafı">
                            <a href="#" class="card-title-link">
                                <div class="card-body">
                                    <h5 class="card-title">Avukat Kaan Karataş</h5>
                                    <p class="card-bio" data-person="kaan">
                                        1991 yılında Adana’da doğan Av. Kaan Karataş 2009 yılında Adana Anadolu Lisesi’ni (ALA) bitirmiştir. 2009 yılında yapılan ÖSS’de, Türkiye genelinde ilk 1000 öğrenci arasına giren Karataş 2014 yılında Yeditepe Üniversitesi Hukuk Fakültesi’ni onur derecesiyle bitirmiş ve memleketi olan Mersin’de avukatlık hayatına başlamıştır.
                                    </p>
                                    <p class="card-bio-full" data-person="kaan">
                                        İleri seviyede İngilizce ve orta seviyede Almanca bilmektedir. 2019 yılında Öz & Partners’ın ortak avukatlarından olmuştur.
                                    </p>
                                    <p class="read-more-btn" onclick="toggleBio('kaan'); return false;">Devamını Oku</p>
                                    <p class="card-mail" onclick="location.href='mailto:kaankaratas@ozpartnershukuk.com';">
                                        <i class="fas fa-envelope" style="color: #013a33;"></i> kaankaratas@ozpartnershukuk.com
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        function toggleBio(person) {
            var bioFull = document.querySelector('.card-bio-full[data-person="' + person + '"]');

            if (bioFull) {
                if (bioFull.style.display === 'none' || bioFull.style.display === '') {
                    bioFull.style.display = 'block';
                } else {
                    bioFull.style.display = 'none';
                }
            } else {
                console.error('Full Bio element not found for person: ' + person);
            }
        }
    </script>
</body>
