<body>
    <!-- Masthead-->
    <div class="container">
        <header class="masthead mt-3">
            <div id="carouselExample" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/assets/img/yarımasırfoto.jpg" class="d-block w-100" alt="First Slide">
                    </div>
                    <div class="carousel-item">
                        <img src="~/assets/img/heralandatecrube.jpg" class="d-block w-100" alt="Second Slide">
                    </div>
                    @* <div class="carousel-item">
                        <img src="~/assets/img/ozarka3.jpg" class="d-block w-100" alt="Third Slide">
                    </div> *@
                </div>
                <!-- Sol ok -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <!-- Sağ ok -->
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </header>
    </div>

    <!-- Icons Grid-->
    <div class="features-icons text-center mt-3 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 border">
                        <div class="features-icons-icon d-flex"><i class="bi-bank m-auto" style="color: #093A34;"></i></div>
                        <h3 style="color:#093A34;">Services</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 border">
                        <div class="features-icons-icon d-flex"><i class="bi-person m-auto" style="color: #093A34;"></i></div>
                        <h3 style="color: #093A34;">Our People</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3 border">
                        <div class="features-icons-icon d-flex"><i class="bi-telephone-fill m-auto" style="color: #093A34;"></i></div>
                        <h3 style="color: #093A34;">Contact</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#carouselExample').carousel({
                interval: 5000, // Otomatik geçiş süresi (3 saniye)
                pause: "hover" // Fare ile üzerine gelindiğinde otomatik geçişi durdur
            });
        });
    </script>
</body>