<body>
    <!-- Masthead-->
    <div class="container">
        <div class="border-masthead masthead">
            <div id="carouselExample" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner shadow">
                    <div class="carousel-item active">
                        <img src="~/assets/img/Carousel/Carousel1.png" class="d-block w-100" alt="Second Slide">
                    </div>
                    <div class="carousel-item">
                        <img src="~/assets/img/Carousel/Carousel2.png" class="d-block w-100" alt="First Slide">
                    </div>
                    <div class="carousel-item">
                        <img src="~/assets/img/Carousel/Carousel3.png" class="d-block w-100" alt="Third Slide">
                    </div>
                </div>
                <!-- Sol ok -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <!-- Sağ ok -->
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <!-- Icons Grid-->
    <div class="features-icons text-center  bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 border" id="CalismaAlanlari">
                        <div class="features-icons-icon d-flex"><i class="bi-bank m-auto" style="color: #013A33;"></i></div>
                        <h3 style="color:#013A33;">Hizmetlerimiz</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 border" id="Ekibimiz">
                        <div class="features-icons-icon d-flex"><i class="bi-person m-auto" style="color: #013A33;"></i></div>
                        <h3 style="color: #013A33;">Ekibimiz</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3 border" id="İletisim">
                        <div class="features-icons-icon d-flex"><i class="bi-telephone-fill m-auto" style="color: #013A33;"></i></div>
                        <h3 style="color: #013A33;">İletişim</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var carouselElement = document.getElementById('carouselExample');

            if (carouselElement) {
                try {
                    var carouselInstance = new bootstrap.Carousel(carouselElement, {
                        interval: 2000, // Otomatik geçiş süresi (2 saniye)
                        pause: 'hover' // Fare ile üzerine gelindiğinde otomatik geçişi durdur
                    });

                    console.log('Carousel initialized successfully.');
                } catch (error) {
                    console.error('Error initializing carousel:', error.message);
                }
            } else {
                console.error('Carousel element not found.');
            }
        });

        // Vanilla JavaScript ile sayfa yönlendirme
        document.getElementById('CalismaAlanlari').addEventListener('click', function () {
            window.location.href = 'CalismaAlanlari'; // Hizmetlerimiz sayfa URL'i
        });

        document.getElementById('Ekibimiz').addEventListener('click', function () {
            window.location.href = 'Ekibimiz'; // Ekibimiz sayfa URL'i
        });

        document.getElementById('İletisim').addEventListener('click', function () {
            window.location.href = 'İletisim'; // İletişim sayfa URL'i
        });
    </script>
</body>
