@{
    ViewData["Title"] = "Kurumsal - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .logo-container {
        display: flex;
        justify-content: flex-end;
        width: 100%; /* Div'in genişliğini 100% olarak ayarlayın */
    }

        .logo-container img {
            max-height: 50px;
            object-fit: contain;
        }

    .info {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    .border-bottom1 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .firm-name {
        color: #093a33; /* Koyu yeşil renk */
        margin: 0;
        font-size: 1.5em; /* Font boyutunu biraz büyüttüm, istediğiniz gibi ayarlayabilirsiniz */
        font-weight: bold;
        text-align: center; /* Metni ortala */
        padding: 10px 0; /* Kenar boşluğu ekledim */
    }

    .social-icons {
        display: flex;
        gap: 10px;
    }

    .social-icon {
        color: #093a33;
        font-size: 20px;
    }

    .phone-number {
        color: #000;
        margin: 0;
        font-size: 1em;
        font-weight: 600;
    }

    .contact-btn {
        background-color: #093a33;
        color: #fff;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
    }

        .contact-btn:hover {
            background-color: #10665a;
            color: #fff;
        }

    .corporateCard {
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-radius: 0px;
    }
</style>
<body>
    <section class="ftco-section">
        <div class="container p-lg-0">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/banner1000.png" />
                <span class="shadow-lg">Kurumsal</span>
            </div>
        </div>
        <div class="container p-0" style="margin-top:100px">
            <ol class="breadcrumb border-1 border-bottom">
                <li class="breadcrumb-item"><a href="/Anasayfa">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kurumsal</li>
            </ol>
        </div>
    </section>
    <div class="container-fluid">
        <div class="container">
            <div class="row shadow">
                <div class="col-lg-3">
                    <div class="">
                        <div class="info">
                            <div class="d-flex justify-content-center border-bottom1">
                                <!-- Firma İsmi -->
                                <h3 class="firm-name">
                                    Öz <span class="caviar-dreams-font">&</span> Partners Avukatlık
                                </h3>
                            </div>
                            <div class="">
                                <!-- LinkedIn ve Email ikonları -->
                                <div class="social-icons justify-content-center">
                                    <a href="mailto:info@ozpartnershukuk.com" class="social-icon">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/company/oz-partners/" target="_blank" class="social-icon">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-9 article">
                    <div class="card corporateCard">
                        <div class="card-body">
                            <p class="card-text" style="text-align:justify;">
                                1974 yılında Av. Emin Öz tarafından kurulan avukatlık ofisi 50 yıla yakın süredir faaliyet göstermekte olup bu süre zarfında başta Mersin’in önde gelen gerçek ve tüzel kişileri olmak üzere binlerle ölçülen bir müvekkil portföyünün vekilliğini üstlenmiştir.
                            </p>
                            <p class="card-text" style="text-align:justify;">
                                2018 yılında Av. Yunus Emre Öz ve 2019 yılında Av. Kaan Karataş ekibe katılmış olup yarım asırdır oluşturulan bilgi ve tecrübe 2. kuşağa aktarılmıştır. Böylece; sadece Mersin’in değil, bölgenin en uzun süredir hizmet vermekte olan, tanınmış ve saygın hukuk bürolarından Öz & Partners Avukatlık Ofisi bu konumunu daha da sağlamlaştırmıştır.
                            </p>
                            <p class="card-text" style="text-align:justify;">
                                Müvekkile karşı şeffaflık, kamu idareleriyle güçlü iletişim, disiplinli ve bilimsel çalışma ile kısa sürede etkili sonuç alma prensiplerini odağına alan Öz & Partners Avukatlık Ofisi; müvekkillerinin hukuki sorunlarını mümkün olan en lehe şekilde çözümlemeyi hedeflemektedir.
                            </p>
                            <p class="card-text" style="text-align:justify;">
                                Mersin merkezli olan <b><i>Öz & Partners Avukatlık Ofisi;</i></b> Türkiye’nin pek çok yerindeki müvekkiline, hukukun pek çok alanındaki sorunlarının çözümünde profesyonel hizmet sağlamaktadır.
                            </p>
                            <div class="logo-container">
                                <img src="~/assets/img/Logo/MainLogo.png" alt="Firma Logosu">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Vanilla JavaScript ile yapılan değişiklikler buraya eklenecek
    </script>
</body>
