@{
    ViewData["Title"] = "Kurumsal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="container-fluid">
    <!-- Kurumsal Bilgi -->
        <div class="card mt-5">
            <div class="card-body" style="color:#EDD8B9">
                <h2 class="card-title text-center mb-4">Kurumsal Bilgi</h2>
                <p class="card-text">
                    1974 yılında Av. Emin Öz tarafından kurulan avukatlık ofisi 50 yıla yakın süredir faaliyet göstermekte olup bu süre zarfında başta Mersin’in önde gelen gerçek ve tüzel kişileri olmak üzere binlerle ölçülen bir müvekkil portföyünün vekilliğini üstlenmiştir.
                </p>
                <p class="card-text">
                    2018 yılında Av. Yunus Emre Öz ve 2019 yılında Av. Kaan Karataş ekibe katılmış olup yarım asırdır oluşturulan bilgi ve tecrübe 2. kuşağa aktarılmıştır. Böylece; sadece Mersin’in değil, bölgenin en uzun süredir hizmet vermekte olan, tanınmış ve saygın hukuk bürolarından Öz & Partners Avukatlık Ofisi bu konumunu daha da sağlamlaştırmıştır.
                </p>
                <p class="card-text">
                    Müvekkile karşı şeffaflık, kamu idareleriyle güçlü iletişim, disiplinli ve bilimsel çalışma ile kısa sürede etkili sonuç alma prensiplerini odağına alan Öz & Partners Avukatlık Ofisi; müvekkillerinin hukuki sorunlarını mümkün olan en lehe şekilde çözümlemeyi hedeflemektedir.
                </p>
                <p class="card-text">
                    Mersin merkezli olan <b><i>Öz & Partners Avukatlık Ofisi;</i></b> Türkiye’nin pek çok yerindeki müvekkiline, hukukun pek çok alanındaki sorunlarının çözümünde profesyonel hizmet sağlamaktadır.
                </p>
            </div>
        </div>
    <!-- Makale Linkleri -->
        <h2 class="text-center mt-5 mb-4">Makaleler</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="makale1.jpg" class="card-img-top" alt="Makale 1">
                    <div class="card-body">
                        <h5 class="card-title">Makale 1 Başlığı</h5>
                        <p class="card-text">Makale 1 kısa açıklama. Lorem ipsum dolor sit amet.</p>
                        <a href="#" class="btn btn-primary">Makaleye Git</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="makale2.jpg" class="card-img-top" alt="Makale 2">
                    <div class="card-body">
                        <h5 class="card-title">Makale 2 Başlığı</h5>
                        <p class="card-text">Makale 2 kısa açıklama. Lorem ipsum dolor sit amet.</p>
                        <a href="#" class="btn btn-primary">Makaleye Git</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="makale3.jpg" class="card-img-top" alt="Makale 3">
                    <div class="card-body">
                        <h5 class="card-title">Makale 3 Başlığı</h5>
                        <p class="card-text">Makale 3 kısa açıklama. Lorem ipsum dolor sit amet.</p>
                        <a href="#" class="btn btn-primary">Makaleye Git</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
