@{
    ViewData["Title"] = "Kurumsal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="container-fluid">
        <!-- Kurumsal Bilgi -->
        <div class="about-us-section">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Image Column -->
                    <div class="col-lg-6">
                        <img src="~/assets/img/kurumsal1.jpg" class="img-fluid rounded" style="object-fit: cover; width: 100%; height: 578px;" alt="About Us Image">
                    </div>
                    <!-- Text Column -->
                    <div class="col-lg-6">
                        <div class="card bg-white shadow">
                            <div class="card-body">
                                <h2 class="card-title text-center mb-4">Kurumsal Bilgi</h2>
                                <p class="card-text" style="text-align:justify;">
                                    1974 yılında Av. Emin Öz tarafından kurulan avukatlık ofisi 50 yıla yakın süredir faaliyet göstermekte olup bu süre zarfında başta Mersin’in önde gelen gerçek ve tüzel kişileri olmak üzere binlerle ölçülen bir müvekkil portföyünün vekilliğini üstlenmiştir.
                                </p>
                                <p class="card-text" style="text-align:justify;">
                                    2018 yılında Av. Yunus Emre Öz ve 2019 yılında Av. Kaan Karataş ekibe katılmış olup yarım asırdır oluşturulan bilgi ve tecrübe 2. kuşağa aktarılmıştır. Böylece; sadece Mersin’in değil, bölgenin en uzun süredir hizmet vermekte olan, tanınmış ve saygın hukuk bürolarından Öz & Partners Avukatlık Ofisi bu konumunu daha da sağlamlaştırmıştır.
                                </p>
                                <p class="card-text" style="text-align:justify;">
                                    Müvekkile karşı şeffaflık, kamu idareleriyle güçlü iletişim, disiplinli ve bilimsel çalışma ile kısa sürede etkili sonuç alma prensiplerini odağına alan Öz & Partners Avukatlık Ofisi; müvekkillerinin hukuki sorunlarını mümkün olan en lehe şekilde çözümlemeyi hedeflemektedir.
                                </p>
                                <p class="card-text" style="text-align:justify;">
                                    Mersin merkezli olan <b><i>Öz & Partners Avukatlık Ofisi;</i></b> Türkiye’nin pek çok yerindeki müvekkiline, hukukun pek çok alanındaki sorunlarının çözümünde profesyonel hizmet sağlamaktadır.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Makale Linkleri -->
        <h2 class="text-center mt-5 mb-4">
            <i class="fas fa-newspaper"></i> Son Makaleler
        </h2>
        <div class="container mb-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Yükselen Hayvan Duyarlılığına Kişisel ve Hukuki Bir Bakış Açısı</h5>
                            <a href="#" class="btn text-white btn-zoom" style="background-color:#013A33">Devamını Oku</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mersin Ceza Avukatı</h5>
                            <a href="#" class="btn text-white mt-4 btn-zoom" style="background-color:#013A33">Devamını Oku</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mersin Boşanma Avukatı</h5>
                            <a href="#" class="btn text-white mt-4 btn-zoom" style="background-color:#013A33">Devamını Oku</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Vanilla JavaScript ile yapılan değişiklikler buraya eklenecek
    </script>

</body>
