@{
    ViewData["Title"] = "Makale - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .article-header {
        font-size: 21px;
        margin: 10px 0;
        line-height: 1.1;
        text-transform: uppercase;
    }

    .article-content-header {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1;
        color: #111111;
        text-decoration: none !important;
    }

    .article-content p {
        color: #111111;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.65;
        margin: 0 0 10px;
        text-align: justify;
    }

    .article-content a {
        color: #093a33;
    }
    /* Custom Styles */
    .ekip {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        /*         transition: transform 0.3s ease;
         */ border: 1px solid #ccc;
        margin-bottom: 20px;
    }

        .ekip img {
            object-fit: cover;
            position: relative;
            width: 100%;
            min-height: 220px;
            max-height: 220px;
        }


        .ekip .card-body {
            position: relative;
            margin-top: 0;
            padding: 1rem;
            flex: 1;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.05), 0 1px 3px 0 rgba(0,0,0,.1);
            background: #ffffff;
            display: flex;
            flex-direction: column;
        }

            .ekip .card-body a {
                text-decoration: none;
            }

        /* .ekip:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                } */

        .ekip .card-title {
            width: 100%;
            margin-top: 0 !important;
            color: #000;
            margin: 0px 0px 30px;
            padding: 0px 0px 4px;
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        .ekip .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff !important;
            text-transform: none !important;
            font-size: 1em !important;
            font-weight: 600 !important;
            margin-top: 0 !important;
            padding: 10px 0 0 0 !important;
            letter-spacing: .5px;
            border-top: 2px solid #ccc !important;
        }

        .ekip .read-more-btn {
            color: #000;
            text-decoration: underline;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative; /* Önemli: position değeri ekleyin */
            font-size: 12px;
            text-align: left;
        }


            .ekip .read-more-btn i {
                margin-left: 5px; /* Ok ikonu ile metin arasında boşluk bırakmak için */
            }

            .ekip .read-more-btn:hover {
                color: #093a33;
            }

        .ekip .social-icons {
            display: flex;
            gap: 10px; /* İkonlar arasında boşluk bırakmak için */
        }

        .ekip .social-icon {
            color: #093a33;
            font-size: 20px;
        }
</style>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/bannerNew.png" />
                <span>Makaleler</span>
            </div>
        </div>
        <div class="container mb-5">
            <ol class="breadcrumb border-1 border-bottom" style="border-color:#093a33 !important;">
                <li class="breadcrumb-item"><a href="Index">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-item" href="Makaleler">Makaleler</li></a>
            </ol>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="card ekip">
                    <img src="~/assets/img/avukat-yunus-emre-oz.jpg" class="card-img-top img-fluid" alt="Kişi 2 Fotoğrafı">
                    <div class="card-body">
                        <div>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal2">
                                <h3 class="card-title ms-1 mb-5">Avukat Yunus Emre Öz</h3>
                            </a>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <div class="social-icons d-flex">
                                <a href="mailto:yunusemreoz@ozpartnershukuk.com" class="social-icon">
                                    <i class="fas fa-envelope" style="font-size:20px;"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/yunusemre%C3%B6z" target="_blank" class="social-icon">
                                    <i class="fab fa-linkedin" style="font-size:20px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-9 article">
                <h1 class="article-header" style="color: #093a33; font-weight: bold;">Sokağa Çıkma Yasakları Anayasaya Aykırıdır</h1>
                <hr />
                <p class="article-date" style="color: black; font-size: 13px;">Tarih: 8 Temmuz 2021</p>
                <div class="article-content">
                    <ol class="article-content-header" style="list-style-type: upper-alpha;">
                        <li><strong>Giriş</strong></li>
                    </ol>
                    <p>
                        Tüm Dünya’yı etkisi altına alan COVID-19 küresel salgını, ilk vakanın tespit edildiği Mart 2020’den bu yana ülkemizde de devam etmektedir ve -pek çok Dünya ülkesinde olduğu gibi- Türkiye’de de kamu gücü tarafından, yayılmanın önüne geçmek için başvurulan ilk yöntem sokağa çıkma yasakları olmuştur. Ancak belki sürecin aciliyet ihtiyacı dolayısıyla gözden kaçması, belki de siyasi ve ekonomik saiklerle; sokağa çıkma yasağı kararları pozitif hukuka (yani yürürlükteki hukuki normlara) aykırı olarak alınmıştır.
                    </p>
                    <p>
                        Anayasaya aykırı bir sokağa çıkma yasağı sırasında fikrî olarak ortaya çıkmış ve başka bir sokağa çıkma yasağı gününde tamamlanmış işbu makale, olabildiğince akademik yahut ağdalı bir dil kullanmaktan kaçınarak her birimizi yakından ilgilendiren sokağa çıkma yasaklarını hukuk tekniği yönünden değerlendirecektir.
                    </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="2">
                        <li><strong>Anayasa - Temel Hak ve Özgürlükler</strong></li>
                    </ol>
                        <p>
                            Temel hak ve özgürlükler, tarih boyunca yönetilenin yönetene karşı verdiği mücadeleler sonucunda elde edilmiş, sırf insan olmakla kazanılan, <em>“kişiliğe bağlı, dokunulmaz, devredilmez, vazgeçilmez”</em> haklardır. Yönetenler perspektifinden bakıldığında ise yönetilenlere verilmiş tavizlerdir. Temel hak ve özgürlükler, günümüz modern Dünyası’nda devlet ile toplum arasındaki bir sözleşme mahiyetindeki toplumsal uzlaşma metinleri olan anayasalarda yer alırlar ve yönetenlerin bunlara hangi hallerde, ne düzeyde, ne şekilde müdahale edebileceği, sınırlayabileceği de yine anayasa metinlerinde hüküm ve güvence altındadır.
                        </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="3">
                        <li><strong>Temel Hak ve Özgürlükleri Koruma Sistematiği</strong></li>
                    </ol>
                        <p>

                            Hukuk tahsil etmemiş yahut hukuk tahsil etmiş olup da fakültede ilgili dersleri verdikten sonra uygulamada hatırlamamak üzere geride bırakmış olan hukukçular için meseleyi daha anlaşılır kılmak adına; bu noktada Türkiye Cumhuriyeti Anayasası’ndaki temel hak ve özgürlükler ile bunları sınırlama sistematiğinden bahsetmekte fayda görüyoruz:

                            Yürürlükteki 1982 tarihli Türkiye Cumhuriyeti Anayasası’nın 17 ila 74. maddeleri; konut dokunulmazlığı, düşünce ve ifade özgürlüğü, eğitim ve öğrenim hakkı, mülkiyet hakkı vb. gibi her birimiz için ekmek, su kadar olmazsa olmaz temel hak ve özgürlükleri hüküm ve güvence altına almıştır. Anayasa’nın 13. maddesi ise kamu gücünü kullanan devletin; tanınmış bu temel hak ve özgürlükleri sınırlandırabilme şartlarını ve prosedürünü, yani sistematiğini ortaya koyarak kamu gücü vasıtasıyla gerçekleşecek keyfi ve hukuksuz uygulamaların önüne geçmeyi ve temel hak ve özgürlüklerin etkin şekilde kullanımıyla bunların kağıt üzerinde kalmayıp gerçek Dünya’da karşılık bulmasını amaçlamıştır. Bu noktada belirtmek gerekir ki, madde; Avrupa Birliği uyum süreci kapsamındaki hukuk ve insan hakları başlığı altında 2001 yılında gerçekleşen anayasa değişiklikleri, 13. maddeyi çok daha güvenceli ve kamu gücünün keyfi uygulama alanını daraltan bir hale evriltmiştir.

                            Anayasa’nın 13. maddesi ile ortaya konan sistematiğe göre, her bir temel hak ve özgürlük maddesinin metninin başında temel hak ve özgürlük tam anlamıyla sunulur. <strong>Metnin devam cümlelerinde ise bu temel hak ve özgürlüğün hangi sebeplerle sınırlanabileceği <em>(kamu yararı, başkalarının hak ve özgürlüklerinin korunması, genel sağlık ve genel ahlakın korunması,</em></strong> <strong><em>millî güvenlik vb.)</em></strong><strong> teker teker yazılır. Madde metni içinde yazılan sebeplerden biri ortaya çıkmadıkça o temel hak ve özgürlük sınırlanamaz. </strong>Bir diğer şart olarak ise temel hak ve özgürlüğün yürütme gibi her daim politik ve taraflı olmaya müsait bir organın işlemiyle değil; ancak ve ancak demokratik, çok sesli, çoğulcu bir kurum olan TBMM’nin yasama faaliyetinin çıktısı, kurallar hiyerarşisinin yukarı basamaklarında konumlanmış kanunla gerçekleştirebileceği açıklanır. Tüm bunların yanında sınırlama için yukarıda açıklanan şartlar eksiksiz olarak yerine getirilse dahi temel hak ve özgürlüğün tamamen ortadan kaldırılması anlamına gelecek özüne dokunma, çekirdek alanına girme yasağı da her bir temel hak ve özgürlük için genel ilke olarak mevcuttur.
                            Kısaca, tüm şartların kümülatif olarak bir arada bulunmasının zorunlu olduğu 3’lü bir güvence sistemi benimsenmiştir. Bu görece karmaşık anlatımın daha kolay anlaşılması için formülize etmek gerekirse:
                            <ol>
                                <li>kısıtlanması öngörülen temel hak ve özgürlüğün anayasadaki madde metni içinde yer alan bir sebebe dayanarak</li>
                                <li>yürütmenin faaliyeti olan idari işlemle değil, yasamanın faaliyeti olan kanunla kısıtlama</li>
                                <li>temel hak ve özgürlüğün çekirdek alanına girmemek</li>
                            </ol>
                        </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="4">
                        <li><strong>Yasağın Anayasal Boyutu</strong></li>
                    </ol>
                        <p>
                            En basitleştirilmiş tanımıyla seyahat özgürlüğü; bir yerden bir yere serbestçe gidebilmek veya bir yere gitmekten alıkonulmamaktır ve ilk bakışta oldukça önemsiz gözüken bu özgürlük Türkiye Cumhuriyeti Anayasası’nın 23. maddesinde <em>“Yerleşme ve seyahat hürriyeti”</em> başlığıyla bir temel hak ve özgürlük olarak güvence altına alınmıştır. <strong>Sokağa çıkma yasakları ise seyahat özgürlüğünü, yani anayasada yer alan bir temel hak ve özgürlüğü sınırlandırmaktadır Dolayısıyla sokağa çıkma yasakları kararlarının alınması ve uygulanması yukarda açıklanan 3’lü güvenceli sistematiğe tabidir.</strong> Makalenin başından bu kısmına kadar soyut kalan açıklamaları daha anlaşılır kılıp somutlaştırabilmek için Anayasa madde metni üzerinden ilerlemekte fayda görüyorum:

                            <em>“<strong>V. Yerleşme ve seyahat hürriyeti</strong></em>
                            <strong><em>Madde 23–</em></strong><em>Herkes, yerleşme ve seyahat hürriyetine sahiptir.</em>
                            <em>…</em>
                            <em>Seyahat hürriyeti, suç soruşturma ve kovuşturması sebebiyle ve suç işlenmesini önlemek;</em>
                            <em>Amaçlarıyla kanunla sınırlanabilir.</em>
                            <em>…”</em>

                            Kısıtlama sistematiğine ilişkin yukarıdaki açıklamalar madde metniyle birlikte değerlendirildiğinde anlaşılacaktır ki seyahat özgürlüğü ancak <em>“suç soruşturma ve kovuşturması” </em>ile <em>“suç işlenmesini önlemek”</em> şeklindeki 2 zaruri hal ortaya çıktığı takdirde sınırlanabilmektedir. Yayılmasını önlemek için seyahat özgürlüğünü sınırlandırma ihtiyacı doğuran Covid-19 küresel salgınının ise ne <em>“suç soruşturma ve kovuşturması”</em> ile ne <em>“suç işlenmesini önlemek” </em>konularıyla en ufak ilişkisinin olmadığı tartışmaya mahal bırakmayacak derecede açıktır. <em>“Genel sağlığın korunması”</em>, Anayasa’da yer alan başkaca 6 temel hak ve özgürlüğün madde metninde sınırlama sebebi olarak kendine yer bulmasına karşın <strong>seyahat özgürlüğünü kısıtlayabilmek için bir sebep değildir. Yani, Anayasa’nın vatandaşa güvence sağlayan temel hak ve özgürlükleri sınırlandırma sistematiği, bir salgın hastalık sebebiyle sokağa çıkma yasağı kararı alınıp uygulanmasına ve insanların seyahat hürriyetinin elinden alınmasına müsaade etmemektedir.</strong> Buna karşın yürürlükteki en güçlü norm olan Anayasa’ya kamu gücü tarafından riayet edilmemiş ve Anayasa’ya aykırı bir fiili durum oluşturularak geride bıraktığımız bir buçuk yıla yakın sürede hukuksuz sokağa çıkma yasakları uygulanagelmiştir.

                        </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="5">
                        <li><strong>Takip Edilmesi Gereken Asıl Usul</strong></li>
                    </ol>
                        <p>

                            Ancak, Anayasa’nın temel hak ve özgürlükleri sınırlandırma sistematiğinin sokağa çıkma yasağı uygulamasına müsaade etmiyor oluşu demek değildir ki aslî gayesi ve işlevi insan, toplum, devlet ve bu 3 unsurun etkileşimini düzenlemek olan evrensel anayasa hukuku birikimi ve Türkiye Cumhuriyeti Anayasası; insanoğlunun yerleşik hayata geçtiği tarih öncesi çağlardan bu yana her dönem karşı karşıya kaldığı salgın hastalık gerçeğine kayıtsız kalmaktadır. Bilakis binlerce yıllık tecrübelerde hukuk tarihi, anayasa hukuku külliyatı ve yürürlükteki Türkiye Cumhuriyeti Anayasası salgının meydana getirdiği şartları ve ihtiyaçları öngörebilmiş ve bunlara cevap verebilecek müesseseler geliştirmiştir. Bu müesseselerden bir tanesi: <strong>“Olağanüstü hal”</strong>dir.

                            Olağanüstü hal; savaş, ağır ekonomik buhran, seferberlik, ülkenin bölünme tehlikesi, tehlikeli salgın hastalık gibi darboğazlardan geçilirken olağan işleyiş ve yetkilerin yetersiz gelecek olması sebebiyle otorite-vatandaş arasındaki hak terazisinin topuzunun devlet lehine kaydırıldığı geçici bir yönetme biçimidir. 1982 tarihli Türkiye Cumhuriyeti Anayasa’nın <em>“Olağanüstü hal yönetimi</em>” başlıklı 119. maddesi, savaş, seferberlik, ülkenin bölünme tehlikesi, ağır ekonomik kriz, doğal afet ve bunların yanında tehlikeli salgın hastalık hallerinde kamu gücünü elinde bulunduran yönetenin, olağanüstü hal yönetme biçimine geçmesine müsaade etmektedir<em> (ki ek ve geçici maddelerle birlikte 200’ü aşkın madde, 20.000’i aşkın sözcükten mürekkep Anayasa’da; “salgın hastalık” kavramının geçtiği tek yer mevzubahis 119. maddedir. Bu yönüyle anayasa koyucunun iradesinin, tehlikeli boyuta ulaşmış salgın hastalığa karşı ortaya konacak tedbir ve mücadelenin, olağanüstü hal rejimi kapsamında gerçekleştirilmesi yönünde olduğu sonucuna bittabi ulaşılabilir.)</em> <strong>Olağanüstü hal yönetimine geçildiği takdirde yukarıda açıklanan Anayasa’nın 13. maddesindeki 3’lü güvence, darboğaz terk edilene kadar kadar geçici olarak devre dışı bırakılabilmektedir.</strong> Zira Anayasa’nın 13. maddeyle aynı kısım altında kodifiye edilmiş <em>“Temel hak ve hürriyetlerin kullanılmasının durdurulması”</em> başlıklı 15. maddesi, 119. maddeyle deyim yerindeyse adeta paslaşarak <strong>olağanüstü hal yönetiminde temel hak ve özgürlüklerin kısmen veya tamamen durdurulmasına ya da Anayasal güvencelere aykırı tedbirler alınmasına cevaz vermektedir. </strong>Sokağa çıkma yasağı kararı almak ve uygulayabilmek için takip edilmesi gereken budur.

                        </p>
                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="6">
                        <li><strong>Sonuç</strong></li>
                    </ol>
                        <p>
                            Sokağa çıkma yasaklarının geride bıraktığımız 1 yılı aşkın süre içerisindeki uygulamasının, yazılı kuralların en tepesinde yer alanı,  (ismiyle müsemma) Anayasa’ya aykırı olduğu -üstün hukuk bilgisine başvurmaya gerek kalmaksızın dahi- açıktır. Yönetenin de yönetilen gibi kural ve kaidelerde bağlı olması manasına gelen hukuk devleti ilkesinde kamu gücü, işlem ve eylemlerinin dayanağını ve meşruiyetini hukuk kurallarından alır ve dayanak yoksa o eylem veya işlemi gerçekleştiremez. Aksini kabul; kişisel, keyfi, öngörülemez, ölçüsüz kuralların peydah edilmesi sonucunu doğuracaktır. Bununla birlikte belirtmek gerekir ki; her ne kadar makale boyunca eleştirilen yasaklamalar, salgının kontrol altına alınmasında olumlu sonuç vermekte ise de aynı olumlu sonuca doğru hukuki enstrümanları kullanarak ulaşmak hukuk devleti olmanın yanı sıra Dünya’nın önde gelen medeni milletleri arasında yer alabilmenin bir gereğidir.
                        </p>
                </div>

                <hr />
                <p class="article-author">Av. Yunus Emre Öz</p>
                <p class="article-date">8 Temmuz 2021</p>
            </div>
        </div>
    </div>
</body>
