@{
    ViewData["Title"] = "Makale9";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .article-header {
        font-size: 21px;
        margin: 10px 0;
        line-height: 1.1;
        text-transform: uppercase;
    }

    .article-content-header {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1;
        color: #111111;
        text-decoration: none !important;
    }

    .article-content p {
        color: #111111;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.65;
        margin: 0 0 10px;
        text-align: justify;
    }

    .article-content a {
        color: #013a33;
    }
    /* Custom Styles */
    .ekip {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        /*         transition: transform 0.3s ease;
         */ border: 1px solid #ccc;
        margin-bottom: 20px;
    }

        .ekip img {
            object-fit: cover;
            position: relative;
            width: 100%;
            min-height: 220px;
            max-height: 220px;
        }


        .ekip .card-body {
            position: relative;
            margin-top: 0;
            padding: 1rem;
            flex: 1;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.05), 0 1px 3px 0 rgba(0,0,0,.1);
            background: #ffffff;
            display: flex;
            flex-direction: column;
        }

            .ekip .card-body a {
                text-decoration: none;
            }

        /* .ekip:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                } */

        .ekip .card-title {
            width: 100%;
            margin-top: 0 !important;
            color: #000;
            margin: 0px 0px 30px;
            padding: 0px 0px 4px;
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        .ekip .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff !important;
            text-transform: none !important;
            font-size: 1em !important;
            font-weight: 600 !important;
            margin-top: 0 !important;
            padding: 10px 0 0 0 !important;
            letter-spacing: .5px;
            border-top: 2px solid #ccc !important;
        }

        .ekip .read-more-btn {
            color: #000;
            text-decoration: underline;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative; /* Önemli: position değeri ekleyin */
            font-size: 12px;
            text-align: left;
        }


            .ekip .read-more-btn i {
                margin-left: 5px; /* Ok ikonu ile metin arasında boşluk bırakmak için */
            }

            .ekip .read-more-btn:hover {
                color: #013a33;
            }

        .ekip .social-icons {
            display: flex;
            gap: 10px; /* İkonlar arasında boşluk bırakmak için */
        }

        .ekip .social-icon {
            color: #013a33;
            font-size: 20px;
        }
</style>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/banner900.png" />
                <span>Makaleler</span>
            </div>
        </div>
        <div class="container mb-5">
            <ol class="breadcrumb border-1 border-bottom" style="border-color:#013a33 !important;">
                <li class="breadcrumb-item"><a href="Index">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Makaleler</li>
            </ol>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="card ekip">
                    <img src="~/assets/img/avukat-yunus-emre-oz.jpg" class="card-img-top img-fluid" alt="Kişi 2 Fotoğrafı">
                    <div class="card-body">
                        <div>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal2">
                                <h3 class="card-title ms-1 mb-5">Avukat Yunus Emre Öz</h3>
                            </a>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <div class="social-icons d-flex">
                                <a href="mailto:yunusemreoz@ozpartnershukuk.com" class="social-icon">
                                    <i class="fas fa-envelope" style="font-size:20px;"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/yunusemre%C3%B6z" target="_blank" class="social-icon">
                                    <i class="fab fa-linkedin" style="font-size:20px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-9 article">
                <h1 class="article-header" style="color: #013a33; font-weight: bold;">
                    İstanbul Sözleşmesinin Feshi
                </h1>
                <hr />
                <p class="article-date" style="color: black; font-size: 13px;">Tarih: 8 Temmuz 2021</p>
                <div class="article-content">
                    <p>Türkiye Cumhuriyeti Devleti, 2021 yılının 19 Mart’ını 20 Mart’a bağlayan gece bir Cumhurbaşkanlığı kararnamesi ile kamuoyunda “<em>İstanbul Sözleşmesi</em>” olarak bilinen, “<em>Kadına Yönelik Şiddet ve Aile İçi Şiddetin Önlenmesi ve Bunlarla Mücadeleye Dair Avrupa Konseyi Sözleşmesi</em>”nden ayrılmıştır.
                    <p>
                        Her ne kadar İstanbul Sözleşmesi’nden ayrılmak, bu sözleşme çerçeve alınarak iç hukukumuza kazandırılan 6284 sayılı “<em>Ailenin Korunması ve Kadına Karşı Şiddetin Önlenmesine Dair Kanun”un </em>yürürlüğüne -en azından şimdilik- halel getirmeyecek ve kadınların hukuki koruma kalkanını tamamıyla kaldırmayacaksa da; güncel durum, hukuki müesseseleri detaylı olarak bilmeyen ve bilmesi de beklenmeyen vatandaş tarafından yanlış anlaşılmaya çok müsaittir. Erkeklerin kadınlara karşı suç işleme cesaret bulmasıyla; zaten yüksek olan kadına karşı şiddet, kadın cinayeti vb. olayların artması, buna karşılık kadınların hak arama yollarının ortadan kaldırıldığı fikrine kapılarak makûs talihlerine boyun eğmeleri(!) önümüzdeki günlerde karşılaşılması son derece olası senaryolardır. Nitekim daha şimdiden <strong>Google’a “<em>6284</em>” ibaresini yazdığınızda, arama motorunun öneri olarak “<em>6284 sayılı kanun kaldırıldı mı</em>” cümlesini sunduğunu deneyip görebilirsiniz. </strong>Bilindiği üzere arama motoru algoritmaları, güncel olarak başkaları tarafından sıkça aranan kavramları kullanıcıya önerir.
                    </p>
                    <p>
                        Sözleşmeden çekilmiş olmanın vahameti bir yana, hukuki usul yönünden izlenen yol da bir hayli vahimdir. İdare hukuku öğretisince geliştirilmiş ilkelerden biri <strong><em>“yetkide ve usulde paralellik”</em></strong>tir. Bu ilke en basit haliyle, mevcut bir işlemi kaldırma yetkisinin -işlemin yapılışındaki usul takip edilmek şartıyla- yalnızca en başta o işlemi yapmaya yetkili makamda olması şeklinde tanımlanabilir. Somut olayda uygulanması gereken hukuk kuralı Anayasa’nın m.90’dır. Bu madde şu şekildedir:
                    </p>
                    <p>
                        <em> “<strong>MADDE 90-</strong> Türkiye Cumhuriyeti adına yabancı devletlerle ve milletlerarası kuruluşlarla yapılacak andlaşmaların onaylanması, Türkiye Büyük Millet Meclisinin onaylamayı bir kanunla uygun bulmasına bağlıdır.”</em>
                    </p>
                    <p>
                        Nitekim TBMM, idarece imzalanan İstanbul Sözleşmesi’ni 24.11.2011 tarihinde çıkardığı bir kanunla uygun bulmuş ve sözleşme bu usulle yürürlüğe girmiştir. Şu an bağımızı koparmak içinse <em>“yetkide ve usulde paralellik ilkesi” </em>gereği yine TBMM tarafından çıkarılacak bir kanunun varlığı şarttır. <strong>Cumhurbaşkanının kararname ile bu hukuki durumu yaratmaya yetkisi yoktur.</strong>
                    </p>
                    <p>
                        Peki, ne oldu da bir gece yarısı aniden İstanbul Sözleşmesi’nden çekilme gereksinimi hâsıl oldu? Seçmen tabanından kadın-erkek eşitliği fikrini benimsemeyenlerin; çağın kaçınılmaz getirisi olarak kadınların toplumda güçlenen konumu karşısındaki huzursuz sesleri son dönemde bir hayli yükselmekteydi. İstanbul Sözleşmesi ise bu huzursuz kitlenin gözünde, gün geçtikçe kurumsallaşan kadın-erkek eşitliğinin deyim yerindeyse ete kemiğe bürünmüş haliydi ve adeta bir canlı hedef haline gelmişti. Sözleşme özelindeki eleştiriler de sıklıkla dile getirilmeye başlanmıştı. Bu noktalar birlikte değerlendirildiğinde, sonucu Cumhurbaşkanı kararnamesiyle İstanbul Sözleşmesi’nden ayrılmak olan süreç boyunca hukuki değil, politik bir fayda/zarar muhasebesi gerçekleştirdiğini, yani oy kaygısıyla hareket edildiğini ifade etmek hiç de hatalı olmayacaktır. Ancak tabloda şu noktayı da göz ardı etmemek gerek: 16-17 yaşlarında olan müstakbel seçmenler ile 18-19 yaşlarında olup seçmen sıfatını henüz yeni edinmiş -Z kuşağı olarak sınıflandırılan- gençler, gelecek seçimlerde oy kullanacak ve tüm seçmen kitlesi içinde seçim sonucunu değiştirebilecek bir oranı oluşturacaklar. Dünya görüşü, yaşam tarzı, ideolojisi ne olursa olsun; <strong>bu neslin üyeleri Dünya’yla son derece kuvvetli irtibatlı vaziyettedir ve her türlü geleneksellik karşısında güncel değerleri yeğlemektedirler.</strong>
                    </p>
                    <p>
                        Mesele tartışılırken gözden kaçırılan ama oldukça önem taşıdığını düşündüğüm <strong>kararnamenin zamanlaması</strong> hususundan bahsetmekte de ayrıca fayda görüyorum. Anlaşılan o ki, sözleşmeden ayrılma yönünde irade göstermek; aslında haftalar öncesinde olgunlaşmış bir fikir ve fiilen alınmış bir karardı. Yalnızca resmi prosedürünün gerçekleştirilmesi 19-20 Mart gecesine bırakılmıştı. 19-20 Mart ise lalettayin saptanmış bir tarih değildir. Şöyle ki; Dünya Kadınlar Günü yaklaşırken veya henüz geride bırakılmışken, kadınların uluslararası bir belgeyle edindiği haklarını ellerinden almak toplum nezdinde olabildiğince olumsuz bir imajı üstlenmek olacaktı. Bu yüzden 8 Mart öncesi, Dünya Kadınlar Günü günü ve kadın haklarının kamuoyunun gündeminde genişçe yer aldığı devamındaki günlerin geride kalması gerekmekteydi. Bununla birlikte 19-20 Mart gecesi beklenerek 8 Mart’ta yapılacak basın açıklamaları, yürüyüş ve eylemler vesilesiyle güçlü bir karşı kamuoyunun örgütlenmesinin önüne geçilmeye çalışılmıştır. Keza cuma gününü cumartesiye bağlayan gece de ayrıca bir tercih sebebi olmuştur. Çünkü haftanın son iş gününün akşamı piyasalar kapanmış olacak ve zaten pamuk ipliğine bağlı ekonominin gelişmeye vereceği reaksiyon daha az olacaktı. Ayrıca, sözleşmeden çıkıldığını içeren kararname Türkiye Cumhuriyet Merkez Bankası başkanının görevden alınmasını içeren karar ile de birlikte yayınlanmıştır. Bununla da olumsuz iki ayrı gelişmenin iki ayrı zamanda gündemde genişçe yer tutmasının önüne geçmek amaçlanmış, iki olumsuz gelişmenin birbirinin gündeminden çalması hedeflenmiştir.
                    </p>
                    <p>
                        8 Mart Dünya Kadınlar günü vesilesiyle kaleme aldığım bir önceki yazıda; insanoğlunun medeniyet yolundaki seyrini 2 adım ileri - 1 adım geri ritmindeki mehteran yürüyüşüne benzetmiştim. Son derece talihsiz bir gelişme olarak addedilebilecek İstanbul sözleşmesinden çekilmek, ülkemiz için geriye atılan büyükçe 1 adım olarak Türk siyasi tarihindeki yerini çoktan aldı. Bu hatadan en kısa sürede dönülmesi temennisiyle, (kendi deyimiyle) “muasır medeniyetler” yolundaki en hızlı ilerleyişi sağlarken Türk Milleti’ne önderlik etmiş Mustafa Kemal Atatürk’ün bir sözünü alıntılayarak yazıya nokta koymak isterim:
                    </p>
                    <p>

                        <em> “İnsan topluluğu kadın ve erkek denilen iki cins insandan mürekkeptir. Kabil midir ki, bu kütlenin bir parçasını ilerletelim, ötekini ihmal edelim de kütlenin bütünlüğü ilerleyebilsin? Mümkün müdür ki, bir cismin yarısı toprağa zincirlerle bağlı kaldıkça öteki kısmı göklere yükselebilsin?” </em>
                    </p>
                </div>

                <hr />
                <p class="article-author">Av. Yunus Emre Öz</p>
                <p class="article-date">8 Temmuz 2021</p>
            </div>
        </div>
    </div>
</body>
