@{
    ViewData["Title"] = "Makale7";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .article-header {
        font-size: 21px;
        margin: 10px 0;
        line-height: 1.1;
        text-transform: uppercase;
    }

    .article-content-header {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1;
        color: #111111;
        text-decoration: none !important;
    }

    .article-content p {
        color: #111111;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.65;
        margin: 0 0 10px;
        text-align: justify;
    }

    .article-content a {
        color: #013a33;
    }
    /* Custom Styles */
    .ekip {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        /*         transition: transform 0.3s ease;
         */ border: 1px solid #ccc;
        margin-bottom: 20px;
    }

        .ekip img {
            object-fit: cover;
            position: relative;
            width: 100%;
            min-height: 220px;
            max-height: 220px;
        }


        .ekip .card-body {
            position: relative;
            margin-top: 0;
            padding: 1rem;
            flex: 1;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.05), 0 1px 3px 0 rgba(0,0,0,.1);
            background: #ffffff;
            display: flex;
            flex-direction: column;
        }

            .ekip .card-body a {
                text-decoration: none;
            }

        /* .ekip:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                } */

        .ekip .card-title {
            width: 100%;
            margin-top: 0 !important;
            color: #000;
            margin: 0px 0px 30px;
            padding: 0px 0px 4px;
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        .ekip .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff !important;
            text-transform: none !important;
            font-size: 1em !important;
            font-weight: 600 !important;
            margin-top: 0 !important;
            padding: 10px 0 0 0 !important;
            letter-spacing: .5px;
            border-top: 2px solid #ccc !important;
        }

        .ekip .read-more-btn {
            color: #000;
            text-decoration: underline;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative; /* Önemli: position değeri ekleyin */
            font-size: 12px;
            text-align: left;
        }


            .ekip .read-more-btn i {
                margin-left: 5px; /* Ok ikonu ile metin arasında boşluk bırakmak için */
            }

            .ekip .read-more-btn:hover {
                color: #013a33;
            }

        .ekip .social-icons {
            display: flex;
            gap: 10px; /* İkonlar arasında boşluk bırakmak için */
        }

        .ekip .social-icon {
            color: #013a33;
            font-size: 20px;
        }
</style>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/banner900.png" />
                <span>Makaleler</span>
            </div>
        </div>
        <div class="container mb-5">
            <ol class="breadcrumb border-1 border-bottom" style="border-color:#013a33 !important;">
                <li class="breadcrumb-item"><a href="Index">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-item" href="Makaleler">Makaleler</li></a>
            </ol>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="card ekip">
                    <img src="~/assets/img/avukat-kaan-karatas.jpg" class="card-img-top img-fluid" alt="Kişi 3 Fotoğrafı">
                    <div class="card-body">
                        <div>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal3">
                                <h3 class="card-title ms-1 mb-5">Avukat Kaan Karataş</h3>
                            </a>
                        </div>
                        <div class="card-footer d-flex justify-content-center">                          
                            <div class="social-icons d-flex">
                                <a href="mailto:kaankaratas@ozpartnershukuk.com" class="social-icon">
                                    <i class="fas fa-envelope" style="font-size:20px;"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/kaankarata%C5%9F" target="_blank" class="social-icon">
                                    <i class="fab fa-linkedin" style="font-size:20px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-9 article">
                <h1 class="article-header" style="color: #013a33; font-weight: bold;">Uygulamadaki Tebligat Belirsizliği Birleşen İçtihatla Giderildi</h1>
                <hr />
                <p class="article-date" style="color: black; font-size: 13px;">Tarih: 8 Temmuz 2021</p>
                <div class="article-content">
                    <ol class="article-content-header" style="list-style-type: upper-alpha;">
                        <li><strong>Giriş</strong></li>
                    </ol>
                    <p>
                        Yargıtay İçtihadı Birleştirme Büyük Genel Kurulu, 20.11.2020 Tarih, 2019/2 Esas 2020/3 Karar sayılı içtihadı birleştirme kararı, 20.04.2021 tarihinde Resmî Gazetede yayımlanmıştır. Bu kararında uygulama yapan meslektaşlarımızın yıllardır tartıştığı bir hususu görüşen kurul özetle; bilinen adrese yapılan tebligatın iadesi hâlinde, muhatabın adres kayıt sistemindeki adresine Tebligat Kanunu m. 21/2 uyarınca tebligat yapılmasının yeterli olacağı ve öncesinde kayıtlı adresine normal tebligatın yapılmasının aranmaması gerekeceği yönünde oy çokluğu ile karar vermiştir.
                    </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="2">
                        <li><strong>"Bilinen Adres" Kavramı</strong></li>
                    </ol>
                    <p>
                        Kararda “bilinen adres” kavramı üzerinde özellikle durulmuştur. “Bilinen adres” kavramı; adres kayıt sistemindeki adresten farklı, sübjektif bir ifade içerdiğinden ve incelenen içtihadı birleştirme kararında kritik rol oynadığından bu noktada incelemesinde fayda görüyoruz. “Bilinen adres” (en sade ifadesiyle); gerek muhatabın bildirimi, gerekse tebligat çıkartacak kişi veya makamın araştırması neticesinde ortaya çıkacak adresi ifade etmektedir ve 7201 sayılı Tebligat Kanunun 10. maddesine göre tebligatın öncelikle muhatabın bu adresine yapılması gerekmektedir. (Yani ilgili kişinin hukuki ilişkinin diğer taraflarına bildirdiği adres, Tebligat Kanunu 10. madde hükmüne göre önceliklidir) Örnekle daha anlaşılır kılmak gerekirse Yargıtay, kişinin borçlu olduğu senede yazdığı adresi “bilinen adres” olarak vasıflandırmıştır ve tebligat çıkarmak için öncelikle bu adresin tercih edilmesi gereğini belirtmiştir. “Bilinen adres”in kapsamı ise Türk Medeni Kanunu’ndaki yerleşim yeri ve AKS’ye kayıtlı adresten daha geniştir ve tespitinde tebligatı çıkartacak makamın araştırmasından evvel muhatabın bildirimi dikkate alınmalıdır. Ancak ve ancak karşı taraftan böyle bir bildirim yoksa “bilinen adres” araştırması yapılıp araştırma sonunda ortaya çıkan bu adrese tebligat çıkarılabileceği öğretide kabul edilmektedir.  Yargıtay İBK gerekçesinde “terditli tebligat” ifadesini kullanmaktadır. Öte yandan ilgili kişiye adresinden daha sık bulunduğu ve zamanının büyük kısmını harcadığı gerekçesiyle bilinen adresinden farklı yerde tebligat yapılabilmesi de yine 10. madde açık hükmü ile ilgilinin rızasına tâbi kılınmıştır.
                    </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="3">
                        <li><strong>Uygulamadaki Yanlış</strong></li>
                    </ol>
                    <p>
                        Bilinen adreste borçlunun bulunamaması yahut adresin tebligata elverişli olmaması durumunda uygulamada MERNİS adresine normal tebligat çıkartılması gerekeceği, özellikle de icra daireleri tarafından sıklıkla dile getirilmekteydi. Lakin 7201 sayılı Tebligat Kanununda 6099 sayılı kanunla yapılan değişiklik gerekçesiyle bu uygulamanın hatalı olduğu -özellikle de avukat meslektaşlarımız tarafından- sıkça dile getirilmekteydi. Çünkü bilinen adrese çıkartılan ve iade gelen tebligatın ertesinde ilgilinin MERNİS adresine -ikinci tebligatta da şahsın bulunamaması durumunda- 2 defa olmak üzere toplamda 3 kere tebligat çıkartılması gerekecekti.
                    </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="4">
                        <li><strong>Anayasal Haklar ve Muhalefet Şehri</strong></li>
                    </ol>
                    <p>
                        İçtihadı birleştirme kararı veren hakimlerin büyük çoğunluğunca bilinen adrese çıkartılan tebligatın sonuca ulaşmaması durumunda başkaca bir araştırma yapılmasına gerek olmadığı, MERNİS adresinin varsayım (faraziye) şeklinde tebliğ adresi olarak kabul edileceği değerlendirmesi yapılırken karşıt görüşte bilinen adresin suiistimal edilerek kasten iade edilecek şekilde tebligat çıkartılması ve ertesinde Tebligat Kanunu m. 21/2 gereğince tebligat yapılarak “hukuki dinlenilme” ve “adil yargılanma” haklarının ihlal edilmesinin önünün açılacağı fikri ortaya konmuştur. Bu tehlikeye karşı hukuki başvuru yollarının olduğu, HMK m.95’te hüküm altına alınmış “Eski Hale Getirme” ve İİK m.65’te “Gecikmiş İtiraz” müesseseleriyle tebligat muhatabının mazeretini iletebileceği ve bu cihetle, bilinen adrese çıkartılan tebligattaki usulsüzlüğün Yargıtay önüne geldiğinde bozma sebebi olarak kabul edileceği ifade edilmiştir.
                    </p>
                    <p>
                        Dahası, yine İBK gerekçesinde 3 aşamalı tebligatın adil yargılanma hakkını ihlal etmeyeceği; aksi yöndeki yorumun kanun koyucunun m.21/2 iradesine aykırı olacağı ifade edilmiştir. Kurul, Tebligat Kanunu ve Yönetmeliğinin amacı tebliğin muhataba en kısa şekilde yapılması ve tebligat konusu hakkında bilgilendirilmesini sağlamak olduğunu, bu nedenle Kanun ve Yönetmelik hükümlerinin en ufak ayrıntısına kadar uygulanması gerektiği, mevzuat hükümlerine uygun şekilde yapılmayan tebligatın geçerli olarak kabul edilemeyeceği, bilinen adresten iade dönen tebligattan sonra AKS adresine normal tebligat yapılması gibi bir yöntemin mevzuatta öngörülmediği gerekçesiyle adil yargılanma hakkı ihlali olmayacağı kabul edilmiştir.
                    </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="5">
                        <li><strong>Değerlendirme</strong></li>
                    </ol>
                    <p>
                        Kararın içeriğinde, yukarıda zikredilen “adil yargılanma” ve bu kapsamdaki “hukuki dinlenilme” hakkı gerekçeleriyle karşıt görüşler yazılmıştır. Lakin YİBGK’nun oy çokluğu ile verdiği kararın, bilinen adresinde bulunmayan ve güncel adresini muhataplarına bildirmeyen gerçek kişilerle ve tebligatı yapmaya çalışan merci arasındaki sorumluluk ve külfet dengesini gözetmesi açısından isabetli olduğu ve tebellüğden imtina eden yahut sürüncemede bırakan şahıslara daha kısa zamanda tebligat yapılmasını sağlayacağı görüşündeyiz.
                    </p>
                </div>

                <hr />
                <p class="article-author">Av. Kaan Karataş</p>
                <p class="article-date">8 Temmuz 2021</p>
            </div>
        </div>
    </div>
</body>
