@{
    ViewData["Title"] = "Makale3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .article-header {
        font-size: 21px;
        margin: 10px 0;
        line-height: 1.1;
        text-transform: uppercase;
    }

    .article-content-header {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1;
        color: #111111;
        text-decoration: none !important;
    }

    .article-content p {
        color: #111111;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.65;
        margin: 0 0 10px;
        text-align: justify;
    }

    .article-content a {
        color: #013a33;
    }
    /* Custom Styles */
    .ekip {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        /*         transition: transform 0.3s ease;
             */ border: 1px solid #ccc;
        margin-bottom: 20px;
    }

        .ekip img {
            object-fit: cover;
            position: relative;
            width: 100%;
            min-height: 220px;
            max-height: 220px;
        }


        .ekip .card-body {
            position: relative;
            margin-top: 0;
            padding: 1rem;
            flex: 1;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.05), 0 1px 3px 0 rgba(0,0,0,.1);
            background: #ffffff;
            display: flex;
            flex-direction: column;
        }

            .ekip .card-body a {
                text-decoration: none;
            }

        /* .ekip:hover {
                        transform: scale(1.05);
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                    } */

        .ekip .card-title {
            width: 100%;
            margin-top: 0 !important;
            color: #000;
            margin: 0px 0px 30px;
            padding: 0px 0px 4px;
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        .ekip .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff !important;
            text-transform: none !important;
            font-size: 1em !important;
            font-weight: 600 !important;
            margin-top: 0 !important;
            padding: 10px 0 0 0 !important;
            letter-spacing: .5px;
            border-top: 2px solid #ccc !important;
        }

        .ekip .read-more-btn {
            color: #000;
            text-decoration: underline;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative; /* Önemli: position değeri ekleyin */
            font-size: 12px;
            text-align: left;
        }


            .ekip .read-more-btn i {
                margin-left: 5px; /* Ok ikonu ile metin arasında boşluk bırakmak için */
            }

            .ekip .read-more-btn:hover {
                color: #013a33;
            }

        .ekip .social-icons {
            display: flex;
            gap: 10px; /* İkonlar arasında boşluk bırakmak için */
        }

        .ekip .social-icon {
            color: #013a33;
            font-size: 20px;
        }
</style>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/banner900.png" />
                <span>Makaleler</span>
            </div>
        </div>
        <div class="container mb-5">
            <ol class="breadcrumb border-1 border-bottom" style="border-color:#013a33 !important;">
                <li class="breadcrumb-item"><a href="Index">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="Makaleler">Makaleler</a></li>
            </ol>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="card ekip">
                    <img src="~/assets/img/avukat-yunus-emre-oz.jpg" class="card-img-top img-fluid" alt="Kişi 2 Fotoğrafı">
                    <div class="card-body">
                        <div>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal2">
                                <h3 class="card-title ms-1 mb-5">Avukat Yunus Emre Öz</h3>
                            </a>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <div class="social-icons d-flex">
                                <a href="mailto:yunusemreoz@ozpartnershukuk.com" class="social-icon">
                                    <i class="fas fa-envelope" style="font-size:20px;"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/yunusemre%C3%B6z" target="_blank" class="social-icon">
                                    <i class="fab fa-linkedin" style="font-size:20px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-9 article">
                <h1 class="article-header" style="color: #013a33; font-weight: bold;">Mersin Boşanma Avukatı</h1>
                <hr />
                <p class="article-date" style="color: black; font-size: 13px;">Tarih: 02 Eylül 2021</p>
                <div class="article-content">
                    <p>
                        <strong>Mersin boşanma avukatı</strong> arayışlarına deneyimli ekibiyle cevap veren Öz&amp;Partners Avukatlık Ofisi, çekişmeli ve anlaşmalı boşanma davalarına yönelik hukuki çözümler sunar. Evliliği yasal olarak sona erdirme aşamasında velayet, nafaka, tazminat, mal rejiminin tasfiyesi gibi tüm konularda hukuki danışmanlık ve dava avukatlığı hizmeti yürütür.
                    </p>
                    <p>
                        Boşanma hukukuyla ilgili tüm teknik bilgilere sahip olan avukatlarımız müvekkillerine en başarılı, hızlı ve etkili neticeyi sağlama amacıyla destek verir. 1974 yılından beri hizmet sunan <a href="İletisim">Öz&amp;Partners Avukatlık Ofisi</a> boşanma sürecinin tüm aşamalarına hâkim tecrübeli ekibiyle davaları tarafların ortak menfaatlerini gözeterek, hak kaybı yaşatmadan sonuçlandırır. Böylece kişilerin malvarlığı, velayet, tazminat ve nafaka gibi konularda zarara uğramasını engeller. Telafisi zor kayıpların önüne geçer.
                    </p>
                    <p>
                        Tarafları davanın psikolojik etkilerinden uzaklaştırır ve doğrudan etkilenmelerini önler. Hukuku ve uygulamayı en iyi şekilde bilen avukatlarımız, müvekkillerinin çıkarlarını en iyi şekilde korur.
                    </p>
                    <h2>Türk Medeni Kanunu’na Göre Boşanma Sebepleri</h2>
                    <p>
                        Kötü muamele, hayata kast, onur kırıcı davranışlarda bulunmak, zina boşanma davasına esas teşkil edecek nedenler arasındadır. Eşlerden birinin suç işlemesi ve haysiyetsiz hayat sürmesi, haklı bir sebep olmaksızın ortak konuttan ayrılması, akıl hastalığına sahip olması da bu kapsamda değerlendirilir. Evlilik birliğinin ortak hayat sürmeyi engelleyecek şekilde sarsılması hâlinde boşanma davası açılabilir. Bu durumlarda boşanma yerine ayrılık talebinde de bulunulabilir.
                    </p>
                    <p>
                        Boşanma, hem eşlerin hem de çocukların yıpranmasına sebep olabilecek bir süreçtir. Bu yüzden boşanma avukatı tarafların hukuki haklarını savunmanın yanı sıra eşlerin zarar görmeden sonuca ulaşmasını sağlamak için çalışır.
                    </p>
                    <h2>Boşanma Davası Ne Kadar Sürer?</h2>
                    <p>
                        Çoğu zaman anlaşmalı boşanma davaları ilk duruşmada neticelenir. Tek celse yaklaşık 10-15 dakika içinde biter. Kararın kesinleşmesi için 1-3 ay beklemek gerekebilir. Çekişmeli boşanma davalarının süresi daha uzundur. Yargılamanın içeriği, mahkemenin yoğunluğu ve boşanmaya dayanak olan sebep de bu süreye etki eder. Çekişmeli boşanma sürecinin birkaç ay devam etmesi de, birkaç seneyi bulması da mümkündür.
                    </p>
                    <p>
                        Aile mahkemesi tarafından verilen karar bölge adli mahkemesine-yargıtaya taşınırsa bu durumda da dava müddeti uzayacaktır. <strong>Mersin boşanma avukatları</strong> bu süreci etkin ve doğru bir şekilde işletir. Böylece bu sürenin kısaltılmasında büyük rol oynar. Avukat yardımı almadan açılan davaların basit usuli hatalardan dolayı uzun sürme riski vardır. Üstelik telafi edilmesi zor problemler de yaşanabilir.
                    </p>
                    <h3>Boşanma Davası İçin Nereye Başvurulur?</h3>
                    <p>
                        Eşlerden birinin yerleşim yerinde bulunan aile mahkemelerine müracaat edilir. Ya da son 6 aydan beri ikâmet ettikleri yerdeki bir aile mahkemesinde dava açılır. Tespit edilen yerde hiç aile mahkemesi bulunmuyorsa davaya Aile Mahkemesi sıfatı ile bakmakla vazifeli Asliye Hukuk Mahkemelerine başvuruda bulunulur.
                    </p>
                    <h2>Mersin Boşanma Avukatı Hizmetleri</h2>
                    <p>
                        Boşanma kararı 4721 Sayılı Türk Medeni Kanun’da bildirilen sebeplerin tahakkuk etmesi durumunda ve hâkim kararıyla mümkündür. Boşanma davasının en kısa zamanda sonuçlanmasını temin etmek için önce, evlilik birliğini sona erdirme nedenini doğru teşhis etmek gerekir. Bu yüzden boşanma davası açma ve süreci devam ettirme aşaması <strong>Mersin boşanma avukatı</strong> yardımıyla gerçekleştirilmelidir. Böylelikle tarafların yasal hakları korunacak; delilleri tespit, toplama ve tasnif işlemleri, hâkimin öngördüğü hukuki işlemlerin gerçekleştirilmesi kolay olacaktır. Velayet, tazminat ve nafaka uzlaşmazlıkları da başarıyla sonuçlandırılacaktır. Mersin boşanma avukatı olarak Öz&amp;Partners Avukatlık Ofisi tarafından sunulan hukuki hizmetler şöyle özetlenebilir:
                    </p>
                    <ul style="list-style-type:square;">
                        <li>Anlaşmalı boşanma davası açma ve boşanma protokolü hazırlama</li>
                        <li>Aldatma, şiddet, terk, evlilik birliğinin temelden sarsılması ve buna benzer haklı gerekçelerle çekişmeli boşanma davası açma, protokol hazırlama</li>
                        <li>Boşanma davasıyla beraber mal rejiminin tasfiye edilmesi ve evlilik sonrası ortak malları paylaştırma</li>
                        <li>Yardım ve yoksulluk nafakaları, koruma tedbirleri, velayet; diğer maddi ve manevi tazminat taleplerine yönelik süreci yönetme</li>
                        <li>Ayrılık davaları ve buna yönelik talepler</li>
                        <li>Yurt dışında gerçekleşmiş evliliklerin Türkiye’de tanınmasına ve boşanma kararlarının tenfizine ilişkin hizmetler</li>
                    </ul>
                    <h2>Mersin Boşanma Avukatı Ücretleri</h2>
                    <p>
                        <strong>Mersin boşanma avukatı ücreti</strong>; dava kapsamı ve süreci, gerçekleştirilecek işlerin çeşitliliği doğrultusunda farklılık gösterir. Dava mal paylaşımı için açılacaksa yargılama süreci daha zorlu bir hâle gelecektir. Yüksek manevi tazminat istenen davalarda da ciddi bir çalışmaya ihtiyaç vardır. Anlaşmalı boşanma protokolünün içeriğini de boşanma ücretini etkileyen faktörler arasında göstermemiz mümkündür.
                    </p>
                    <h3>Mersin Anlaşmalı Boşanma Avukatı Ücreti</h3>
                    <p>
                        Bu tür davalar tazminat, nafaka, vekalet gibi konularda sözleşme imzalanarak açılır. Anlaşmalı boşanma davalarında daha az emek ve mesai harcanır. Bu nedenle <strong>Mersin boşanma avukatları ücretleri</strong> anlaşmalı davalarda daha düşük olur. Bununla birlikte anlaşmalı boşanma davalarında asgarî ücret tutarı 4080 TL’dir. Bu davalarda <strong>Mersin avukat ücreti</strong> genellikle 6000 TL-15.000 TL arasındadır.
                    </p>
                    <h3>Mersin Çekişmeli Boşanma Davası Ücreti</h3>
                    <p>
                        Anlaşmalı ve çekişmeli boşanma davaları arasında önemli bir iş yükü farkından söz edilebilir. Bu yüzden çekişmeli boşanma davasında <strong>Mersin boşanma avukat masrafı</strong> daha yüksek olacaktır. Bu davalar çiftlerin nafaka, vekâlet, tazminat ve benzeri konularda anlaşamaması üzerine ödenir. Yine avukatlık ücreti ayrı, harç ve diğer masraflar ayrıdır. Çekişmeli boşanma davaları uzun sürer. Bazı davaların 1-3 yıl arasında sürmesi mümkündür. Avukatlar mesailerini hesaba katarken bu süreyi göz önünde tutar. Buna göre çekişmeli boşanma davalarında yaklaşık 7000 TL-20.000 TL arasında ücret alındığı söylenebilir.
                    </p>
                    <h3>Mersin Boşanma Avukatları Masrafı</h3>
                    <p>
                        Avukatlık ücretleri her yıl asgarî olarak baro tarafından belirlenir. Tabii ki fiyatlar her avukata göre değişir. Fakat tüm avukatlık ücretlerinde olduğu gibi <strong>Mersin boşanma avukatı masrafı</strong> da genellikle baro tarafından tavsiye edilen ücretten daha düşük olmaz. <strong>Mersin boşanma avukatları ücreti</strong> belirlerken avukatlık asgari ücret tarifesini ve davanın niteliğini dikkate alır. Ücret, belirlenmiş üst sınıra kadar yükselebilir. Avukatlık ücretleri konusunda her şehir barosunun tavsiye niteliğindeki tarife farklıdır. Sözlü danışma, dava dilekçesi yazılması, yazılı danışma, çağrı üzerine sözlü danışma, anlaşmalı ve çekişmeli boşanma davası ücretleri, maddi ve manevi tazminat için ücretler yıllık bazda artış gösterir.
                    </p>
                </div>
                <hr />
                <p class="article-author">Av. Yunus Emre Öz</p>
                <p class="article-date">02 Eylül 2021</p>
            </div>
        </div>
    </div>
</body>
