
@{
    ViewData["Title"] = "Makale6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .article-header {
        font-size: 21px;
        margin: 10px 0;
        line-height: 1.1;
        text-transform: uppercase;
    }

    .article-content-header {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1;
        color: #111111;
        text-decoration: none !important;
    }

    .article-content p {
        color: #111111;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.65;
        margin: 0 0 10px;
        text-align: justify;
    }

    .article-content a {
        color: #013a33;
    }
    /* Custom Styles */
    .ekip {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        /*         transition: transform 0.3s ease;
         */ border: 1px solid #ccc;
        margin-bottom: 20px;
    }

        .ekip img {
            object-fit: cover;
            position: relative;
            width: 100%;
            min-height: 220px;
            max-height: 220px;
        }


        .ekip .card-body {
            position: relative;
            margin-top: 0;
            padding: 1rem;
            flex: 1;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.05), 0 1px 3px 0 rgba(0,0,0,.1);
            background: #ffffff;
            display: flex;
            flex-direction: column;
        }

            .ekip .card-body a {
                text-decoration: none;
            }

        /* .ekip:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                } */

        .ekip .card-title {
            width: 100%;
            margin-top: 0 !important;
            color: #000;
            margin: 0px 0px 30px;
            padding: 0px 0px 4px;
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        .ekip .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff !important;
            text-transform: none !important;
            font-size: 1em !important;
            font-weight: 600 !important;
            margin-top: 0 !important;
            padding: 10px 0 0 0 !important;
            letter-spacing: .5px;
            border-top: 2px solid #ccc !important;
        }

        .ekip .read-more-btn {
            color: #000;
            text-decoration: underline;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative; /* Önemli: position değeri ekleyin */
            font-size: 12px;
            text-align: left;
        }


            .ekip .read-more-btn i {
                margin-left: 5px; /* Ok ikonu ile metin arasında boşluk bırakmak için */
            }

            .ekip .read-more-btn:hover {
                color: #013a33;
            }

        .ekip .social-icons {
            display: flex;
            gap: 10px; /* İkonlar arasında boşluk bırakmak için */
        }

        .ekip .social-icon {
            color: #013a33;
            font-size: 20px;
        }
</style>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/banner900.png" />
                <span>Makaleler</span>
            </div>
        </div>
        <div class="container mb-5">
            <ol class="breadcrumb border-1 border-bottom" style="border-color:#013a33 !important;">
                <li class="breadcrumb-item"><a href="Index">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Makaleler</li>
            </ol>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="card ekip">
                    <img src="~/assets/img/avukat-yunus-emre-oz.jpg" class="card-img-top img-fluid" alt="Kişi 2 Fotoğrafı">
                    <div class="card-body">
                        <div>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal2">
                                <h3 class="card-title ms-1 mb-5">Avukat Yunus Emre Öz</h3>
                            </a>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <div class="social-icons d-flex">
                                <a href="mailto:yunusemreoz@ozpartnershukuk.com" class="social-icon">
                                    <i class="fas fa-envelope" style="font-size:20px;"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/yunusemre%C3%B6z" target="_blank" class="social-icon">
                                    <i class="fab fa-linkedin" style="font-size:20px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-9 article">
                <h1 class="article-header" style="color: #013a33; font-weight: bold;">Influencer Marketing Düzenlemesi</h1>
                <hr />
                <p class="article-date" style="color: black; font-size: 13px;">Tarih: 30 Temmuz 2021</p>
                <div class="article-content">
                    <p>Geride bıraktığımız hafta, <a data-tracking-control-name="public_post_share-update_update-text" data-tracking-will-navigate="" href="https://web.archive.org/web/20220521082948/https://www.linkedin.com/company/ticaretbakanligi?trk=public_post_share-update_update-text" rel="nofollow">T.C. Ticaret Bakanlığı</a>nca pazarlamanın en güncel ve popüler metodlarından influencer marketing'i ele alıp iç mevzuatta benimsenen tüketici hukuku ile reklam hukuku kural ve ilkelerine uyumlamayı hedefleyen bir kılavuz yayınlandı.
                    </p>
                    <p>
                    Kılavuzda "Influencer" kavramı "Sosyal Medya Etkileyicisi" olarak isimlendirilmiş ve bu kişilerin sosyal medya platformlarında uyguladıkları farklı pazarlama yöntemleri detaylı bir şekilde tahkik edilerek kılavuz içeriğinde disipline edilmiş.
                    </p>
                    <p>
                    Ülkemizde 2021 Mayıs'ında hazırlanan kılavuza denk bir düzenleme Birleşik Krallık'ta bir buçuk yıl önce, Ekim 2019'da kamusal reklam otoritesi olan <a data-tracking-control-name="public_post_share-update_update-text" data-tracking-will-navigate="" href="https://web.archive.org/web/20220521082948/https://www.linkedin.com/company/advertising-standards-authority?trk=public_post_share-update_update-text" rel="nofollow">Advertising Standards Authority</a> tarafından yayınlanmış. Bu yönden geç kalınmış olsa da içerik açısından ihtiyaca cevap verir niteliğiyle son derece olumlu bir gelişme olarak değerlendirilmeli.
                    </p>
                    <p>
                    <a data-tracking-control-name="public_post_share-update_update-text" data-tracking-will-navigate="" href="https://web.archive.org/web/20220521082948/https://www.linkedin.com/company/ticaretbakanligi?trk=public_post_share-update_update-text" rel="nofollow">T.C. Ticaret Bakanlığı</a>nın kılavuzu: <a data-tracking-control-name="public_post_share-update_update-text" data-tracking-will-navigate="" href="https://web.archive.org/web/20220521082948/https://lnkd.in/gKRbJen?trk=public_post_share-update_update-text" rel="nofollow">https://lnkd.in/gKRbJen</a> Mukayese için <a data-tracking-control-name="public_post_share-update_update-text" data-tracking-will-navigate="" href="https://web.archive.org/web/20220521082948/https://www.linkedin.com/company/advertising-standards-authority?trk=public_post_share-update_update-text" rel="nofollow">Advertising Standards Authority</a>: <a data-tracking-control-name="public_post_share-update_update-text" data-tracking-will-navigate="" href="https://web.archive.org/web/20220521082948/https://lnkd.in/gskkKcP?trk=public_post_share-update_update-text" rel="nofollow">https://lnkd.in/gskkKcP</a>
                    </p>
                    <p>
                    <strong>Kaynak:</strong><a href="https://web.archive.org/web/20220521082948/https://www.linkedin.com/posts/yunusemre%C3%B6z_influencermarketing-hukuk-activity-6797458204403085312-5p5-">https://www.linkedin.com/posts/yunusemre%C3%B6z_influencermarketing-hukuk-activity-6797458204403085312-5p5-</a>
                    </p>
                </div>
                </div>

                <hr />
                <p class="article-author">Av. Yunus Emre Öz</p>
            <p class="article-date">30 Temmuz 2021</p>
            </div>
        </div>
    </div>
</body>
