@{
    ViewData["Title"] = "Article9Ru";
    Layout = "~/Views/Shared/_LayoutRu.cshtml";
}

<style>
    .article-header {
        font-size: 21px;
        margin: 10px 0;
        line-height: 1.1;
        text-transform: uppercase;
    }

    .article-content-header {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1;
        color: #111111;
        text-decoration: none !important;
    }

    .article-content p {
        color: #111111;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.65;
        margin: 0 0 10px;
        text-align: justify;
    }

    .article-content a {
        color: #013a33;
    }
    /* Custom Styles */
    .ekip {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        /*         transition: transform 0.3s ease;
         */ border: 1px solid #ccc;
        margin-bottom: 20px;
    }

        .ekip img {
            object-fit: cover;
            position: relative;
            width: 100%;
            min-height: 220px;
            max-height: 220px;
        }


        .ekip .card-body {
            position: relative;
            margin-top: 0;
            padding: 1rem;
            flex: 1;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.05), 0 1px 3px 0 rgba(0,0,0,.1);
            background: #ffffff;
            display: flex;
            flex-direction: column;
        }

            .ekip .card-body a {
                text-decoration: none;
            }

        /* .ekip:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                } */

        .ekip .card-title {
            width: 100%;
            margin-top: 0 !important;
            color: #000;
            margin: 0px 0px 30px;
            padding: 0px 0px 4px;
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        .ekip .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff !important;
            text-transform: none !important;
            font-size: 1em !important;
            font-weight: 600 !important;
            margin-top: 0 !important;
            padding: 10px 0 0 0 !important;
            letter-spacing: .5px;
            border-top: 2px solid #ccc !important;
        }

        .ekip .read-more-btn {
            color: #000;
            text-decoration: underline;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative; /* Önemli: position değeri ekleyin */
            font-size: 12px;
            text-align: left;
        }


            .ekip .read-more-btn i {
                margin-left: 5px; /* Ok ikonu ile metin arasında boşluk bırakmak için */
            }

            .ekip .read-more-btn:hover {
                color: #013a33;
            }

        .ekip .social-icons {
            display: flex;
            gap: 10px; /* İkonlar arasında boşluk bırakmak için */
        }

        .ekip .social-icon {
            color: #013a33;
            font-size: 20px;
        }
</style>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/banner900.png" />
                <span>Статьи</span>
            </div>
        </div>
        <div class="container mb-5">
            <ol class="breadcrumb border-1 border-bottom" style="border-color:#013a33 !important;">
                <li class="breadcrumb-item"><a href="IndexRu">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-item" href="ArticlesRu">Статьи</li></a>
            </ol>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="card ekip">
                    <img src="~/assets/img/avukat-yunus-emre-oz.jpg" class="card-img-top img-fluid" alt="Фото человека 2">
                    <div class="card-body">
                        <div>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal2">
                                <h3 class="card-title ms-1 mb-5">Адвокат Yunus Emre Öz</h3>
                            </a>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <div class="social-icons d-flex">
                                <a href="mailto:yunusemreoz@ozpartnershukuk.com" class="social-icon">
                                    <i class="fas fa-envelope" style="font-size:20px;"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/yunusemre%C3%B6z" target="_blank" class="social-icon">
                                    <i class="fab fa-linkedin" style="font-size:20px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-9 article">
                <h1 class="article-header" style="color: #013a33; font-weight: bold;">
                    Прекращение Стамбульской Конвенции
                </h1>
                <hr />
                <p class="article-date" style="color: black; font-size: 13px;">Дата: 8 июля 2021 года</p>
                <div class="article-content">
                    <p>
                        Турецкая Республика, в ночь с 19 на 20 марта 2021 года, вышла из "Стамбульской конвенции", официально известной как "Конвенция Совета Европы о предупреждении и борьбе с насилием в отношении женщин и домашнем насилии".
                    </p>
                    <p>
                        Хотя вывод из Стамбульской конвенции, по крайней мере пока нет, чтобы подорвать Закон № 6284, принятый в наше внутреннее законодательство на основе этой конвенции и названный "Закон о защите семьи и предотвращении насилия в отношении женщин"; текущая ситуация крайне подвержена недоразумениям среди граждан, не знакомых с деталями юридических институтов. С увеличением случаев преступлений против женщин, особенно в связи с ростом смелости мужчин, уже высокие уровни насилия против женщин, феминицида и подобных инцидентов, вероятно, увеличатся. Тем временем женщины могут почувствовать себя вынужденными поддаться своей (не)удаче, считая, что юридический щит для их защиты полностью поднят. Быстрый поиск в Google по запросу "6284" уже предлагает фразу "Был ли отменен Закон № 6284?" указывая на потенциальное публичное недопонимание. Алгоритмы поисковых систем часто предлагают пользователям часто искомые термины.
                    </p>
                    <p>
                        Помимо тяжести вывода из Конвенции, также крайне тревожен правовой порядок, следуемый в этом процессе. Одним из принципов, разработанных доктриной административного права, является принцип "параллелизма в компетенции и процедуре". Этот принцип может быть определен в своей простейшей форме как полномочие аннулировать существующее действие при условии, что то же самое процедурное действие осуществляется органом, который изначально обладал компетенцией для выполнения этого действия. В конкретном случае применяемое правило - это статья 90 Конституции. Эта статья формулируется следующим образом:
                    </p>
                    <p>
                        <em>"<strong>СТАТЬЯ 90-</strong> Утверждение договоров, которые должны быть заключены от имени Республики Турция с иностранными государствами и международными организациями, называемыми международными соглашениями, подлежит утверждению Турецким Великим Национальным Собранием законом."</em>
                    </p>
                    <p>
                        Турецкое Великое Национальное Собрание (ТБММ) утвердило Стамбульскую конвенцию, приняв закон 24 ноября 2011 года, и конвенция вступила в силу через этот процесс. Чтобы выйти сейчас, должен быть принят закон ТБММ, согласно принципу "параллелизма в компетенции и процедуре". Президент не имеет полномочий создать такую правовую ситуацию с помощью указа.
                    </p>
                    <p>
                        Итак, что привело к внезапной необходимости выхода из Стамбульской конвенции одной ночью? Те, кто не принял идею гендерного равенства из своей избирательной базы и чувствовали себя неуютно из-за увеличения укрепления женщин в обществе, особенно как неизбежного следствия времени, начали выражать свое недовольство голосами этой все более удовлетворенной группы, которая все больше институционализировалась. Для этой тревожной группы Стамбульская конвенция стала осязаемым воплощением институционализированного гендерного равенства и практически стала живой мишенью. Критика, специфичная для конвенции, также стала звучать все чаще. Когда эти моменты рассматриваются вместе, не будет ошибкой сказать, что на протяжении процесса, приведшего к решению выйти из конвенции, проводился политический анализ затрат и выгод, а не юридический. Другими словами, действия предпринимались с акцентом на получение голосов.
                    </p>
                    <p>
                        Одной из часто пренебрегаемых сторон обсуждения является временной характер указа, который я считаю ключевым. По-видимому, выражение воли выйти из конвенции на самом деле было зрелой идеей и решением, которое было принято за недели до этого. Однако формальную процедуру оставили на выполнение в ночь с 19 на 20 марта. Важно отметить, что 19-20 марта не являются произвольно выбранными датами. Поскольку Международный женский день приближался или только что прошел, отнимать права женщин, установленные международным соглашением, создало бы чрезвычайно негативное впечатление в глазах общественности. Следовательно, было необходимо, чтобы дни, предшествующие и следующие за 8 марта, прошли, прежде чем предпринять такой шаг. Кроме того, дождавшись ночи с 19 на 20 марта, предпринимались попытки предотвратить организацию сильного противоположного общественного мнения через пресс-релизы, марши и протесты, которые, вероятно, произошли бы 8 марта. Выбор ночи, соединяющей пятницу и субботу, также имел свои причины. Поскольку рынки закроются в последний рабочий день недели, реакция уже хрупкой экономики будет менее заметной. Кроме того, указ об отмене конвенции был опубликован вместе с решением об увольнении Главы Центрального банка Республики Турция. Это было стратегическим ходом, чтобы предотвратить два отрицательных развития, доминирующих в повестке дня в разное время, и предотвратить то, чтобы одно затмило другое.
                    </p>
                    <p>
                        В предыдущей статье, написанной мной к Международному женскому дню, я уподобил прогресс человечества на пути к цивилизации марше с двумя шагами вперед и одним шагом назад. Вывод из Стамбульской конвенции, который можно считать чрезвычайно несчастным событием, уже занял свое место в политической истории Турции как значительный шаг назад. Надеюсь на скорое исправление этой ошибки, и хотел бы завершить статью, процитировав высказывание Мустафы Кемаля Ататюрка, который возглавил турецкий народ в достижении быстрого прогресса на пути к "современным цивилизациям", подчеркивая важность продвижения обоих полов:
                    </p>
                    <p>
                        <em>"Человеческое общество состоит из двух полов, женского и мужского. Возможно ли, чтобы, стараясь поднять одну часть этой массы, мы можем пренебрегать другой и ожидать, что весь остальной мир будет продвигаться? Возможно ли, чтобы половина тела поднималась к небесам, а другая половина была скована землей?"</em>
                    </p>
                </div>

                <hr />
                <p class="article-author">Адвокат Yunus Emre Öz</p>
                <p class="article-date">8 июля 2021 года</p>
            </div>
        </div>
    </div>
</body>


