@{
    ViewData["Title"] = "Article2Ru";
    Layout = "~/Views/Shared/_LayoutRu.cshtml";
}



<style>
    .article-header {
        font-size: 21px;
        margin: 10px 0;
        line-height: 1.1;
        text-transform: uppercase;
    }

    .article-content-header {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1;
        color: #111111;
        text-decoration: none !important;
    }

    .article-content p {
        color: #111111;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.65;
        margin: 0 0 10px;
        text-align: justify;
    }

    .article-content a {
        color: #013a33;
    }
    /* Custom Styles */
    .ekip {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        /*         transition: transform 0.3s ease;
         */ border: 1px solid #ccc;
        margin-bottom: 20px;
    }

        .ekip img {
            object-fit: cover;
            position: relative;
            width: 100%;
            min-height: 220px;
            max-height: 220px;
        }


        .ekip .card-body {
            position: relative;
            margin-top: 0;
            padding: 1rem;
            flex: 1;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.05), 0 1px 3px 0 rgba(0,0,0,.1);
            background: #ffffff;
            display: flex;
            flex-direction: column;
        }

            .ekip .card-body a {
                text-decoration: none;
            }

        /* .ekip:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                } */

        .ekip .card-title {
            width: 100%;
            margin-top: 0 !important;
            color: #000;
            margin: 0px 0px 30px;
            padding: 0px 0px 4px;
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        .ekip .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff !important;
            text-transform: none !important;
            font-size: 1em !important;
            font-weight: 600 !important;
            margin-top: 0 !important;
            padding: 10px 0 0 0 !important;
            letter-spacing: .5px;
            border-top: 2px solid #ccc !important;
        }

        .ekip .read-more-btn {
            color: #000;
            text-decoration: underline;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative; /* Önemli: position değeri ekleyin */
            font-size: 12px;
            text-align: left;
        }


            .ekip .read-more-btn i {
                margin-left: 5px; /* Ok ikonu ile metin arasında boşluk bırakmak için */
            }

            .ekip .read-more-btn:hover {
                color: #013a33;
            }

        .ekip .social-icons {
            display: flex;
            gap: 10px; /* İkonlar arasında boşluk bırakmak için */
        }

        .ekip .social-icon {
            color: #013a33;
            font-size: 20px;
        }
</style>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/banner900.png" />
                <span>Статьи</span>
            </div>
        </div>
        <div class="container mb-5">
            <ol class="breadcrumb border-1 border-bottom" style="border-color:#013a33 !important;">
                <li class="breadcrumb-item"><a href="IndexRu">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-item" href="ArticlesRu">Статьи</a></li>
            </ol>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="card ekip">
                    <img src="~/assets/img/avukat-yunus-emre-oz.jpg" class="card-img-top img-fluid" alt="Фото лица 2">
                    <div class="card-body">
                        <div>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal2">
                                <h3 class="card-title ms-1 mb-5">Адвокат Yunus Emre Öz</h3>
                            </a>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <div class="social-icons d-flex">
                                <a href="mailto:yunusemreoz@ozpartnerslaw.com" class="social-icon">
                                    <i class="fas fa-envelope" style="font-size:20px;"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/yunusemre%C3%B6z" target="_blank" class="social-icon">
                                    <i class="fab fa-linkedin" style="font-size:20px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-9 article">
                <h1 class="article-header" style="color: #013a33; font-weight: bold;">Адвокат по уголовным делам в Мерсине</h1>
                <hr />
                <p class="article-date" style="color: black; font-size: 13px;">Дата: 2 сентября 2021 года</p>
                <div class="article-content">
                    <p>Отвечая на запрос о поиске адвоката по уголовным делам в Мерсине с элитной командой, Юридическое бюро Öz&amp;Partners защищает своих реальных и юридических клиентов с опытными уголовными и тяжкими уголовными адвокатами.</p>
                    <p>Оно предоставляет консультации и правовые услуги по всем уголовным обвинениям, уголовным жалобам, уголовным делам и другим областям, связанным с уголовным правом.</p>
                    <p>Более того, адвокаты Öz&amp;Partners представляют своих клиентов в качестве адвоката по защите и истцов в уголовных судах.</p>
                    <p>Столкновение с обвинениями или жертвование в рамках уголовного законодательства может повлечь за собой серьезные последствия. Решения уголовных судов включают глубокие вмешательства в права и свободы личности.</p>
                    <p>Если вы не хотите столкнуться с непредвиденными негативными ситуациями, необходимо обратиться за помощью к адвокату по уголовным делам для правильного ведения, управления процессом и правильных юридических процедур.</p>
                    <p>Сотрудничая с лучшими <strong>адвокатами по уголовным делам в Мерсине</strong>, <a href="ContactRu">Юридическое бюро Öz&amp;Partners</a> стремится предотвратить неблагоприятный исход этого процесса для клиентов и защищает их на судах. Оно работает над тем, чтобы предотвратить несправедливое жертвование своих клиентов. Обеспечивает, чтобы уголовные дела развивались в соответствии с законными нормами.</p>
                    <h2>Услуги адвоката по уголовным делам в Мерсине</h2>
                    <ul style="list-style-type:square;">
                        <li>Присутствие при взятии показаний в правоохранительных органах или прокуратуре</li>
                        <li>Подготовка жалобы и ее приложений</li>
                        <li>Действие в качестве адвоката по защите и истцов в тяжком уголовном суде</li>
                        <li>Действие в качестве адвоката по защите и истцов в уголовном мирном суде</li>
                        <li>Действие в качестве адвоката по защите и истцов в уголовном суде первой инстанции</li>
                        <li>Обжалование решения прокурора о непривлечении к уголовной ответственности</li>
                        <li>Обжалование решений об аресте</li>
                        <li>Посещение осужденных и заключенных в тюрьмах</li>
                        <li>Подготовка жалоб на вынесенные решения</li>
                    </ul>
                    <p>При выборе правильного адвоката, часто рекомендуемого как <em>совет адвоката по уголовным делам в Мерсине</em>, Юридическое бюро Öz&amp;Partners имеет опытный, юридически компетентный и коммуникабельный персонал адвокатов.</p>
                    <p>Мы находимся всего в одном звонке от ваших дел по всей Турции. Свяжитесь с нами <a href="ContactRu">сейчас</a> и познакомьтесь с нашими адвокатами, входящими в число лучших <strong>адвокатов по уголовным делам в Мерсине</strong>.</p>
                </div>

                <hr />
                <p class="article-author">Адвокат Yunus Emre Öz</p>
                <p class="article-date">2 сентября 2021 года</p>
            </div>
        </div>
    </div>
</body>


