@{
    ViewData["Title"] = "Article8Ru";
    Layout = "~/Views/Shared/_LayoutRu.cshtml";
}

<style>
    .article-header {
        font-size: 21px;
        margin: 10px 0;
        line-height: 1.1;
        text-transform: uppercase;
    }

    .article-content-header {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1;
        color: #111111;
        text-decoration: none !important;
    }

    .article-content p {
        color: #111111;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.65;
        margin: 0 0 10px;
        text-align: justify;
    }

    .article-content a {
        color: #093a33;
    }
    /* Custom Styles */
    .ekip {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        /*         transition: transform 0.3s ease;
         */ border: 1px solid #ccc;
        margin-bottom: 20px;
    }

        .ekip img {
            object-fit: cover;
            position: relative;
            width: 100%;
            min-height: 220px;
            max-height: 220px;
        }


        .ekip .card-body {
            position: relative;
            margin-top: 0;
            padding: 1rem;
            flex: 1;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.05), 0 1px 3px 0 rgba(0,0,0,.1);
            background: #ffffff;
            display: flex;
            flex-direction: column;
        }

            .ekip .card-body a {
                text-decoration: none;
            }

        /* .ekip:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                } */

        .ekip .card-title {
            width: 100%;
            margin-top: 0 !important;
            color: #000;
            margin: 0px 0px 30px;
            padding: 0px 0px 4px;
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        .ekip .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff !important;
            text-transform: none !important;
            font-size: 1em !important;
            font-weight: 600 !important;
            margin-top: 0 !important;
            padding: 10px 0 0 0 !important;
            letter-spacing: .5px;
            border-top: 2px solid #ccc !important;
        }

        .ekip .read-more-btn {
            color: #000;
            text-decoration: underline;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative; /* Önemli: position değeri ekleyin */
            font-size: 12px;
            text-align: left;
        }


            .ekip .read-more-btn i {
                margin-left: 5px; /* Ok ikonu ile metin arasında boşluk bırakmak için */
            }

            .ekip .read-more-btn:hover {
                color: #093a33;
            }

        .ekip .social-icons {
            display: flex;
            gap: 10px; /* İkonlar arasında boşluk bırakmak için */
        }

        .ekip .social-icon {
            color: #093a33;
            font-size: 20px;
        }
</style>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/bannerNew.png" />
                <span>Статьи</span>
            </div>
        </div>
        <div class="container mb-5">
            <ol class="breadcrumb border-1 border-bottom" style="border-color:#093a33 !important;">
                <li class="breadcrumb-item"><a href="IndexRu">Домой</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-item" href="ArticlesRu">Статьи</a></li>
            </ol>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="card ekip">
                    <img src="~/assets/img/avukat-yunus-emre-oz.jpg" class="card-img-top img-fluid" alt="Фото Лица 2">
                    <div class="card-body">
                        <div>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal2">
                                <h3 class="card-title ms-1 mb-5">Адвокат Yunus Emre Öz</h3>
                            </a>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <div class="social-icons d-flex">
                                <a href="mailto:yunusemreoz@ozpartnershukuk.com" class="social-icon">
                                    <i class="fas fa-envelope" style="font-size:20px;"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/yunusemre%C3%B6z" target="_blank" class="social-icon">
                                    <i class="fab fa-linkedin" style="font-size:20px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-9 article">
                <h1 class="article-header" style="color: #093a33; font-weight: bold;">Карантин противоречит конституции</h1>
                <hr />
                <p class="article-date" style="color: black; font-size: 13px;">Дата: 8 июля 2021 года</p>
                <div class="article-content">
                    <ol class="article-content-header" style="list-style-type: upper-alpha;">
                        <li><strong>Введение</strong></li>
                    </ol>
                    <p>
                        Глобальная пандемия COVID-19, затронувшая весь мир, продолжается в нашей стране с момента обнаружения первого случая в марте 2020 года. В Турции, как и во многих странах, первоначальным методом, принятым публичными властями для предотвращения распространения, были карантинные меры. Однако, возможно, из-за срочности процесса или по политическим и экономическим причинам, решения о карантине были приняты вопреки позитивному праву (действующим правовым нормам).
                    </p>
                    <p>
                        Этот материал, задуманный во время одного карантина и завершенный в другой день карантина, будет оценивать карантинные меры, которые касаются всех нас, с правовой точки зрения, избегая чрезмерно академического или технического языка.
                    </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="2">
                        <li><strong>Конституция - Основные права и свободы</strong></li>
                    </ol>
                    <p>
                        Основные права и свободы, завоеванные в ходе борьбы между управляемыми и управляющими на протяжении всей истории, являются неотъемлемыми правами, которые являются "личными, неприкосновенными, неотчуждаемыми и невозможными к отзыву", просто будучи человеком. С точки зрения правителей они представляют собой уступки, предоставленные управляемым. В современном мире эти основные права и свободы закреплены в конституционных текстах, которые являются социальными контрактами между государством и обществом, определяя, когда, в какой степени и каким образом управители могут вмешиваться или ограничивать их, и они также защищены в конституционных текстах.
                    </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="3">
                        <li><strong>Систематика для защиты основных прав и свобод</strong></li>
                    </ol>
                    <p>
                        Для юридических специалистов, которые могли покинуть юридическую школу без практического применения или забыли соответствующие курсы, преподаваемые на факультете, чтобы сделать вопрос более понятным: в этом контексте полезно говорить о системе основных прав и свобод в Конституции Республики Турции с 1982 года:
                        Статьи с 17 по 74 действующей Конституции Республики Турции от 1982 года защищают недопустимые основные права и свободы, такие как неприкосновенность жилища, свобода мысли и выражения, право на образование и права собственности для каждого из нас. Статья 13 Конституции устанавливает условия и порядок для государства, осуществляющего публичную власть, чтобы ограничивать эти основные права и свободы, тем самым уточняя систематику и обеспечивая предотвращение произвольных и незаконных практик, нацеленных на эффективное использование этих прав в реальном мире, а не на бумаге. Следует отметить, что эта статья в рамках процесса гармонизации с Европейским союзом в 2001 году подверглась поправкам к Конституции в разделе о законе и правах человека. С дополнительными и временными положениями в более чем 200 статьях и более чем 20 000 словах Конституции понятие "заразного заболевания" упоминается только в статье 119. Можно сделать вывод, что воля законодателя направлена на регулирование мер и действий, предпринимаемых против опасной эпидемии, в рамках чрезвычайного режима.
                    </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="4">
                        <li><strong>Конституционное измерение запрета</strong></li>
                    </ol>
                    <p>
                        Простым определением свободы передвижения является способность свободного перемещения из одного места в другое или отсутствие препятствий для посещения определенного места. На первый взгляд кажется, что эта кажущаяся тривиальная свобода защищена как основное право в соответствии со статьей 23 Конституции Республики Турции, озаглавленной "Свобода поселения и передвижения". Карантинные меры ограничивают свободу передвижения, основное право и свободу, упомянутые в конституции. Поэтому решения и реализация карантина подпадают под систематику, объясненную выше. Чтобы сделать более ясные и конкретные абстрактные пояснения, я иду по тексту статьи Конституции:
                        “<strong>V. Свобода поселения и передвижения</strong>
                        <strong>Статья 23–</strong> У каждого есть право на свободу поселения и передвижения.
                        …
                        Свободу передвижения можно ограничить законом с целью предотвращения расследования и судебного преследования преступления;
                        ”
                        Когда эти пояснения о системе ограничения рассматриваются вместе с текстом статьи, становится понятно, что свободу передвижения можно ограничить только в случае двух существенных ситуаций: "предотвращение расследования и судебного преследования преступления" или "предотвращение совершения преступления". Ясно, что глобальная пандемия Covid-19, которая обусловливает ограничение свободы передвижения для предотвращения ее распространения, не имеет никакого отношения к вопросам "расследования и судебного преследования преступления" или "предотвращения совершения преступления". Хотя сохранение "общественного здоровья" находит место в качестве ограничивающего фактора в текстах других 6 основных прав и свобод в тексте статьи Конституции, это не является причиной для ограничения свободы передвижения. Другими словами, систематика конституционного ограничения основных прав и свобод не допускает решения и реализации карантина.
                    </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="5">
                        <li><strong>Основная процедура для следования</strong></li>
                    </ol>
                    <p>
                        Однако тот факт, что конституционная систематика ограничения основных прав и свобод не допускает реализацию карантинных мер, не означает, что всеобщий опыт конституционного права, у которого основной целью и функцией является регулирование взаимодействия человека, общества и государства, безразличен к факту эпидемии, с которой сталкивается человечество с тех времен, когда началась поселенческая жизнь. Напротив, правовая история, литература по конституционному праву и действующая Конституция Республики Турции с тысячелетним опытом смогли предвидеть условия и потребности, созданные эпидемией, и разработать институты, способные на них реагировать. Одним из таких институтов является "Чрезвычайное положение".
                        Чрезвычайное положение - это временная форма управления, при которой баланс прав между властью и гражданином сдвигается в пользу государства из-за недостаточности обычных операций и полномочий в узких переходах, таких как война, тяжелый экономический кризис, мобилизация, угроза раскола страны, опасные эпидемии и т.д. Статья 119 Конституции Республики Турции от 1982 года, озаглавленная "Управление чрезвычайным положением", позволяет управляющему, управляющему публичной властью, перейти к управлению чрезвычайным положением в случаях войны, мобилизации, угрозы раскола страны, тяжелого экономического кризиса, природных бедствий и опасных эпидемических заболеваний (с дополнительными и временными статьями это единственное место в Конституции, где упоминается понятие "заразного заболевания". В этом отношении можно сделать вывод, что воля законодателя направлена на реализацию мер и борьбу против опасной эпидемии в рамках чрезвычайного режима.) Когда управление чрезвычайным положением начинается, 3-кратное обеспечение в статье 13 Конституции, как было объяснено выше, может быть временно отключено до прекращения узкого прохода. Потому что статья 15, закодированная в том же разделе, что и статья 13 Конституции, озаглавленная "Приостановление осуществления основных прав и свобод", кажется передавать мяч с статьей 119, позволяя частичное или полное приостановление основных прав и свобод или принятие мер, противоречащих конституционным гарантиям, в управлении чрезвычайным положением.
                        Это процедура, которую необходимо следовать для принятия и реализации карантинных мер.
                    </p>
                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="6">
                        <li><strong>Заключение</strong></li>
                    </ol>
                    <p>
                        Реализация карантинных мер в течение последнего года явно нарушает высший закон, Конституцию, без необходимости исключительных юридических знаний. В принципе правового государства, что означает, что управитель, как и управляемый, подчинен правилам и принципам, легитимность действий и сделок публичной власти исходит из и основана на правовых нормах. Без основы такие действия или сделки не могут быть осуществлены. Принятие иного мнения приведет к появлению личных, произвольных, непредсказуемых и несоразмерных правил. Тем не менее следует подчеркнуть, что, несмотря на то что критиковались в течение всей статьи, карантинные меры принесли положительные результаты в контроле за распространением пандемии, достижение того же положительного результата с использованием юридических инструментов является не только требованием правового государства, но и необходимостью быть среди ведущих цивилизованных наций мира.
                    </p>
                </div>
                <hr />
                <p class="article-author">Адвокат Yunus Emre Öz</p>
                <p class="article-date">8 июля 2021 года</p>
            </div>
        </div>
    </div>
</body>


