@{
    ViewData["Title"] = "Article4Ru";
    Layout = "~/Views/Shared/_LayoutRu.cshtml";
}
<style>
    .article-header {
        font-size: 21px;
        margin: 10px 0;
        line-height: 1.1;
        text-transform: uppercase;
    }

    .article-content-header {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1;
        color: #111111;
        text-decoration: none !important;
    }

    .article-content p {
        color: #111111;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.65;
        margin: 0 0 10px;
        text-align: justify;
    }

    .article-content a {
        color: #093a33;
    }
    /* Custom Styles */
    .ekip {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        /*         transition: transform 0.3s ease;
         */ border: 1px solid #ccc;
        margin-bottom: 20px;
    }

        .ekip img {
            object-fit: cover;
            position: relative;
            width: 100%;
            min-height: 220px;
            max-height: 220px;
        }


        .ekip .card-body {
            position: relative;
            margin-top: 0;
            padding: 1rem;
            flex: 1;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.05), 0 1px 3px 0 rgba(0,0,0,.1);
            background: #ffffff;
            display: flex;
            flex-direction: column;
        }

            .ekip .card-body a {
                text-decoration: none;
            }

        /* .ekip:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                } */

        .ekip .card-title {
            width: 100%;
            margin-top: 0 !important;
            color: #000;
            margin: 0px 0px 30px;
            padding: 0px 0px 4px;
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        .ekip .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff !important;
            text-transform: none !important;
            font-size: 1em !important;
            font-weight: 600 !important;
            margin-top: 0 !important;
            padding: 10px 0 0 0 !important;
            letter-spacing: .5px;
            border-top: 2px solid #ccc !important;
        }

        .ekip .read-more-btn {
            color: #000;
            text-decoration: underline;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative; /* Önemli: position değeri ekleyin */
            font-size: 12px;
            text-align: left;
        }


            .ekip .read-more-btn i {
                margin-left: 5px; /* Ok ikonu ile metin arasında boşluk bırakmak için */
            }

            .ekip .read-more-btn:hover {
                color: #093a33;
            }

        .ekip .social-icons {
            display: flex;
            gap: 10px; /* İkonlar arasında boşluk bırakmak için */
        }

        .ekip .social-icon {
            color: #093a33;
            font-size: 20px;
        }
</style>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/banner1000.png" />
                <span>Статьи</span>
            </div>
        </div>
        <div class="container mb-5">
            <ol class="breadcrumb border-1 border-bottom" style="border-color:#093a33 !important;">
                <li class="breadcrumb-item"><a href="IndexRu">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-item" href="ArticlesRu">Статьи</a></li>
            </ol>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="card ekip">
                    <img src="~/assets/img/avukat-emin-oz.jpg" class="card-img-top img-fluid" alt="Фото Лица 1">
                    <div class="card-body">
                        <div>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal1">
                                <h3 class="card-title ms-1 mb-5">Адвокат Emin Öz</h3>
                            </a>
                        </div>
                        <div class="card-footer d-flex justify-content-center border-4">
                            <div class="social-icons d-flex">
                                <a href="mailto:eminoz@ozpartnershukuk.com" class="social-icon">
                                    <i class="fas fa-envelope" style="font-size:20px;"></i>
                                </a>
                                <a href="https://www.facebook.com/aveminoz/" target="_blank" class="social-icon">
                                    <i class="fab fa-facebook" style="font-size:20px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-9 article">
                <h1 class="article-header" style="color: #093a33; font-weight: bold;">Юридическая контора Mersin</h1>
                <hr />
                <p class="article-date" style="color: black; font-size: 13px;">Дата: 2 сентября 2021 года</p>
                <div class="article-content">
                    <p>
                        <strong>Юридическая контора Mersin</strong>, действующая под названием Oz&amp;Partners Law, была создана в 1974 году. Предоставляя услуги уже почти 50 лет, юридическая контора Oz&amp;Partners обслужила тысячи клиентов, включая известных личностей и организации в Мерсине.
                    </p>
                    <p>
                        Основанная адвокатом Эмином Эз, наша юридическая фирма предоставляет услуги, ориентированные на клиента, с момента своего создания. Юридическая контора Oz&amp;Partners стоит среди престижных юридических фирм Мерсина, придерживаясь принципов профессиональной тайны, этических принципов и высокого качества.
                        Предоставляя конкретные и эффективные юридические решения, соответствующие потребностям клиентов и требованиям времени, <strong>юридическая контора Мерсина</strong> обслуживает с опытной командой, обладающей всеми необходимыми академическими знаниями и навыками в области семейного и разводного права, компенсаций, наследственного и земельного права.
                    </p>
                    <p>
                        Юридическая контора Мерсина предоставляет поддержку по вопросам семейного и разводного, компенсационного, наследственного и земельного права, а также юридическую помощь в области коммерческого и корпоративного права, трудового права, уголовного права, исполнительного права, административного, налогового и таможенного права.
                    </p>
                    <p>
                        Предоставляя корпоративные консультационные услуги, <strong>юридическая контора Мерсина</strong> придерживается принципов решения проблем в соответствии с юридическими принципами и действует в соответствии с защитным юридическим механизмом.
                        Следя за современными требованиями, юридическая контора Oz&amp;Partners готова быть вашим юридическим и стратегическим партнером с наилучшими, быстрыми, практичными и аналитическими решениями.
                    </p>

                    <h2>Лучшая юридическая контора Мерсина</h2>
                    <p>
                        Одна из самых уважаемых и устоявшихся юридических фирм в нашей стране, <a href="Corporate">Юридическая контора Oz&amp;Partners</a>, предоставляет комплексные консультационные услуги клиентам в локальных и международных секторах. Она эффективно участвует в разрешении споров как в компетентных судах, так и через локальные и международные арбитражные суды.
                        Предоставляя услуги вместе с доцентами, профессорами, ассистентами, адвокатами и консультантами-юристами, <strong>лучшая юридическая контора Мерсина</strong> включает в себя выдающихся специалистов в своей области.
                    </p>
                    <p>
                        Отражая силу своего почти 50-летнего опыта в своих услугах, портфель юридических услуг конторы Oz&amp;Partners включает множество отечественных и зарубежных инвесторов. Разделенная на различные отделы в соответствии с рабочими областями, фирма поддерживает свою позицию первого выбора среди <strong>юридических фирм Мерсина</strong> с экспертной командой в различных областях права и крепкой клиентской сетью, отражающей глобальную динамику.
                    </p>

                    <h3>Наша миссия и видение</h3>
                    <p>
                        <ul style="list-style-type:square;">
                            <li>Постановка интересов наших клиентов выше наших успехов, предоставляя точные, справедливые, эффективные и актуальные ответы на изменяющиеся потребности времени.</li>
                            <li>Решение юридических проблем в соответствии с изменениями и развитием конституции, законов, нормативных актов, статутов, судебной практики и решений Верховного Суда-Совета Государства.</li>
                            <li>Быть строгим следителем юридических процессов и управлять процедурами наивысшего качества.</li>
                            <li>Работать в соответствии с совестью, правами и критериями справедливости, учитывая фундаментальные права и свободы.</li>
                            <li>Служить с титулом <strong>лучшей юридической конторы Мерсина</strong> для установления верховенства права и поощрения превосходства права.</li>
                            <li>Осуществлять юридическую деятельность с знанием, наукой и интеллектом для обеспечения справедливости во всех аспектах жизни.</li>
                            <li>Предоставление профессиональных услуг, ориентированных на решения и доверие.</li>
                            <li>Наш офис, основанный на принципах конфиденциальности, взаимного доверия и уважения к человеку, решительно намерен сохранить свое престижное положение среди <strong>юридических фирм Мерсина</strong>.</li>
                        </ul>
                    </p>

                    <h3>Области практики юридической конторы Мерсина</h3>
                    <p>
                        <strong>Юридическая контора Мерсина</strong> стремится точно и оперативно реагировать на потребности и запросы, представляя своих клиентов и турецкое право с должным уважением. Работая с проактивным подходом, юридическая контора Oz&amp;Partners предоставляет свои услуги в обещанных условиях и сроках. Фирма подходит к своим клиентам с равенством, достоинством, учтивостью, уважением и в рамках правосудия. Она прозрачно сообщает результаты и развитие своей деятельности своим клиентам. Контора обязуется сохранять конфиденциальность личной информации физических и юридических лиц, с которыми она работает. Подтверждая свое превосходство среди <strong>юридических фирм Мерсина</strong>, юридическая контора Oz&amp;Partners работает в следующих областях:
                    </p>

                    <h4>Семейное и разводное право</h4>
                    <p>
                        Предоставляя услуги по юридическому консультированию по вопросам развода, алиментов и представляя интересы клиентов в судебных процессах, юридическая контора Oz&amp;Partners помогает своим клиентам успешно завершить юридические процессы и получить свои права.
                    </p>

                    <h4>Компенсационное право</h4>
                    <p>
                        Представляя интересы клиентов в вопросах компенсации, возникающих из дорожно-транспортных происшествий, несчастных случаев на производстве, медицинских ошибок и других аналогичных ситуаций, контора эффективно преследует компенсационные требования своих клиентов.
                    </p>

                    <h4>Наследственное право</h4>
                    <p>
                        Предоставляя юридические услуги по наследству, такие как завещания и споры о наследстве, юридическая контора Oz&amp;Partners помогает клиентам защитить свои наследственные права! Контора предоставляет консультационные и представительские услуги в наследственных делах. Она помогает клиентам подготовить завещания.
                    </p>

                    <h4>Земельное право</hissedarı</h4>
                    <p>
                        Юридическая контора Oz&amp;Partners, предоставляя правовую поддержку для сделок с недвижимостью, помогает своим клиентам в решении юридических вопросов, связанных с недвижимостью. Контора гарантирует, что сделки с недвижимостью ее клиентов соответствуют закону и защищает их права.
                    </p>

                    <h4>Коммерческое и корпоративное право</hainlik</h4>
                    <p>
                        Предоставляя юридические консультации и представительские услуги в вопросах коммерческого и корпоративного права, юридическая контора Мерсина помогает клиентам ориентироваться в сложностях бизнес-законов и правил. Она стремится защитить юридические интересы предприятий и способствовать их успеху.
                    </p>

                    <h4>Трудовое право</h4>
                    <p>
                        Представляя интересы как работодателей, так и работников, юридическая контора Oz&amp;Partners предоставляет юридические услуги по трудовому праву. Контора помогает клиентам понять свои права и обязанности, разрешает трудовые споры и обеспечивает соблюдение трудового законодательства.
                    </p>

                    <h4>Уголовное право</h4>
                    <p>
                        Защищая права лиц, обвиняемых в уголовных преступлениях, юридическая контора предоставляет представление в уголовных делах. Она стремится обеспечить справедливый юридический процесс и защитить права обвиняемых в соответствии с принципами правосудия.
                    </p>

                    <h4>Исполнительное право</h4>
                    <p>
                        Помогая клиентам в вопросах, связанных с исполнительным правом, юридическая контора Oz&amp;Partners представляет их в исполнительных процедурах. Контора помогает клиентам ориентироваться в процессе исполнения и защищает их права в исполнительных вопросах.
                    </p>

                    <h4>Административное, налоговое и таможенное право</h4>
                    <p>
                        Предоставляя юридические услуги в области административного, налогового и таможенного права, юридическая контора Мерсина помогает клиентам в вопросах взаимодействия с государственными органами и обеспечивает соблюдение регуляций. Она стремится защитить права и интересы клиентов в административных и налоговых вопросах.
                    </p>
                    <p>
                        Как <strong>лучшая юридическая контора Мерсина</strong>, юридическая контора Oz&amp;Partners посвящена предоставлению высококачественных юридических услуг в различных областях практики. С опытной командой адвокатов и обязательством к удовлетворению клиентов, юридическая контора продолжает быть надежным юридическим партнером для частных лиц и предприятий в Мерсине и за ее пределами.
                    </p>

                    <h3>Свяжитесь с юридической конторой Oz&amp;Partners</h3>
                    <p>
                        Если вам нужна юридическая помощь или консультация в Мерсине, юридическая контора Oz&amp;Partners готова помочь. Не стесняйтесь <a href="Contact">связаться</a> с юридической конторой для профессиональных и надежных юридических услуг. Будь то вопросы семейного права, компенсаций, наследственного права, недвижимости, коммерческого права, трудового права, уголовного права, исполнительного права или административного и налогового права, опытная команда юридической конторы Oz&amp;Partners готова вам помочь. Доверьтесь лучшей юридической конторе Мерсина для всех ваших юридических нужд.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>


