@{
    ViewData["Title"] = "ArticlesRu";
    Layout = "~/Views/Shared/_LayoutRu.cshtml";
}

<style>
    /* Custom Styles */
    .esin-grid-item {
        margin-bottom: 30px;
    }

        .esin-grid-item a {
            text-decoration: none;
            color: #333; /* Kart içindeki link rengi */
        }

    .grid-item-wrapper-padding {
        top: 0;
        position: relative;
        color: #000;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
        transition: all .4s;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .grid-item-wrapper {
        border: 1px solid #013a33;
        padding: 15px;
        transition: all .4s;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

        .grid-item-wrapper:hover {
            transform: scale(1.05);
        }

    .grid-item-info {
        display: flex;
        flex-direction: column;
        height: 250px;
    }

    .esin-grid-item .grid-item-date {
        font-weight: 700;
    }

    .grid-item-heading {
        color: #013a33;
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 10px; /* Yeni eklenen satır */
        margin-top: 10px;
    }

    .grid-item-category {
        background: #013a33;
        color: #fff;
        text-align: center;
        padding: 5px;
        font-size: 12px;
    }

    .excerpt {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6; /* Burada 3 satıra kadar excerpt gösterilecek şekilde ayarladım, ihtiyacınıza göre arttırabilirsiniz */
        -webkit-box-orient: vertical;
        margin-bottom: 20px;
    }

    .sub-content p {
        line-height: 1.65;
        margin-bottom: 20px;
        padding: 0;
    }

    .sub-content {
        margin-bottom: 20px;
        font-size: 14px;
        color: #111;
    }

</style>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/banner900.png" alt="Изображение баннера" />
                <span>Статьи</span>
            </div>
        </div>
        <div class="container mb-5">
            <ol class="breadcrumb border-1 border-bottom">
                <li class="breadcrumb-item"><a href="Index">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Статьи</li>
            </ol>
        </div>
    </section>
    <div class="container sub-content mt-2">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 esin-grid-item">
                <a href="Article1Ru">
                    <div class="grid-item-wrapper-padding shadow">
                        <div class="grid-item-wrapper">
                            <div class="grid-item-info">
                                <div class="grid-item-date">
                                    12/01/2022
                                </div>
                                <h2 class="grid-item-heading">Личная и юридическая перспектива на рост чувствительности к животным</h2>
                                <div class="excerpt">
                                    <p>Тяжелое ранение 4-летней Асие Атеш в результате нападения 2 питбулов возродило давние опасения по поводу бродячих животных. […]</p>
                                </div>
                            </div>
                            <a href="Article1Ru" class="grid-item-category text-white">Читать далее...</a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-12 col-md-6 col-lg-4 esin-grid-item">
                <a href="Article2Ru">
                    <div class="grid-item-wrapper-padding shadow">
                        <div class="grid-item-wrapper">
                            <div class="grid-item-info">
                                <div class="grid-item-date">
                                    02/09/2021
                                </div>
                                <h2 class="grid-item-heading">
                                    Уголовный адвокат в Мерсине
                                </h2>
                                <div class="excerpt">
                                    <p>Юридическое бюро Oz&Partners, отвечающее на запрос о поиске выдающегося уголовного адвоката в Мерсине с опытными уголовными и тяжкими уголовными адвокатами, предоставляет консультации и адвокатские услуги во всех областях, связанных с уголовными жалобами, уголовным преследованием, расследованием и другими областями уголовного права.</p>
                                </div>
                            </div>
                            <a href="Article2Ru" class="grid-item-category text-white">Читать далее...</a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-12 col-md-6 col-lg-4 esin-grid-item">
                <a href="Article3Ru">
                    <div class="grid-item-wrapper-padding shadow">
                        <div class="grid-item-wrapper">
                            <div class="grid-item-info">
                                <div class="grid-item-date">
                                    02/09/2021
                                </div>
                                <h2 class="grid-item-heading">
                                    Адвокат по разводу в Мерсине
                                </h2>
                                <div class="excerpt">
                                    <p>Юридическое бюро Oz&Partners, отвечая на запрос об опытной команде адвокатов по разводу в Мерсине, предоставляет правовые решения для оспариваемых и неоспариваемых случаев развода. В процессе законного прекращения брака оно предлагает правовые консультации и услуги по разбирательству по вопросам опеки, алиментов, компенсации и урегулирования имущественного режима брака.</p>
                                </div>
                            </div>
                            <a href="Article3Ru" class="grid-item-category text-white">Читать далее...</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 esin-grid-item">
                <a href="Article4Ru">
                    <div class="grid-item-wrapper-padding shadow">
                        <div class="grid-item-wrapper">
                            <div class="grid-item-info">
                                <div class="grid-item-date">
                                    02/09/2021
                                </div>
                                <h2 class="grid-item-heading">
                                    Юридическое бюро в Мерсине
                                </h2>
                                <div class="excerpt">
                                    <p>Oz&Partners Law, действующее как юридическое бюро в Мерсине, было основано в 1974 году. Почти 50 лет Юридическое бюро Oz&Partners предоставляет услуги частным лицам и юридическим лицам, особенно известным в Мерсине. […]</p>
                                </div>
                            </div>
                            <a href="Article4Ru" class="grid-item-category text-white">Читать далее...</a>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Статья 5 -->
            <div class="col-12 col-md-6 col-lg-4 esin-grid-item">
                <a href="Article5Ru">
                    <div class="grid-item-wrapper-padding shadow">
                        <div class="grid-item-wrapper">
                            <div class="grid-item-info">
                                <div class="grid-item-date">
                                    30/07/2021
                                </div>
                                <h2 class="grid-item-heading">
                                    Расследование WhatsApp и Facebook
                                </h2>
                                <div class="excerpt">
                                    <p>Антимонопольное ведомство, одно из независимых административных органов, которые можно считать полуобщественными и полуавтономными, начало расследование против WhatsApp и Facebook. Это расследование стало горячей темой в общественной агенде за последние месяцы из-за нового соглашения о конфиденциальности и использовании данных, налагаемого компанией на пользователей. […]</p>
                                </div>
                            </div>
                            <a href="Article5Ru" class="grid-item-category text-white">Читать далее...</a>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Статья 6 -->
            <div class="col-12 col-md-6 col-lg-4 esin-grid-item">
                <a href="Article6Ru">
                    <div class="grid-item-wrapper-padding shadow">
                        <div class="grid-item-wrapper">
                            <div class="grid-item-info">
                                <div class="grid-item-date">
                                    30/07/2021
                                </div>
                                <h2 class="grid-item-heading">
                                    Регулирование маркетинга влиятельных лиц
                                </h2>
                                <div class="excerpt">
                                    <p>На прошлой неделе Министерство торговли Республики Турция опубликовало руководство с целью выравнивания маркетинга влиятельных лиц, одного из наиболее актуальных и популярных методов маркетинга, с принципами потребительского права и принципами рекламного права, принятыми во внутреннем законодательстве. […]</p>
                                </div>
                            </div>
                            <a href="Article6Ru" class="grid-item-category text-white">Читать далее...</a>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Статья 7 -->
            <div class="col-12 col-md-6 col-lg-4 esin-grid-item">
                <a href="Article7Ru">
                    <div class="grid-item-wrapper-padding shadow">
                        <div class="grid-item-wrapper">
                            <div class="grid-item-info">
                                <div class="grid-item-date">
                                    08/07/2021
                                </div>
                                <h2 class="grid-item-heading">Разрешение неопределенности в уведомлениях в практике с объединенной юриспруденцией</h2>
                                <div class="excerpt">
                                    <p>Большая Генеральная Ассамблея Верховного Суда, своим решением с объединенной юриспруденцией номер 2019/2 Основное 2020/3 Решение, опубликованное в Официальной газете 20.04.2021 года, разрешила вопрос, который коллеги обсуждают многие годы. В краткости ассамблея решила большинством голосов, что при возвращении уведомления по известному адресу достаточно сделать уведомление по адресу в системе адресной регистрации в соответствии с пунктом 21/2 Закона об уведомлении, и нет необходимости делать нормальное уведомление по зарегистрированному адресу заранее. […]</p>
                                </div>
                            </div>
                            <a href="Article7Ru" class="grid-item-category text-white">Читать далее...</a>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Статья 8 -->
            <div class="col-12 col-md-6 col-lg-4 esin-grid-item">
                <a href="Article8Ru">
                    <div class="grid-item-wrapper-padding shadow">
                        <div class="grid-item-wrapper">
                            <div class="grid-item-info">
                                <div class="grid-item-date">
                                    08/07/2021
                                </div>
                                <h2 class="grid-item-heading">Карантин неконституционен</h2>
                                <div class="excerpt">
                                    <p>Глобальная пандемия COVID-19, которая затронула весь мир, продолжается в нашей стране с марта 2020 года, когда был выявлен первый случай. Как и во многих странах мира, первый метод, примененный общественной властью в Турции для предотвращения распространения, были карантинные меры. Однако, возможно, из-за срочности процесса или, возможно, по политическим и экономическим причинам решения о карантине были приняты вопреки положительному праву (т.е. существующим правовым нормам). […]</p>
                                </div>
                            </div>
                            <a href="Article8Ru" class="grid-item-category text-white">Читать далее...</a>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Статья 9 -->
            <div class="col-12 col-md-6 col-lg-4 esin-grid-item">
                <a href="Article9Ru">
                    <div class="grid-item-wrapper-padding shadow">
                        <div class="grid-item-wrapper">
                            <div class="grid-item-info">
                                <div class="grid-item-date">
                                    08/07/2021
                                </div>
                                <h2 class="grid-item-heading">
                                    Прекращение Истанбульской конвенции
                                </h2>
                                <div class="excerpt">
                                    <p>Республика Турция, ночью 19 марта 2021 года, отделилась от "Стамбульской конвенции", официально известной как "Конвенция Совета Европы о предупреждении и борьбе с насилием в отношении женщин и домашним насилием", указом президента. […]</p>
                                </div>
                            </div>
                            <a href="Article9Ru" class="grid-item-category text-white">Читать далее...</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

