@{
    ViewData["Title"] = "Article7";
    Layout = "~/Views/Shared/_LayoutEng.cshtml";
}
<style>
    .article-header {
        font-size: 21px;
        margin: 10px 0;
        line-height: 1.1;
        text-transform: uppercase;
    }

    .article-content-header {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1;
        color: #111111;
        text-decoration: none !important;
    }

    .article-content p {
        color: #111111;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.65;
        margin: 0 0 10px;
        text-align: justify;
    }

    .article-content a {
        color: #093a33;
    }
    /* Custom Styles */
    .ekip {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        /*         transition: transform 0.3s ease;
         */ border: 1px solid #ccc;
        margin-bottom: 20px;
    }

        .ekip img {
            object-fit: cover;
            position: relative;
            width: 100%;
            min-height: 220px;
            max-height: 220px;
        }


        .ekip .card-body {
            position: relative;
            margin-top: 0;
            padding: 1rem;
            flex: 1;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.05), 0 1px 3px 0 rgba(0,0,0,.1);
            background: #ffffff;
            display: flex;
            flex-direction: column;
        }

            .ekip .card-body a {
                text-decoration: none;
            }

        /* .ekip:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                } */

        .ekip .card-title {
            width: 100%;
            margin-top: 0 !important;
            color: #000;
            margin: 0px 0px 30px;
            padding: 0px 0px 4px;
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        .ekip .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff !important;
            text-transform: none !important;
            font-size: 1em !important;
            font-weight: 600 !important;
            margin-top: 0 !important;
            padding: 10px 0 0 0 !important;
            letter-spacing: .5px;
            border-top: 2px solid #ccc !important;
        }

        .ekip .read-more-btn {
            color: #000;
            text-decoration: underline;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative; /* Önemli: position değeri ekleyin */
            font-size: 12px;
            text-align: left;
        }


            .ekip .read-more-btn i {
                margin-left: 5px; /* Ok ikonu ile metin arasında boşluk bırakmak için */
            }

            .ekip .read-more-btn:hover {
                color: #093a33;
            }

        .ekip .social-icons {
            display: flex;
            gap: 10px; /* İkonlar arasında boşluk bırakmak için */
        }

        .ekip .social-icon {
            color: #093a33;
            font-size: 20px;
        }
</style>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/bannerNew.png" />
                <span>Articles</span>
            </div>
        </div>
        <div class="container mb-5">
            <ol class="breadcrumb border-1 border-bottom" style="border-color:#093a33 !important;">
                <li class="breadcrumb-item"><a href="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-item" href="Articles">Articles</li></a>
            </ol>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="card ekip">
                    <img src="~/assets/img/avukat-kaan-karatas.jpg" class="card-img-top img-fluid" alt="Person 3 Photo">
                    <div class="card-body">
                        <div>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal3">
                                <h3 class="card-title ms-1 mb-5">Attorney Kaan Karataş</h3>
                            </a>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <div class="social-icons d-flex">
                                <a href="mailto:kaankaratas@ozpartnershukuk.com" class="social-icon">
                                    <i class="fas fa-envelope" style="font-size:20px;"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/kaankarata%C5%9F" target="_blank" class="social-icon">
                                    <i class="fab fa-linkedin" style="font-size:20px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-9 article">
                <h1 class="article-header" style="color: #093a33; font-weight: bold;">Elimination of Uncertainty in Notification in Practice through Consolidated Jurisprudence</h1>
                <hr />
                <p class="article-date" style="color: black; font-size: 13px;">Date: July 8, 2021</p>
                <div class="article-content">
                    <ol class="article-content-header" style="list-style-type: upper-alpha;">
                        <li><strong>Introduction</strong></li>
                    </ol>
                    <p>
                        The Grand General Assembly of the Court of Cassation Unified Jurisprudence, with its decision dated 20.11.2020, file no. 2019/2 and decision no. 2020/3, was published in the Official Gazette on 20.04.2021. In this decision, the assembly discussed an issue that our colleagues practicing in the field have debated for years. In summary, when the notification made to the known address is returned, the majority of the board decided that it would be sufficient to make the notification to the address of the addressee in the address registration system in accordance with Article 21/2 of the Notification Law, and it would not be necessary to make a normal notification to the registered address before that.
                    </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="2">
                        <li><strong>Concept of "Known Address"</strong></li>
                    </ol>
                    <p>
                        The decision particularly focused on the concept of the "known address." Since the "known address" concept contains a subjective expression different from the address in the address registration system and played a critical role in the examined unified jurisprudence decision, we find it beneficial to examine it at this point. The term "known address" (in its simplest form) refers to the address that will emerge as a result of the notification of the addressee or the investigation of the person or authority issuing the notification. According to Article 10 of the Notification Law No. 7201, notification must be made primarily to this address of the addressee. (In other words, the address that the relevant person has notified to the other parties to the legal relationship is prioritized according to Article 10 of the Notification Law.) To make it clearer with an example, the Court of Cassation classified the address written on the promissory note by the person who owes the debt as the "known address" and emphasized that this address should be preferred first to issue the notification. The scope of the "known address" is broader than the residence and the address registered in the Address Registration System (ARS), and before determining it, the notification address declared by the addressee must be taken into account. However, it is accepted in doctrine that an investigation into the "known address" should be conducted only if there is no such notification from the other party. The Court of Cassation Unified Jurisprudence Board uses the term "obstructive notification" in its reasoning. On the other hand, it is stipulated by the clear provision of Article 10 that the notification can be made to a different place than the known address if the person concerned spends more time at that address, where he is more frequently found, and where he devotes most of his time.
                    </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="3">
                        <li><strong>Misconception in Practice</strong></li>
                    </ol>
                    <p>
                        In cases where the addressee cannot be found at the known address or the address is not suitable for notification, it was frequently mentioned in practice, especially by execution offices, that a normal notification should be made to the MERNIS address. However, due to the amendment made by Law No. 6099 to the Notification Law No. 7201, it was often argued by our lawyer colleagues that this practice was incorrect. Because, after the notification returned from the known address and the notification made to the MERNIS address of the person concerned - in the second notification, if the person still cannot be found - a total of 3 notifications would be required.
                    </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="4">
                        <li><strong>Constitutional Rights and the City of Opposition</strong></li>
                    </ol>
                    <p>
                        While evaluating the decision, it was emphasized that if the notification made to the known address does not reach a conclusion, there is no need for another investigation, and the MERNIS address of the addressee will be accepted as the notification address in the form of an assumption (presumption), especially since there is no such provision in the law. It was stated that the opposing view, making a notification deliberately to the known address and returning it, and then making a notification to the AKS address after the return of the notification, was not foreseen in the legislation and would open the way for the violation of the "right to be legally heard" and the "right to a fair trial" in accordance with Article 21/2 of the Notification Law. It was mentioned that there are legal remedies against this danger, and the notification recipient can convey his/her excuse with the "Reinstatement of the Former Situation" regulated in Article 95 of the HMK and the "Delayed Objection" in Article 65 of the Enforcement and Bankruptcy Law when the irregularity in the notification made to the known address comes before the Court of Cassation, it will be accepted as a reason for annulment.
                    </p>
                    <p>
                        Furthermore, in the reasoning of the Unified Jurisprudence Board, it was stated that the three-stage notification would not violate the right to a fair trial, and any interpretation to the contrary would be contrary to the intention of the legislator in Article 21/2. The Board emphasized that the purpose of the Notification Law and Regulation is to ensure that the notification is made to the addressee as quickly as possible and to inform him/her about the subject of the notification. Therefore, it was stated that the provisions of the legislation must be applied in detail, and the notification not made in accordance with the legislation cannot be accepted as valid, and the method of making a normal notification to the AKS address after the notification returned from the known address was not foreseen in the legislation, and thus, it would not violate the right to a fair trial.
                    </p>

                    <ol class="article-content-header" style="list-style-type: upper-alpha;" start="5">
                        <li><strong>Evaluation</strong></li>
                    </ol>
                    <p>
                        In the content of the decision, opposite views on the "right to a fair trial" and the related "right to be legally heard" were written. However, we believe that the decision of the Grand General Assembly of the Court of Cassation, which was given with the majority of votes, is accurate in terms of balancing the responsibility and burden between individuals who are not at the known address and do not notify their current address to their counterparts and the authority trying to make the notification. We think that this decision will allow notifications to be made to individuals who refuse or delay the notification in a shorter time, especially those who are not found at the known address.
                    </p>
                </div>

                <hr />
                <p class="article-author">Attorney Kaan Karataş</p>
                <p class="article-date">July 8, 2021</p>
            </div>
        </div>
    </div>
</body>

