@{
    ViewData["Title"] = "Article3";
    Layout = "~/Views/Shared/_LayoutEng.cshtml";
}

<style>
    .article-header {
        font-size: 21px;
        margin: 10px 0;
        line-height: 1.1;
        text-transform: uppercase;
    }

    .article-content-header {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1;
        color: #111111;
        text-decoration: none !important;
    }

    .article-content p {
        color: #111111;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.65;
        margin: 0 0 10px;
        text-align: justify;
    }

    .article-content a {
        color: #093a33;
    }
    /* Custom Styles */
    .ekip {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        /*         transition: transform 0.3s ease;
             */ border: 1px solid #ccc;
        margin-bottom: 20px;
    }

        .ekip img {
            object-fit: cover;
            position: relative;
            width: 100%;
            min-height: 220px;
            max-height: 220px;
        }


        .ekip .card-body {
            position: relative;
            margin-top: 0;
            padding: 1rem;
            flex: 1;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.05), 0 1px 3px 0 rgba(0,0,0,.1);
            background: #ffffff;
            display: flex;
            flex-direction: column;
        }

            .ekip .card-body a {
                text-decoration: none;
            }

        /* .ekip:hover {
                        transform: scale(1.05);
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                    } */

        .ekip .card-title {
            width: 100%;
            margin-top: 0 !important;
            color: #000;
            margin: 0px 0px 30px;
            padding: 0px 0px 4px;
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        .ekip .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff !important;
            text-transform: none !important;
            font-size: 1em !important;
            font-weight: 600 !important;
            margin-top: 0 !important;
            padding: 10px 0 0 0 !important;
            letter-spacing: .5px;
            border-top: 2px solid #ccc !important;
        }

        .ekip .read-more-btn {
            color: #000;
            text-decoration: underline;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative; /* Önemli: position değeri ekleyin */
            font-size: 12px;
            text-align: left;
        }


            .ekip .read-more-btn i {
                margin-left: 5px; /* Ok ikonu ile metin arasında boşluk bırakmak için */
            }

            .ekip .read-more-btn:hover {
                color: #093a33;
            }

        .ekip .social-icons {
            display: flex;
            gap: 10px; /* İkonlar arasında boşluk bırakmak için */
        }

        .ekip .social-icon {
            color: #093a33;
            font-size: 20px;
        }
</style>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/bannerNew.png" />
                <span>Articles</span>
            </div>
        </div>
        <div class="container mb-5">
            <ol class="breadcrumb border-1 border-bottom" style="border-color:#093a33 !important;">
                <li class="breadcrumb-item"><a href="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-item" href="Articles">Articles</li></a>
            </ol>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="card ekip">
                    <img src="~/assets/img/avukat-yunus-emre-oz.jpg" class="card-img-top img-fluid" alt="Person 2 Photo">
                    <div class="card-body">
                        <div>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal2">
                                <h3 class="card-title ms-1 mb-5">Attorney Yunus Emre Öz</h3>
                            </a>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <div class="social-icons d-flex">
                                <a href="mailto:yunusemreoz@ozpartnerslaw.com" class="social-icon">
                                    <i class="fas fa-envelope" style="font-size:20px;"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/yunusemre%C3%B6z" target="_blank" class="social-icon">
                                    <i class="fab fa-linkedin" style="font-size:20px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-9 article">
                <h1 class="article-header" style="color: #093a33; font-weight: bold;">Mersin Divorce Lawyer</h1>
                <hr />
                <p class="article-date" style="color: black; font-size: 13px;">Date: September 2, 2021</p>
                <div class="article-content">
                    <p>
                        Responding to the search for a <strong>Mersin divorce lawyer</strong> with an experienced team, Öz&amp;Partners Law Office provides legal solutions for contested and uncontested divorce cases. It offers legal consultancy and litigation services for all aspects of divorce proceedings, including custody, alimony, compensation, and the liquidation of the matrimonial property regime.
                    </p>
                    <p>
                        Our lawyers, knowledgeable in all technical aspects of divorce law, support clients to achieve the most successful, fast, and effective results. Serving since 1974, <a href="Contact">Öz&amp;Partners Law Office</a> concludes divorce cases at all stages of the process, taking into account the common interests of the parties and ensuring a resolution without causing harm. Thus, preventing individuals from suffering losses in terms of assets, custody, compensation, and alimony. Preventing irreparable losses.
                    </p>
                    <p>
                        It distances the parties from the psychological effects of the lawsuit and prevents direct impact. Our lawyers, who know the law and practice best, protect the interests of their clients in the best way possible.
                    </p>
                    <h2>Grounds for Divorce According to the Turkish Civil Code</h2>
                    <p>
                        Ill-treatment, attempted murder, dishonorable behavior, and adultery are among the reasons that can form the basis for a divorce case. Committing a crime, leading an immoral life without a just cause, leaving the common residence without a valid reason, and having a mental illness are also considered in this context. If the marital union is shaken in a way that prevents cohabitation, a divorce case can be filed. In such cases, a separation request can also be made instead of divorce.
                    </p>
                    <p>
                        Divorce can be a process that can cause both spouses and children to be affected. Therefore, the divorce lawyer works not only to defend the legal rights of the parties but also to ensure that the spouses reach a resolution without harm.
                    </p>
                    <h2>How Long Does a Divorce Case Take?</h2>
                    <p>
                        Most uncontested divorce cases are concluded at the first hearing. A single session typically lasts about 10-15 minutes. It may take 1-3 months for the decision to become final. The duration of contested divorce cases is longer. The content of the trial, the workload of the court, and the grounds for divorce all affect this duration. The process of contested divorce may last a few months or extend to several years.
                    </p>
                    <p>
                        If the decision of the family court is appealed to the regional appellate court, the duration of the case will be extended. <strong>Mersin divorce lawyers</strong> manage this process efficiently and accurately, playing a significant role in shortening this period. There is a risk of contested cases without legal assistance taking longer due to simple procedural errors. Moreover, complicated problems that are difficult to remedy may arise.
                    </p>
                    <h3>Where to Apply for a Divorce Case?</h3>
                    <p>
                        Application is made to family courts located in the place of residence of one of the spouses. Alternatively, if there is no family court in the last 6 months where they have resided, the case can be filed in any family court in the region. If there is no family court in the determined location, the case is submitted to the Civil Court of First Instance, which is competent to hear family matters.
                    </p>
                    <h2>Mersin Divorce Lawyer Services</h2>
                    <p>
                        Divorce decisions are possible in cases where the reasons specified in the Turkish Civil Code No. 4721 occur and with the decision of the judge. To ensure that the divorce case is concluded as soon as possible, it is necessary to correctly diagnose the reason for terminating the marital union first. Therefore, the opening of the divorce case and the continuation of the process should be carried out with the help of a <strong>Mersin divorce lawyer</strong>. Thus, the legal rights of the parties will be protected; procedures such as identifying, collecting, and classifying evidence, performing the legal procedures specified by the judge will be easy. Disputes over custody, compensation, and alimony will also be successfully resolved. The legal services provided by Öz&amp;Partners Law Office as Mersin divorce lawyer can be summarized as follows:
                    </p>
                    <ul style="list-style-type:square;">
                        <li>Filing for uncontested divorce and preparing a divorce protocol</li>
                        <li>Filing for contested divorce based on valid reasons such as cheating, violence, abandonment, fundamental disruption of marital union, and preparing a protocol</li>
                        <li>Liquidation of the matrimonial regime and distribution of common post-marital assets along with the divorce case</li>
                        <li>Managing the process of claims for alimony, poverty alimony, protection measures, custody, and other material and moral compensation</li>
                        <li>Separation lawsuits and related claims</li>
                        <li>Services related to the recognition of marriages that took place abroad in Turkey and the enforcement of divorce decisions</li>
                    </ul>
                    <h2>Mersin Divorce Lawyer Fees</h2>
                    <p>
                        The <strong>Mersin divorce lawyer fee</strong> varies depending on the scope and process of the case and the variety of tasks to be performed. If the lawsuit is filed for the distribution of property, the trial process will become more challenging. Serious work is required in cases where high moral compensation is demanded. Factors such as the content of the uncontested divorce protocol also influence the divorce fee.
                    </p>
                    <h3>Mersin Uncontested Divorce Lawyer Fee</h3>
                    <p>
                        These types of cases are filed by signing a contract on issues such as compensation, alimony, and representation. Less effort and overtime are spent in uncontested divorce cases. Therefore, the fees of <strong>Mersin divorce lawyers</strong> are lower in uncontested cases. However, the minimum fee for uncontested divorce cases is 4080 TL. In these cases, the <strong>Mersin lawyer fee</strong> is generally between 6000 TL and 15,000 TL.
                    </p>
                    <h3>Mersin Contested Divorce Case Fee</h3>
                    <p>
                        A significant workload difference can be mentioned between contested and uncontested divorce cases. Therefore, the <strong>Mersin divorce lawyer cost</strong> will be higher in contested divorce cases. These cases are filed and paid when couples cannot agree on issues such as alimony, representation, compensation, and the like. Again, attorney fees are separate from fees and other expenses. Contested divorce cases take a long time. It is possible for some cases to last between 1-3 years. Lawyers take this time into account when calculating their fees. Accordingly, the fee for contested divorce cases is between approximately 7000 TL and 20,000 TL.
                    </p>
                    <h3>Cost of Mersin Divorce Lawyers</h3>
                    <p>
                        Attorney fees are determined annually as a minimum by the bar association. Of course, prices vary according to each lawyer. However, like all attorney fees, the <strong>cost of Mersin divorce lawyers</strong> is generally not lower than the fee recommended by the bar association. When determining the <strong>Mersin divorce lawyer cost</strong>, lawyers consider the minimum attorney fee schedule and the nature of the case. The fee can rise to the specified upper limit. Bar associations have different recommended tariff rates for attorney fees in each city. Fees for services such as oral consultation, drafting of petition, written consultation, oral consultation on call, uncontested and contested divorce case fees, and fees for material and moral compensation increase on an annual basis.
                    </p>
                </div>
                <hr />
                <p class="article-author">Atty. Yunus Emre Öz</p>
                <p class="article-date">September 2, 2021</p>
            </div>
        </div>
    </div>
</body>

