@{
    ViewData["Title"] = "Article9";
    Layout = "~/Views/Shared/_LayoutEng.cshtml";
}

<style>
    .article-header {
        font-size: 21px;
        margin: 10px 0;
        line-height: 1.1;
        text-transform: uppercase;
    }

    .article-content-header {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1;
        color: #111111;
        text-decoration: none !important;
    }

    .article-content p {
        color: #111111;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.65;
        margin: 0 0 10px;
        text-align: justify;
    }

    .article-content a {
        color: #013a33;
    }
    /* Custom Styles */
    .ekip {
        border: none;
        border-radius: 10px;
        overflow: hidden;
        /*         transition: transform 0.3s ease;
         */ border: 1px solid #ccc;
        margin-bottom: 20px;
    }

        .ekip img {
            object-fit: cover;
            position: relative;
            width: 100%;
            min-height: 220px;
            max-height: 220px;
        }


        .ekip .card-body {
            position: relative;
            margin-top: 0;
            padding: 1rem;
            flex: 1;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.05), 0 1px 3px 0 rgba(0,0,0,.1);
            background: #ffffff;
            display: flex;
            flex-direction: column;
        }

            .ekip .card-body a {
                text-decoration: none;
            }

        /* .ekip:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                } */

        .ekip .card-title {
            width: 100%;
            margin-top: 0 !important;
            color: #000;
            margin: 0px 0px 30px;
            padding: 0px 0px 4px;
            display: block;
            font-size: 1.17em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        .ekip .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff !important;
            text-transform: none !important;
            font-size: 1em !important;
            font-weight: 600 !important;
            margin-top: 0 !important;
            padding: 10px 0 0 0 !important;
            letter-spacing: .5px;
            border-top: 2px solid #ccc !important;
        }

        .ekip .read-more-btn {
            color: #000;
            text-decoration: underline;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative; /* Önemli: position değeri ekleyin */
            font-size: 12px;
            text-align: left;
        }


            .ekip .read-more-btn i {
                margin-left: 5px; /* Ok ikonu ile metin arasında boşluk bırakmak için */
            }

            .ekip .read-more-btn:hover {
                color: #013a33;
            }

        .ekip .social-icons {
            display: flex;
            gap: 10px; /* İkonlar arasında boşluk bırakmak için */
        }

        .ekip .social-icon {
            color: #013a33;
            font-size: 20px;
        }
</style>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/banner900.png" />
                <span>Articles</span>
            </div>
        </div>
        <div class="container mb-5">
            <ol class="breadcrumb border-1 border-bottom" style="border-color:#013a33 !important;">
                <li class="breadcrumb-item"><a href="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-item" href="Articles">Articles</li></a>
            </ol>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="card ekip">
                    <img src="~/assets/img/avukat-yunus-emre-oz.jpg" class="card-img-top img-fluid" alt="Person 2 Photo">
                    <div class="card-body">
                        <div>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#bioModal2">
                                <h3 class="card-title ms-1 mb-5">Attorney Yunus Emre Öz</h3>
                            </a>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <div class="social-icons d-flex">
                                <a href="mailto:yunusemreoz@ozpartnershukuk.com" class="social-icon">
                                    <i class="fas fa-envelope" style="font-size:20px;"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/yunusemre%C3%B6z" target="_blank" class="social-icon">
                                    <i class="fab fa-linkedin" style="font-size:20px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-9 article">
                <h1 class="article-header" style="color: #013a33; font-weight: bold;">
                    Termination of the Istanbul Convention
                </h1>
                <hr />
                <p class="article-date" style="color: black; font-size: 13px;">Date: July 8, 2021</p>
                <div class="article-content">
                    <p>
                        The Republic of Turkey, on the night of March 19th to March 20th, 2021, withdrew from the "Istanbul Convention," officially known as the "Council of Europe Convention on Preventing and Combating Violence Against Women and Domestic Violence."
                    </p>
                    <p>
                        While withdrawing from the Istanbul Convention may not, at least for now, undermine Law No. 6284, which was enacted into our domestic law based on this convention and is titled "Law on the Protection of Family and Prevention of Violence Against Women"; the current situation is highly susceptible to misunderstanding by citizens who are not familiar with legal institutions in detail. With the courage of men to commit crimes against women on the rise, the already high rates of violence against women, femicide, and similar incidents are likely to increase. Meanwhile, women may feel compelled to surrender to their (mis)fortunes, believing that the legal shield for their protection is completely lifted. A quick search on Google with the term "6284" already suggests the phrase "Has Law No. 6284 been abolished?" indicating potential public confusion. Search engine algorithms often suggest frequently searched terms to users.
                    </p>
                    <p>
                        Beyond the severity of withdrawing from the Convention, the legal procedure followed is also quite alarming. One of the principles developed by administrative law doctrine is the principle of "parallelism in competence and procedure." This principle can be defined in its simplest form as the authority to revoke an existing action, provided that the same procedure is followed, residing solely in the authority that initially had the competence to perform that action. In the concrete case, the applicable legal rule is Article 90 of the Constitution. This article is formulated as follows:
                    </p>
                    <p>
                        <em>"<strong>ARTICLE 90-</strong> The approval of treaties to be concluded on behalf of the Republic of Turkey with foreign states and international organizations, which are called international agreements, is subject to the approval of the Turkish Grand National Assembly by law."</em>
                    </p>
                    <p>
                        The Turkish Grand National Assembly (TBMM) had approved the Istanbul Convention by enacting a law on November 24, 2011, and the convention came into effect through this process. To withdraw now, there must be a law enacted by the TBMM, in accordance with the principle of "parallelism in competence and procedure." The President does not have the authority to create this legal situation through a presidential decree.
                    </p>
                    <p>
                        So, what led to the sudden need to withdraw from the Istanbul Convention one night? Those who did not embrace the idea of gender equality from their voter base and felt uneasy about the increasing empowerment of women in society, particularly as the inevitable consequence of the times, had been expressing their discomfort with the voices of this dissatisfied group that had been increasingly institutionalizing. The Istanbul Convention, in the eyes of this uneasy group, had become a tangible embodiment of the institutionalized gender equality, and it had almost become a live target. Criticisms specific to the Convention had also begun to be voiced more frequently. When these points are considered together, it is not incorrect to state that, throughout the process leading to the decision to withdraw from the Convention, a political cost-benefit analysis was carried out rather than a legal one. In other words, actions were taken with a focus on gaining votes.
                    </p>
                    <p>
                        One aspect often overlooked during the discussion is the timing of the decree, which I consider crucial. Apparently, expressing the will to withdraw from the Convention was actually a matured idea and a decision that had been made weeks before. The formal procedure, however, was left to be carried out on the night of March 19-20. It's important to note that March 19-20 is not an arbitrarily chosen date. With International Women's Day approaching or just having passed, taking away women's rights established by an international agreement would create an extremely negative image in the eyes of the public. Hence, it was necessary for the days leading up to and following International Women's Day to pass before making such a move. Moreover, by waiting until the night of March 19-20, attempts were made to preempt the organization of a strong opposing public opinion through press releases, marches, and protests that would likely occur on March 8. Choosing the night connecting Friday to Saturday also had its reasons. As the markets would have closed on the last working day of the week, the reaction of the already fragile economy would be less pronounced. Additionally, the decree announcing the withdrawal from the Convention was published together with a decision to dismiss the Governor of the Central Bank of the Republic of Turkey. This was a strategic move to prevent two negative developments from dominating the agenda at different times and to prevent one from overshadowing the other.
                    </p>
                    <p>
                        In a previous article I wrote for International Women's Day, I likened humanity's progress on the path of civilization to a march with two steps forward and one step back. Withdrawing from the Istanbul Convention, which can be considered an extremely unfortunate development, has already taken its place in the political history of Turkey as a significant step backward. Hoping for a swift correction of this mistake, I would like to conclude the article by quoting a statement from Mustafa Kemal Atatürk, who led the Turkish nation in achieving the fastest progress on the path to "contemporary civilizations" while emphasizing the importance of advancing both genders:
                    </p>
                    <p>
                        <em>"The human community consists of two sexes, female and male. Is it possible that as we try to elevate one part of this mass, we can neglect the other and expect the whole to progress? Can it be possible for half of a body to rise to the heavens while the other half is chained to the earth?"</em>
                    </p>
                </div>

                <hr />
                <p class="article-author">Attorney Yunus Emre Öz</p>
                <p class="article-date">July 8, 2021</p>
            </div>
        </div>
    </div>
</body>

