@{
    ViewData["Title"] = "Corporate";
    Layout = "~/Views/Shared/_LayoutEng.cshtml";
}
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="custom-img1 mb-5 shadow">
                <img class="custom-img1 mb-4 shadow" src="~/assets/img/Banners/banner1000.png" />
                <span>Corporate</span>
            </div>
        </div>
        <div class="container mb-5">
            <ol class="breadcrumb border-1 border-bottom">
                <li class="breadcrumb-item"><a href="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Corporate</li>
            </ol>
        </div>
    </section>
    <div class="container-fluid">

        <!-- Corporate Information -->
        <div class="about-us-section">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Image Column -->
                    <div class="col-lg-6">
                        <img src="~/assets/img/kurumsal1.jpg" class="kurumsal-foto img-fluid rounded shadow" style="object-fit: cover; width: 100%; height: 523px;" alt="About Us Image">
                    </div>
                    <!-- Text Column -->
                    <div class="col-lg-6">
                        <div class="card bg-white shadow">
                            <div class="card-body">
                                <p class="card-text" style="text-align:justify;">
                                    Established in 1974 by Attorney Emin Öz, the law office has been operating for nearly 50 years, representing a diverse portfolio of clients, including prominent individuals and entities in Mersin.
                                </p>
                                <p class="card-text" style="text-align:justify;">
                                    In 2018, Attorney Yunus Emre Öz and in 2019, Attorney Kaan Karataş joined the team, inheriting the knowledge and experience accumulated over half a century. As a result, Öz & Partners Law Office, one of the longest-serving, well-known, and respected law firms in the region, has further solidified its position.
                                </p>
                                <p class="card-text" style="text-align:justify;">
                                    Öz & Partners Law Office focuses on transparency towards clients, strong communication with public authorities, disciplined and scientific work to achieve effective results in the shortest possible time for the legal issues of its clients.
                                </p>
                                <p class="card-text" style="text-align:justify;">
                                    Based in Mersin, <b><i>Öz & Partners Law Office;</i></b> provides professional services in resolving legal issues across various fields of law to its clients in many parts of Turkey.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Article Links -->
        <div class="container">
            <h2 class="text-center mt-5 mb-4 border-bottom" style="font-size:30px;">
                <i class="fas fa-newspaper"></i> Latest Articles
            </h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">A Personal and Legal Perspective on Rising Animal Sensitivity</h5>
                            <a href="Article1" class="btn text-white btn-zoom" style="background-color:#093a33">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">Mersin Criminal Lawyer</h5>
                            <a href="Article2" class="btn text-white mt-4 btn-zoom" style="background-color:#093a33">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body shadow">
                            <h5 class="card-title">Mersin Divorce Lawyer</h5>
                            <a href="Article3" class="btn text-white mt-4 btn-zoom" style="background-color:#093a33">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
