<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Öz & Partners Avukatlık Ofisi | Hukuki Danışmanlık ve Dava Hizmetleri</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/BrowserIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/BrowserIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/BrowserIcons/favicon-16x16.png">
    <link rel="manifest" href="~/assets/img/BrowserIcons/site.webmanifest">
    <link rel="mask-icon" href="~/assets/img/BrowserIcons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="keywords" content="Hukuk, Avukat, Hukuki Hizmetler, Dava, Ceza Avukatı, Tazminat Hukuku" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Öz & Partners Avukatlık Ofisi, hukuki danışmanlık, dava hizmetleri ve tazminat hukuku konularında uzmanlaşmıştır. Profesyonel çözümler için bize başvurun." />
    <meta property="og:title" content="@ViewData["Title"] Öz & Partners Avukatlık Ofisi | Hukuki Danışmanlık ve Dava Hizmetleri" />
    <meta property="og:description" content="Öz & Partners Avukatlık Ofisi, hukuki danışmanlık, dava hizmetleri ve tazminat hukuku konularında uzmanlaşmıştır. Profesyonel çözümler için bize başvurun." />
    <meta property="og:url" content="https://www.ozpartnershukuk.com" />
    <meta property="og:type" content="website" />

    <link rel="alternate" hreflang="tr" href="/Anasayfa">
    <!-- İngilizce sayfa -->
    <link rel="alternate" hreflang="en" href="/en/HomePage">
    <!-- Rusça sayfa -->
    <link rel="alternate" hreflang="ru" href="/ru/HomePageRu">
    <!-- Varsayılan sayfa (diğer diller dışında bir dilde görüntülenirse) -->
    <link rel="alternate" hreflang="x-default" href="/en/HomePage">

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LawAttorney.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/flaticon.css">
    <link rel="stylesheet" href="~/css/animate.css">
</head>

<body>
    <div class="mobileNavbar">
        <div class="row">
            <div class="info-bar">
                <div class="col-lg-12 d-flex justify-content-center align-items-center ms-5">
                    <span class="span-phone ms-5"><i class="fas fa-phone"></i> Telefon: (532) 499 1974</span>
                    <span class="span-mail ms-5"><i class="fas fa-envelope"></i> Email: <a class="span-mail1" href="mailto:info@ozpartnershukuk.com">info@ozpartnershukuk.com</a></span>
                    <span class="span-hours ms-5"><i class="fas fa-clock"></i> Çalışma Saatleri: Pazartesi - Cuma, 09:00 - 17:00</span>
                    <span class="dropdown lang-select py-1" style="left:70px;">
                        <button class="btn dropdown-toggle" href="#" id="navbarDropdownMenuAvatar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span id="languageText">
                                Türkçe
                            </span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuAvatar">
                            <li class="border-bottom">
                                <a class="dropdown-item text-center" href="javascript:void(0);" onclick="navigateLink('tr')" data-lang="TR">
                                    Türkçe
                                </a>
                            </li>
                            <li class="border-bottom">
                                <a class="dropdown-item text-center" href="javascript:void(0);" onclick="navigateLink('en')" data-lang="ENG">
                                    English
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-center" href="javascript:void(0);" onclick="navigateLink('ru')" data-lang="Рус.">
                                    Русский
                                </a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
        <div class="container-fluid custom-navbar-fluid mb-lg-5">
            <div class="container">
                <nav class="navbar navbar-expand-md d-lg-block">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-sm-12">
                            <a class="navbar-brand" href="/Anasayfa">
                                <img src="~/assets/img/Logo/Logo.png" alt="Logo" height="80" class="img-brand ms-lg-3">
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                        <div class="col-lg-10 col-sm-12" style="margin-top : 3%">
                            <!-- Menu Tabs -->
                            <div class="collapse navbar-collapse justify-content-center ms-lg-5" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Anasayfa">Ana Sayfa</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Kurumsal">Kurumsal</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Ekibimiz">Ekibimiz</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/CalismaAlanlarimiz">Çalışma Alanlarımız</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Makaleler">Makaleler</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/iletisim">İletişim</a>
                                    </li>
                                    <li class="d-flex justify-content-center" id="langMobile">
                                        <a role="menuitem" tabindex="-1" class="nav-link p-2" href="javascript:void(0);" onclick="navigateLink('tr')">
                                            <i class="bi bi-translate me-2"></i>
                                            Türkçe
                                        </a>
                                        <a role="menuitem" tabindex="-1" class="nav-link p-2" href="javascript:void(0);" onclick="navigateLink('en')">
                                            English
                                        </a>
                                        <a role="menuitem" tabindex="-1" class="nav-link p-2" href="javascript:void(0);" onclick="navigateLink('ru')">
                                            Русский
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <button class="mobile-chat-button" id="mobileChatButton">
        <i class="fas fa-comments"></i>
    </button>
    @RenderBody()
    <!-- FOOTER -->
    <div class="container-fluid">
        <footer class="text-center text-lg-start text-black">
            <div class="container page-border mt-lg-0"></div>
            <section class="d-flex justify-content-center p-2">
                <div class="sosyal me-2 pt-1">
                    <span>Bizi LinkedIn üzerinden takip edin : </span>
                </div>
                <div class="">
                    <a href="https://www.linkedin.com/company/oz-partners/" class="me-2" style="background-color: #093a33; color: white; text-decoration: none; display: inline-flex; align-items: center; padding: 4px 8px; border-radius: 4px;" target="_blank">
                        <i class="fab fa-linkedin" style="font-size: 16px; margin-right: 8px;"></i>
                        <span class="sosyal-takip">Takip Et</span>
                    </a>
                </div>
            </section>
            <div class="container page-border"></div>
            <!-- Copyright -->
            <div class="text-center mt-5" style="font-size:12px; background-color: #ffffff">
                ©
                <a class="sosyal1" href="">1974-2024 Öz <span class="caviar-dreams-font">&</span> Partners Avukatlık Ofisi - Tüm Hakları Saklıdır</a>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script src="~/js/language.js" asp-append-version="true"></script>
    <script>
        document.getElementById("mobileChatButton").addEventListener("click", function () {
            window.location.href = "/iletisim#contactForm";
        });

        window.onload = function () {
            const pathName = window.location.pathname;
            var currentLang = "";

            if (pathName.includes("/")) {
                currentLang = "Türkçe";
            };
            if (pathName.includes("/en/")) {
                currentLang = "English";
            }
            if (pathName.includes("/ru/")) {
                currentLang = "Русский";
            }
            var languageTextElement = document.querySelector('#languagetext');
            if (languageTextElement) {
                languageTextElement.innerText = currentLang;
            }
        }
    </script>
</body>

</html>
