<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LawAttorney</title>
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LawAttorney.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <nav class="navbar navbar-default navbar-expand-lg mt-1 pt-4 bg-white">
                <!-- Toggle button -->
                <!-- Logo -->
                <a class="navbar-brand" href="#">
                    <img src="~/assets/img/illustrator2.png" alt="Logo" height="110" class="img">
                </a>
                <!-- Menü Sekmeleri -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-lg-0 me-lg-3">
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Index">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Kurumsal">Kurumsal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Ekibimiz">Ekibimiz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/CalismaAlanlari">Çalışma Alanları</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Makaleler">Makaleler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/İletisim">İletişim</a>
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>              
                <div class="d-md-flex gap-2 col-9 col-md-3 mx-auto">
                    <button class="btn btn-sm text-white" type="button" style="background-color: #a37e2c;" data-mdb-ripple-init><i class="fas fa-envelope me-2"></i>Mail Gönder</button>
                    <button class="btn btn-sm text-white" type="button" style="background-color: #093a34;" onclick="window.location.href='https://wa.me/%2B905343461030';" data-mdb-ripple-init>
                        <i class="bi bi-whatsapp me-2"></i>Bilgi Al
                    </button>

                </div>
                <!-- Sağdaki Elemanlar ve Dikdörtgen Butonlar -->
                <div class="d-flex align-items-center me-2">
                    <!-- Sağdaki Elemanlar -->
                    <div class="dropdown">
                        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/assets/img/russia.png" alt="Lang" height="30" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="~/assets/img/united-kingdom.png" alt="Lang" height="30" />
                                    English
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="~/assets/img/russia.png" alt="Lang" height="30" />
                                    Russian
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="~/assets/img/turkey.png" alt="Lang" height="30" />
                                    Turkish
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
        </div>
        @RenderBody()
        <div class="container page-border mt-5"></div>

        @* FOOTER *@
        <div class="container-fluid p-0">
            <footer class="text-center text-lg-start text-black bg-white">
                <!-- Section: Social media -->
                <section class="d-flex justify-content-center p-2 bg-white">
                    <!-- Left -->
                    <div class="me-lg-5">
                        <span>Sosyal medya hesaplarımız : </span>
                    </div>
                    <!-- Right -->
                    <div class="d-flex justify-content-center">
                        <a href="#" class="me-4" style="color:#013a33">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" class="me-4" style="color:#013a33">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="me-4" style="color:#013a33">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="me-4" style="color:#013a33">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="me-4" style="color:#013a33">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <!-- Right -->
                </section>
                <div class="container page-border"></div>

                <!-- Section: Social media -->
                <!-- Section: Links  -->

                <section class="">
                    <div class="container text-center text-md-start mt-1 p-5">
                        <!-- Grid row -->
                        <div class="row mt-1">
                            <!-- Grid column -->
                            
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold">Kurumsal</h6>
                                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                    style="width: 60px; background-color: #093A34; height: 2px" />
                                <p>
                                    <a href="#!" class="text-black">Kurumsal</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-black">Ekibimiz</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-black">Çalışma Alanları</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-black">Makaleler</a>
                                </p
                                <p>
                                    <a href="#!" class="text-black">İletişim</a>
                                </p>
                            </div>

                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold">SON MAKALELER</h6>
                                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                    style="width: 60px; background-color: #093A34;" />
                                <p>
                                    <a href="#!" class="text-black">Mersin Ceza Avukatı</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-black">Mersin Boşanma Avukatı</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-black">Mersin Avukatlık Ofisi</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-black">Facebook Whatsapp Soruşturması Hakkında</a>
                                </p>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold">Contact</h6>
                                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                    style="width: 60px; background-color: #093A34; height: 2px" />
                                <p>
                                    <i class="fas fa-home mr-3"></i> Camişerif Mah. Çakmak Cad. Kadri Bey Apt. Kat:3 No:16 Akdeniz / Mersin
                                </p>
                                <p><i class="fas fa-envelope mr-3"></i> info@ozpartnershukuk.com</p>
                                <p><i class="fas fa-phone mr-3"></i> 0532 499 1974</p>
                                <p><i class="fas fa-print mr-3"></i> +01 234 567 89</p>
                            </div>
                            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                <!-- Content -->
                                <h6 class="text-uppercase fw-bold">Öz & Partners Avukatlık</h6>
                                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                    style="width: 60px; background-color: #093A34; height: 2px" />
                                <p style="text-align:justify;">
                                    1974 yılında Av. Emin Öz tarafından kurulan avukatlık ofisi 50 yıla yakın süredir faaliyet göstermekte olup bu süre zarfında başta 
                                    Mersin’in önde gelen gerçek ve tüzel kişileri olmak üzere binlerle ölçülen bir müvekkil portföyünün vekilliğini üstlenmiştir.
                                </p>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                    </div>
                </section>
                <!-- Section: Links  -->
                <!-- Copyright -->
                <div class="text-center"
                     style="font-size:14px; background-color: #ffffff">
                    ©
                    <a class="text-black" href="">1974-2024 Öz&Partners; Avukatlık Ofisi - Tüm Hakları Saklıdır</a>
                </div>
                <!-- Copyright -->
            </footer>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <!-- Bootstrap core JS-->
    <!-- Core theme JS-->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


